extends ../layout.pug

block includes
    link(rel="preload", href="images/erpAll/header-bg.jpg", as="image")
    link(rel="preload", href="images/erpAll/header-bg-s.jpg", as="image")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://csshake.surge.sh/csshake.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js", defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineMax.min.js", defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js", defer)
    script(src='assets/jquery.touchSwipe.min.js', defer)
    link(rel="stylesheet", href="/tw/dsc/assets/submenu/submenu.css")
    script(src="/tw/dsc/assets/submenu/submenu.js")
    link(rel='stylesheet', href='css/erpAll/style.css')
    script(src='js/erpAll.min.js', defer)

block content
    include erp-all.html