main *, main *:before, main *:after {
    box-sizing: content-box;
}

main #banner {
    background: url("../images/bg_banner.jpg") no-repeat center top;
    margin-bottom: 100px;
}

main #banner.section {
    padding: 0;
}

main #benchmark {
    height: 570px;
    background: url("../images/bg_benchmark.jpg") no-repeat center top;
}

main #benchmark h2 {
    font-size: 26px;
    line-height: 36px;
}

main #benchmark h2 strong {
    font-size: 36px;
}

main #benchmark h2 a {
    font-size: 26px;
    color: #ffff00;
    font-weight: bold;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

main #benchmark h2 a:hover {
    color: #6f79d5;
}

main #benchmark p {
    position: relative;
    width: 440px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    line-height: 27px;
}

main #benchmark p:before, main #benchmark p:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
}

main #benchmark p:before {
    top: -8px;
    left: -8px;
}

main #benchmark p:after {
    bottom: -8px;
    right: -8px;
}

main #benchmark p.part01 {
    margin: 60px 0 50px 185px;
    background-color: rgba(45, 104, 176, 0.95);
}

main #benchmark p.part01:before, main #benchmark p.part01:after {
    background-color: rgba(22, 128, 196, 0.95);
}

main #benchmark p.part02 {
    margin-left: 340px;
    background-color: rgba(18, 70, 137, 0.95);
}

main #benchmark p.part02 span {
    display: block;
    text-align: right;
}

main #benchmark p.part02:before, main #benchmark p.part02:after {
    background-color: rgba(90, 148, 222, 0.95);
}

main #problems {
    padding-bottom: 0;
    background: url("../images/bg_problems.jpg") no-repeat center bottom;
}

main #problems h2 {
    font-size: 30px;
}

main #problems .group {
    position: relative;
    height: 470px;
    margin-top: 40px;
}

main #problems .group img {
    position: absolute;
}

main #problems .group .part01 {
    top: 250px;
    left: 49px;
}

main #problems .group .part02 {
    top: 75px;
    left: 118px;
}

main #problems .group .part03 {
    top: 0;
    left: 367px;
}

main #problems .group .part04 {
    top: 57px;
    left: 577px;
}

main #problems .group .part05 {
    top: 215px;
    left: 640px;
}

main #solutions {
    padding-top: 30px;
    background-color: #6f79d5;
    color: #fff;
}

main #solutions h2 {
    font-size: 26px;
}

main #solutions .solutions {
    margin-top: 40px;
}

main #solutions .solutions li {
    float: left;
    width: 33.33333%;
    text-align: center;
}

main #solutions .solutions li a {
    color: #fff;
}

main #solutions .solutions li a:hover {
    color: #ffff00;
}

main #solutions .solutions li a:hover img {
    background-color: #ffff00;
}

main #solutions .solutions li a:hover span:before {
    width: 100%;
}

main #solutions .solutions li img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

main #solutions .solutions li span {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    font-size: 22px;
}

main #solutions .solutions li span:before {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #ffff00;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

main #caseList .sectionNote {
    text-align: center;
}

main #caseList .case {
    margin-bottom: 20px;
}

main #caseList .case .imgStyle {
    float: left;
}

main #caseList .case .text {
    float: left;
    width: 680px;
    height: 190px;
    padding-left: 20px;
    text-align: justify;
}

main #caseList .case .text h3 {
    color: #4451c5;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
}

main #caseList .case .text p {
    padding-right: 110px;
    font-size: 18px;
    line-height: 27px;
}

main #caseList .case .text .btn-more {
    position: relative;
    text-align: right;
    margin-top: 20px;
    padding-right: 50px;
}

main #caseList .case .text .btn-more a {
    display: inline-block;
    padding: 0 7px;
    background-color: #6f79d5;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

main #caseList .case .text .btn-more:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -20px;
    width: 600px;
    height: 1px;
    margin-top: -1px;
    background-color: #a7b0ff;
}

main #caseList .case .text .btn-more:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -20px;
    width: 0;
    height: 1px;
    margin-top: -1px;
    background-color: #ff9c00;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

main #caseList .case .text .btn-more:hover a {
    background-color: #ff9c00;
}

main #caseList .case .text .btn-more:hover:after {
    width: 600px;
    height: 1px;
}

main #caseList .case.case02 .text {
    width: 600px;
    height: 190px;
    padding: 0 20px 0 80px;
}

main #caseList .case.case02 a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 5px;
    height: 5px;
    margin-top: -3px;
    background-color: #a7b0ff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

main #caseList .case.case02 p {
    position: relative;
    padding-right: 60px;
}

main #caseList .case.case02 .btn-more {
    padding-right: 0;
}

main #caseList .case.case02 .btn-more:hover a:after {
    background-color: #ff9c00;
}

main #CRM {
    background: url("../images/bg_CRM.jpg") no-repeat center center fixed;
    color: #fff;
}

main #CRM .imgStyle {
    display: block;
    margin: 0 auto;
}

main #CRM .imgNote {
    margin: 15px 0 50px;
}
