@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}


main .section h2 {
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 43px;
    font-weight: normal;
    text-align: center;
}

main .section h2 p {
    margin: 0;
    padding: 0;
    line-height: 30px;
    text-align: justify;
}

main .section {
    width: 100%;
    min-width: 1000px;
    padding: 70px 0;
    color: #444444;
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
    line-height: 27px;
}

main .content {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

main .vAlignMiddle {
    text-align: center;
    font-size: 0;
}

main .vAlignMiddle:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

main .vAlignMiddle .vAlignContent {
    display: inline-block;
    vertical-align: middle;
}

main .circle {
    margin: 0 auto;
    border-radius: 50%;
}

main .floatLeft {
    float: left;
}

main .floatRight {
    float: right;
}

main p.imgNote {
    font-size: 19px;
    text-align: center;
}

main p.sectionNote {
    margin: 0 auto 30px;
    padding: 0 50px;
    font-size: 20px;
    line-height: 30px;
}

main p.pageBtn {
    width: 400px;
    line-height: 60px;
    margin: 50px auto 0;
    border: 1px solid #ffffff;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

main p.contactBtn {
    position: relative;
    z-index: 2;
    width: 400px;
    line-height: 55px;
    margin: -30px auto 0;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
}

main p.contactBtn:hover {
    background-color: #ffb400;
}

main #navLink {
    width: 100%;
    min-width: 1020px;
    height: 80px;
    padding: 10px 0;
    background-color: #ffffff;
    font-family: Arial, "微軟正黑體";
    text-align: center;
}

main #navLink > ul {
    display: inline-block;
}

main #navLink > ul > li {
    float: left;
    width: 142px;
    height: 80px;
    border-left: 1px solid #CCC;
    text-indent: -9999px;
}

main #navLink > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

main #navLink .link1 {
    background: url("../images/link_01.png") no-repeat left top;
}

main #navLink .link2 {
    background: url("../images/link_02.png") no-repeat left top;
}

main #navLink .link3 {
    background: url("../images/link_03.png") no-repeat left top;
}

main #navLink .link4 {
    background: url("../images/link_04.png") no-repeat left top;
}

main #navLink .link5 {
    background: url("../images/link_05.png") no-repeat left top;
}

main #navLink .link6 {
    background: url("../images/link_06.png") no-repeat left top;
}

main #navLink .link7 {
    background: url("../images/link_07.png") no-repeat left top;
    border-right: 1px solid #CCC;
}

main #navLink .navLinks:hover {
    background-position: right top;
}

main #navLink .selected {
    background-position: right top;
}

main #navLink .subLink {
    display: none;
    text-align: center;
    width: 100%;
    margin-left: -1px;
    padding-top: 10px;
    border: 1px solid #CCC;
    border-top: none;
    background-color: #FFF;
    text-indent: 0px;
}

main #navLink .subLink > li {
    width: 100%;
    line-height: 40px;
    font-size: 17px;
}

main #navLink .subLink > li a {
    display: block;
}

main #navLink .subLink > li a:hover {
    background-color: #005d81;
    color: #FFF;
}

main .navLink {
    position: absolute;
    z-index: 999;
    top: 602px;
}

main .fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #f7f7f7;
}
