@import '../common';
@import '../case';
@import 'components';

main {
    .header {
        @include headerBg('WB00255301/header-bg.jpg');
    }
    .section1 {
        $breakpoint: 1220px;
        @include bg('WB00255301/section1-bg.jpg', 50% 100%);
        padding-bottom: 100px;
        &-caption {
            margin-top: 1.1em;
            margin-bottom: 63px;
            text-align: center;
        }
        &-boxs {
            display: flex;
            margin: 0 auto;
            width: 320px;
            flex-wrap: wrap;
            @media (min-width: $breakpoint) {
                width: 100%;
            }
            .hoverBox {
                $bgColor: #e7534c, #c28d26, #3a9494;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 224px;
                color: #fff;
                justify-content: center;
                @media (min-width: $breakpoint) {
                    width: 370px;
                }
                & + .hoverBox {
                    margin-top: 20px;
                    @media (min-width: $breakpoint) {
                        margin-top: 0;
                        margin-left: 45px;
                    }
                }
                &::before {
                    display: block;
                    margin: 0 auto 1em;
                    width: 150px;
                    height: 120px;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    content: '';
                }
                &-title {
                    text-align: center;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 1;
                }
                &-hover {
                    display: flex;
                    padding: 0 percentage(65 / 370);
                    color: #fff;
                    text-align: justify;
                    word-break: break-all;
                    letter-spacing: getLetterSpacing(100);
                    line-height: 25px;
                    justify-content: center;
                    align-items: center;
                }
                @for $nth from 1 through 3 {
                    &:nth-child(#{$nth}) {
                        background-color: nth($bgColor, $nth);
                        &::before {
                            background-image: image-url('WB00255301/hoverBox-icon#{$nth}.png');
                        }
                        .hoverBox-hover {
                            background-color: rgba(darken(nth($bgColor, $nth), 20%), .95);
                        }
                    }
                }
            }
        }
    }
    .section2 {
        @include bg('WB00255301/section2-bg.jpg');
        padding-bottom: 100px;
        background-size: cover;
        canvas {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
        &-btns {
            display: flex;
            margin: 45px auto 0;
            max-width: 672px;
            justify-content: center;
            @media (max-width: $mobile-width) {
                flex-direction: column;
                align-items: center;
            }
            a {
                @include btn(100%, 40px, #fff, $main-color);
                font-size: 20px;
                @media (max-width: $mobile-width) {
                    width: 100%;
                    font-size: 20px;
                }
                & + a {
                    margin-left: 30px;
                    @media (max-width: $tablet-width) {
                        margin-left: 1em;
                    }
                    @media (max-width: $mobile-width) {
                        margin-top: 1em;
                        margin-left: 0;
                    }
                }
                @at-root {
                    html.no-mobile main .section2-btns a:hover {
                        background-color: #e93532;
                    }
                }
            }
        }
    }
    .section3 {
        @include bg('WB00255301/section3-bg.jpg');
        padding-bottom: 93px;
        background-size: cover;
        .sectionTitle {
            margin-bottom: 1.5em;
        }
        &-content {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            @media (max-width: $tablet-width) {
                flex-direction: column;
                align-items: center;
            }
            a {
                &:hover {
                    color: #000;
                }
                & + a {
                    margin-left: percentage(80 / 1200);
                    @media (max-width: $tablet-width) {
                        margin-top: 1em;
                        margin-left: 0;
                    }
                }
            }
        }
        figcaption {
            margin-top: .7em;
            text-align: center;
        }
    }
    .section4 {
        padding-bottom: 83px;
        .sectionTitle {
            margin-bottom: 1.5em;
        }
        &-content {
            display: flex;
            @media (max-width: $tablet-width) {
                flex-direction: column;
                align-items: center;
            }
        }
        &-illust {
            margin-right: 1em;
            flex-shrink: 0;
            @media (max-width: $tablet-width) {
                margin-right: 0;
                margin-bottom: 2em;
            }
        }
        &-text {
            width: 100%;
            flex-grow: 1;
            h2,
            p {
                letter-spacing: getLetterSpacing(100);
            }
            h2 {
                color: $main-color;
                font-weight: bold;
                line-height: 26px;
                @media (max-width: $tablet-width) {
                    text-align: center;
                }
            }
            &-btns {
                display: flex;
                margin-top: 1em;
                @media (max-width: $tablet-width) {
                    flex-direction: column;
                    margin-top: 2em;
                    align-items: center;
                }
                a {
                    @include btn(320px, 40px, #fff, $main-color);
                    font-size: 20px;
                    @media (max-width: 1024px) and (min-width: $tablet-width + 1) {
                        padding: 0 10px;
                        width: auto;
                        font-size: 16px;
                    }
                    & + a {
                        margin-left: 25px;
                        @media (max-width: $tablet-width) {
                            margin-top: 1em;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
    .section5 {
        @include bg('WB00255301/section5-bg.jpg');
        padding-bottom: 93px;
        background-size: cover;
        @media (max-width: $tablet-width) {
            background-color: #ececec;
            background-image: none;
        }
        .sectionTitle {
            margin-bottom: calc(1.5em - 15px);
        }
        &-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: $content-width + 20) {
                margin: 0 auto;
                width: 600px;
            }
            @media (max-width: $tablet-width) {
                width: 300px;
            }
        }
    }
}
