main {
    display: block;
    color: #000;
    word-wrap: break-word;
    font-size: 100%;
    line-height: 1;
}
main .container {
    padding: 0;
    width: auto;
}
main h1,
main h2,
main h4,
main h5 {
    padding: 0;
    color: inherit;
    font-weight: normal;
    font-size: 100%;
    line-height: inherit;
}
main i {
    font-style: normal;
}
main table {
    width: auto;
    border-spacing: 0;
}
main .slider-content {
    position: static;
}
main,
main input,
main textarea,
main select,
main button {
    font-family: '微软雅黑', Arial;
}
main a {
    transition: none;
}
main textarea,
main input[type=email],
main input[type=date],
main input[type=password],
main input[type=text] {
    color: initial;
}
