extends ../layout.pug

block includes
    link(rel="preload", href="images/WB00247601_2/header-bg.jpg", as="image")
    link(rel='stylesheet', href='css/WB00247601_2/style.css')
    script(src='assets/jquery-ui-1.12.1.custom/jquery-ui.min.js', defer)
    script(src='js/WB00247601_2.min.js', defer)

block content
    include WB00247601_2.html