<main-header>
    <template slot="content">
        <h1>生產製造</h1>
        <p>
            存貨的控制不是盲目的砍庫存？
            <br />採購追料也無法解決缺料問題？
            <br />專屬機械業的動態BOM與特徵碼是什麼？
            <br />靈活的BOM將與您迎接高度客製化接單時代來臨...
        </p>
    </template>
</main-header>

<div id="problems" class="section">
    <div class="content">
        <h2>機械同業反應建置資訊系統欲改善的問題</h2>
        <p class="sectionNote">統計今年度機械業反映的作業與管理困擾整理出相關數據，發現經濟景氣再不佳，機械業對於資訊系統建置與歸劃依然持續在進行，誠如下圖所示，ERP建置仍是首要，其中尤以<span class="highLight">BOM、缺料管理與生產製造</span>議題最受重視，並期望能透過資訊系統的建置來改善的重點。</p>
        <div class="chart clearfix">
            <ul class="left">
                <li>因公司規模擴編、營業額成長，舊系統已不敷使用，需要導入較完整之ERP，尤其是生管製程的功能加強</li>
                <li class="highLight">零件數多，產品BOM較複雜，人工不易管理， 還有委外加工物料需要管理。</li>
                <li class="highLight">接客製訂單，產品樣式多，加工程序也多，原系統無法符合，很多作業仍需要人工處理。</li>
                <li>特殊品號規格多，成本及庫存難估計，全品項客製常需要設計變更。</li>
                <li>人事薪資結合刷卡出缺勤，績效考核、教育訓練、人員招募。</li>
                <li>希望將ISO文件、表單資訊化，加強內部流程管理與主管出差外地時，方便隨時簽核。</li>
            </ul>
            <ul class="right">
                <li class="problemList problem01"><span class="digital">67.2%</span></li>
                <li class="problemList problem02"><span class="digital">48.5%</span></li>
                <li class="problemList problem03"><span class="digital">62.6%</span></li>
                <li class="problemList problem04"><span class="digital">33.7%</span></li>
                <li class="problemList problem05"><span class="digital">29.8%</span></li>
                <li class="problemList problem06"><span class="digital">36.8%</span></li>
            </ul>
        </div>
        <p class="imgNote">▲ 機械同業建置資訊系統欲改善問題分布圖</p>
        <div class="callIn">
            <img class="callIn01 wow fadeInUp" data-wow-offset="150" data-wow-duration="1s" src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_callIn01.png" alt="來自桃園某精密工業來電：你好，我們公司因為產品轉型為客製專業機，在零件及生管流程管理上較複雜，原系統無法符合......" /><img class="callIn02 wow fadeInUp" data-wow-offset="150" data-wow-duration="1s" src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_callIn02.png" alt="來自新北某電力機械製造廠來電：你好，因廠區常有插單，缺料狀況，目前皆由人工處理排程，不易掌控，希望能有系統運算產能最佳化......" /><img class="callIn03 wow fadeInUp" data-wow-offset="150" data-wow-duration="1s" src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_callIn03.png" alt="來自台中某CNC分度盤製造廠來電：最近訂單選配需求提高，BOM斷階與品號編碼需要重新調整，還有庫存貨與生產成本居高不下......" />
        </div>
    </div>
</div>
<div id="problemsBOM" class="section">
    <div class="content">
        <div class="bomProcess clearfix">
            <div class="left">
                <h2>
                    為什麼<span class="highLight">BOM</span>是<br />
                    最多業者反映的困擾？
                </h2>
                <p>產品的BOM是生產的源頭所在，從研發初次架設完成後，後續在經歷多次的設計變更或是重啟套用後，這些調整的訊息若無法正確地從研發單位傳遞到業務、採購與生產等單位，整體作業如「研發設計」、「採購」、「委外加工」與「生產」等即無法同步等，影響層面不容忽視。</p>
                <p class="imgNote">▶ 產品BOM與前後作業流程關係圖</p>
            </div>
            <img src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_bomProcess.png" alt="產品BOM與前後作業流程關係圖" />
        </div>
    </div>
    <div class="bomInfluence">
        <p class="imgNote">▼ 產品<span class="highLight">BOM</span>對各職能的作業影響</p>
        <img class="wow slideInUp" data-wow-offset="50" src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_bom_influence01.jpg" alt="事件" /><img class="wow slideInUp" data-wow-offset="50" data-wow-delay="0.25s" src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_bom_influence02.jpg" alt="困擾" /><img class="wow slideInUp" data-wow-offset="50" data-wow-delay="0.5s" src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_bom_influence03.jpg" alt="影響誰" /><img class="wow slideInUp" data-wow-offset="50" data-wow-delay="0.75s" src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_bom_influence04.jpg" alt="結果" />
    </div>
</div>
<div id="bomIntro" class="section">
    <div class="content">
        <h2>動態BOM與特徵碼</h2>
        <p class="sectionNote">即時及高度整合的BOM結構，能快速擬定訂單用料，協助機械業面對客製化接單的挑戰！</p>
        <p class="paragraph01">
            以往BOM被直接解釋為產品用料清單，但在客製化接單環境趨勢之下，此種定義已經不足以協助企業來進行物料需求規劃。所以鼎新重新將它定義為生產的<span class="highLight">BOM必需包含三大結構分別為：共用料件、標準選配件、訂單特殊選配件</span>以滿足計劃、生產來使用，通常我們會根據共用料件來進行計劃性的採購及生產，以及規劃部份的標準選配件庫存，以因應突如其來的訂單需求，最後再根據訂單的特殊用料需求來進行採購發包。<br />
            <strong>這種即時及高度整合的BOM結構，才能協助機械業面對客製化接單的挑戰，並且能夠協助快速的擬定訂單用料。</strong>
        </p>
        <p class="paragraph02">
            過去是預先做好幾個BOM等著接單，若接到不一樣的功能組合就從現有的BOM再做修改，最後一大堆衍生型號，差異在哪也沒人清楚。現在大多是研發預先將可能的需求，包裝成一個個零散的模組或零件品號，再由業務將客戶的需求轉化成勾選對應的模組。但這兩個方式都還是在「選品號」也常常會忽略相依互斥的關係，訂單一選錯可能就一路錯到客戶端才發現。<br />
            <strong>未來只要讓客戶將需要的產品特徵或功能說出來，業務單位只要照著點選即可，就不需要再擔心選的品號對不對、有沒有遺漏，快速提供客戶報價與擬定訂單用料。</strong>
        </p>
        <img class="imgStyle" src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_bomTimeline.png" alt="機台選配之過去、現在與未來" />
        <p class="imgNote">▲ 機台選配之過去、現在與未來</p>
        <div class="bomExplain clearfix">
            <div class="left">
                <p>業務單位只要依客戶功能選好產品特徵以後，透過產品特徵模板媒合，找到正確的零組件，組出符合客戶需求的BOM。</p>
                <p class="imgNote">▶ 機台特徵碼示意圖</p>
            </div>
            <img src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_bomExplain.png" alt="機台特徵碼示意圖" />
        </div>
    </div>
</div>
<div id="lackMaterial" class="section">
    <div class="content">
        <div class="lackMaterialDes">
            <h2>
                採購跟催很確實，<br />
                但生產時為什麼還缺料？
            </h2>
            <p>機械業本身是屬於「一面設計、一面製造」的生產習性，因此在報價或接單時僅對概略性的機械規格及功能進行評估。而真正的規劃活動卻是從正式接單後開始，造成研發設計活動與生產發包製造活動時有衝突現象，這也是現場生產缺料的主要原因之一。訂單用料的變更尤其加深了物料發包的複雜性，缺料絕不是採購跟催效率低的問題，<strong>面對缺料，機械業必需思考的是，如何在變動下維持最佳平衡狀態的發包計劃，且隨著訂單變動能夠快速的調整發包計劃。</strong></p>
        </div>
        <div class="improveLack">
            <h3>如何改善缺料？</h3>
            <div class="clearfix">
                <div class="left">
                    <h4>精準的庫存分類</h4>
                    <p class="paragraph">
                        機械業本來會有上萬項的庫存品項，客製化的挑戰尤其會導至品項的增加，過往常會習慣依照訂單的需求全部發包下去，但是常常小零件都齊了，就差關鍵料還沒進來不能開工，導致倉庫滿滿，訂單能出的沒幾台。<br />
                        存貨的控制不是盲目的砍庫存，<strong>如果存貨能從模組、關鍵料、長天期等角度進行分類，找出催料的優先序，先求主角要能如期進場</strong>，再要求配角如期到場，倉庫就不會放了一堆無法投入生產的東西。
                    </p>
                </div>
                <div class="right">
                    <h4>四段式採購發包</h4>
                    <p class="paragraph">
                        當客戶訂單猶如敵機臨空般不可預期時，您的生管系統能否應付！當機台的缺料紅單愈來愈多，採購只能在追料與缺料間奔波繁忙？<br />
                        降低庫存很重要，但降了常導致現場停工待料影響生產，若我們能<strong>從銷售預測最適化做起，即能將共用件與選配件的模組規劃搭配銷售預測進行庫存的最小量與最大週轉</strong>。預測之後，接下來做四段式發包，或稱為<strong>「多段式發包」，透過預測與越庫管理推估出五大鑄件及關鍵料的數量。</strong>
                    </p>
                </div>
            </div>
            <p class="imgNote">機台預測(共用件)</p>
            <img class="imgStyle" src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_forecast01.png" alt="機台預測(共用件)" />
            <p class="imgNote">選配件預測</p>
            <img class="imgStyle" src="https://www.digiwin.com/tw/dsc/solution/WB002476/images/manufacture/img_forecast02.png" alt="選配件預測" />
        </div>
    </div>
</div>

<contact v-bind:multiple="false" source=""></contact>