/* 電腦版型 */

#WRAPPER {}
#TOP-MENU {	display:none;}
#TOP-MENU h4 {}
#TOP-MENU h5 {}

#nav {
	height: 35px;
	background-color: #f4f5f5;
	position: relative;
	font-family: Arial, "新細明體", "微軟正黑體";
	z-index:999995;
	width: 100%;
}

#nav .logo {
	float: left;
	position: absolute;
	left: 45px;
	top: 3px;
	z-index:999999;
}

#nav .link {
	float: right;
	letter-spacing:1px;
	width:450px;
	text-align: center;
	height: 35px;
}

#nav .link>li {
	border-right:1px solid #c4c4c4;
	width: 100px;
	float: left;
	font-size: 13px;
	color: #757373;
	line-height: 35px;
}

#nav .link>li a {
	text-decoration: none;
	color: #757373;
	display: block;
}

#nav .link>li:hover {
	text-decoration: none;
	color: #757373;
	background-color: #e0e0e0;
	line-height: 35px;
}
#nav .link .Phone {
	border-right:0px solid #999;
	width: 130px;
	font-weight: bold;
}

#nav .link .Phone:hover, #nav .link .line:hover {
	background-color: #f4f5f5;
}

#nav .link .line_L {
	border-left:1px solid #c4c4c4;
}

#nav .link .subLink {
	display: none;
	border-left:1px solid #c4c4c4;
	border-top:none;
	background-color:#FFF;
	z-index:999995;
}

#nav .link .subLink li a {
	display:block;
	height:35px;
	color:#757373;
	text-align:center;
}

#nav .link .subLink li a:hover {
	background:#f4f5f5;
}

#dgwFooter {
	background-color: #d9d9d9;
	width: 100%;
	border-top: 1px solid #FFF;
	text-align: center;
	padding-top: 13px;
	color: #595757;
	font-size: 13px;
	font-family: "新細明體", "微軟正黑體";
	padding-bottom: 17px;
}

#dgwFooter .link01 a {
	font-size: 13px;
	color: #595757;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 0 3px 0 0x;
}

#dgwFooter .link01 a:hover {
	font-size: 13px;
	color: #595757;
	text-decoration: underline;
	text-align: center;
	display: inline-block;
	padding: 0 3px 0 0x;
}

#dgwFooter .link01 span {
	font-size: 9px;
	text-align: center;
	display: inline-block;
}

#dgwFooter .link02 {
	margin: 14px 0px 8px 0px;
	text-align: center;
}

#dgwFooter .link02 ul li a {
	font-size: 13px;
	color: #595757;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 0 4px 0 1px;
}

#dgwFooter .link02 ul li a:hover {
	font-size: 13px;
	color: #595757;
	text-decoration: underline;
	text-align: center;
	display: inline-block;
	padding: 0 4px 0 1px;
}

#dgwFooter .link02 ul li span {
	font-size: 13px;
	text-align: center;
	display: inline-block;
}

#dgwFooter p {
	font-size: 13px;
	margin: 0;
	clear: both;
}

.clear{clear:both; font-size:0px; padding:0;height:0;line-height:0;  margin:0}
