@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}
main.WB002588_2 *, main.WB002588_2 *:before, main.WB002588_2 *:after {
    box-sizing: content-box;
}

main.WB002588_2 body {
    font-family: Arial, "微軟正黑體", "新細明體";
    background-color: #f5f5f5;
    background-image: url(https://static.digiwin.com/tw/dsc/service/WB002588/images/bg2.png);
}

main.WB002588_2 #Block1 {
    clear: both;
    display: block;
    width: 100%;
    min-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    background-image: url(https://static.digiwin.com/tw/dsc/service/WB002588/images/bg2.png);
}

main.WB002588_2 .content {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 0;
}

main.WB002588_2 #Block1 .content h2 {
    color: #4da4b1;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 42px;
    letter-spacing: 4px;
    margin: 30px;
    text-align: center;
    font-weight: normal;
}

main.WB002588_2 #Block1 .content .text1 {
    color: #000;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
}

main.WB002588_2 #Block1 h4 {
    width: 100%;
    margin: 0 auto;
    line-height: 45px;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    font-weight: normal;
}

main.WB002588_2 #Block1 .content h3 {
    color: #4da4b1;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 20px 0 0 15px;
    text-align: left;
    font-weight: normal;
    background-image: url(https://static.digiwin.com/tw/dsc/service/WB002588/images/icon06.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 55px;
}

main.WB002588_2 #Block1 .content #LL {
    width: 500px;
    float: left;
}

main.WB002588_2 #Block1 .content img {
    float: right;
    margin-left: 10px;
}

main.WB002588_2 #Block1 .content p {
    color: #333;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 15px;
    text-align: left;
    font-weight: normal;
    line-height: 1.6;
}

main.WB002588_2 #Block1 .content p span {
    color: #333;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: left;
    font-weight: bold;
}

main.WB002588_2 #Block1 .content p a {
    width: 90px;
    height: 50px;
    overflow: hidden;
    background-color: #22BEC6;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block1 .content p a:hover {
    width: 90px;
    height: 50px;
    overflow: hidden;
    background-color: #ff8522;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block2 {
    width: 100%;
    min-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #22bec6;
}

main.WB002588_2 .content {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0;
}

main.WB002588_2 #Block2 .content h2 {
    color: #fff;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 42px;
    letter-spacing: 4px;
    margin: 30px;
    text-align: center;
    font-weight: normal;
}

main.WB002588_2 #Block2 .content .text1 {
    color: #fff;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
}

main.WB002588_2 #Block2 .content h3 {
    color: #fff;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 20px 0 0 15px;
    text-align: left;
    font-weight: normal;
    background-image: url(https://static.digiwin.com/tw/dsc/service/WB002588/images/icon06w.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 55px;
}

main.WB002588_2 #Block2 .content #LL {
    width: 500px;
    float: left;
}

main.WB002588_2 #Block2 .content img {
    float: right;
    margin-left: 10px;
}

main.WB002588_2 #Block2 .content p {
    color: #333;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 15px;
    text-align: left;
    font-weight: normal;
    line-height: 1.6;
}

main.WB002588_2 #Block2 .content p span {
    color: #333;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: left;
    font-weight: bold;
}

main.WB002588_2 #Block2 .content p a {
    width: 90px;
    height: 50px;
    overflow: hidden;
    background-color: #22BEC6;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block2 .content p a:hover {
    width: 90px;
    height: 50px;
    overflow: hidden;
    background-color: #ff8522;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block2 .content .RRboxB .btn_g a {
    width: 100px;
    height: 50px;
    overflow: hidden;
    background-color: #0e5b69;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block2 .content .RRboxB .btn_g a:hover {
    width: 100px;
    height: 50px;
    overflow: hidden;
    background-color: #0189a2;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block2 .content .RRboxB .btn_d a {
    width: 100px;
    height: 50px;
    overflow: hidden;
    background-color: #017817;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block2 .content .RRboxB .btn_d a:hover {
    width: 100px;
    height: 50px;
    overflow: hidden;
    background-color: #4b8e2a;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block3 {
    width: 100%;
    min-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    background-image: url(https://static.digiwin.com/tw/dsc/service/WB002588/images/bg2.png);
}

main.WB002588_2 .content {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0;
}

main.WB002588_2 #Block3 .content h3 {
    color: #4da4b1;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 20px 0 0 15px;
    text-align: left;
    font-weight: normal;
    background-image: url(https://static.digiwin.com/tw/dsc/service/WB002588/images/icon06.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 55px;
}

main.WB002588_2 #Block3 .content #diagnosis {
    float: left;
    width: 250px;
    height: 350px;
    display: block;
    margin: 20px 0px 50px 40px;
    text-align: center;
    padding: 15px;
}

main.WB002588_2 #Block3 .content #diagnosis h4 {
    color: #333;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    margin: 10px;
    color: #1d7d8b;
    line-height: 1.6;
}

main.WB002588_2 #Block3 .content #diagnosis p {
    color: #333;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: normal;
    line-height: 1.8;
}

main.WB002588_2 #Block3 #btn a {
    clear: both;
    display: block;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    border-radius: 5px 5px 5px 5px;
    background-color: #ee6603;
    color: #FFF;
    font-size: 16px;
    letter-spacing: 2px;
}

main.WB002588_2 #Block3 #btn a:hover {
    background-color: #ff8522;
}

main.WB002588_2 #Block4 {
    width: 100%;
    min-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #22bec6;
}

main.WB002588_2 .content {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0;
}

main.WB002588_2 #Block4 .content h2 {
    color: #fff;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 42px;
    letter-spacing: 4px;
    margin: 30px;
    text-align: center;
    font-weight: normal;
}

main.WB002588_2 #Block4 .content .text1 {
    color: #fff;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
}

main.WB002588_2 #Block4 .content h3 {
    color: #fff;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 20px 0 0 15px;
    text-align: left;
    font-weight: normal;
    background-image: url(https://static.digiwin.com/tw/dsc/service/WB002588/images/icon06w.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 55px;
}

main.WB002588_2 #Block4 .content #LL {
    width: 500px;
    float: left;
}

main.WB002588_2 #Block4 .content img {
    float: right;
    margin-left: 10px;
}

main.WB002588_2 #Block4 .content p {
    color: #333;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 15px;
    text-align: left;
    font-weight: normal;
    line-height: 1.6;
}

main.WB002588_2 #Block4 .content p span {
    color: #333;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: left;
    font-weight: bold;
}

main.WB002588_2 #Block4 .content p a {
    width: 90px;
    height: 50px;
    overflow: hidden;
    background-color: #22BEC6;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block4 .content p a:hover {
    width: 90px;
    height: 50px;
    overflow: hidden;
    background-color: #ff8522;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block4 .content .RRboxB .btn_g a {
    width: 100px;
    height: 50px;
    overflow: hidden;
    background-color: #0e5b69;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block4 .content .RRboxB .btn_g a:hover {
    width: 100px;
    height: 50px;
    overflow: hidden;
    background-color: #0189a2;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #Block4 .content a.c2 {
    background-image: none;
    width: 90px;
    height: 35px;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-color: #017817;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-left: 5px;
    letter-spacing: 1px;
}

main.WB002588_2 #Block4 .content a.c2:hover {
    background-image: none;
    width: 90px;
    height: 35px;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-color: #4b8e2a;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
}

main.WB002588_2 #banner {
    width: 100%;
    min-width: 1000px;
    height: 380px;
    margin-top: 0px;
    background: url(https://static.digiwin.com/tw/dsc/service/WB002588/images/bannerBg2b.jpg) no-repeat top center;
}

main.WB002588_2 #banner #blockCon {
    width: 1000px;
    height: 329px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
}

main.WB002588_2 #banner .block {
    position: absolute;
    top: 0;
    left: 1000px;
}

main.WB002588_2 #banner .block img {
    float: left;
    margin-top: 25px;
}

main.WB002588_2 #banner .block p {
    width: 610px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: justify;
    padding: 0 20px 0 0;
    float: right;
    margin-top: 85px;
}

main.WB002588_2 #banner .block span {
    color: #4da4b1;
    font-weight: bold;
    text-align: right;
    display: block;
}

main.WB002588_2 #banner .block a:hover span {
    color: #ff6c00;
}

main.WB002588_2 #banner ul {
    width: 300px;
    margin: 15px auto 0;
}

main.WB002588_2 #banner li {
    width: 40px;
    height: 13px;
    text-indent: -9999px;
    background-color: #777;
    float: left;
    margin-left: 10px;
}

main.WB002588_2 #banner #block1 {
    left: 0;
}

main.WB002588_2 #banner #num {
    cursor: pointer;
}

main.WB002588_2 #banner .now {
    left: 0;
}

main.WB002588_2 #banner .tabNow {
    background-color: #4da4b1;
}

main.WB002588_2 #wrapper {
    width: 960px;
    padding: 40px 0 0;
    position: relative;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

main.WB002588_2 #wrapper li {
    width: 295px;
    margin: 0 37px 25px 0;
    float: left;
    transform: translate(0, 0);
    transition: all 0.2s ease-out;
}

main.WB002588_2 #wrapper li:hover {
    transform: translate(0, -20px);
}

main.WB002588_2 #wrapper li.end {
    margin-right: 0;
}

main.WB002588_2 #wrapper h4 {
    padding-left: 10px;
}

main.WB002588_2 #wrapper h4 a {
    color: #0bb580;
}

main.WB002588_2 #wrapper h4 a:hover {
    color: #fdb813;
}

main.WB002588_2 #wrapper p {
    padding: 0 10px;
}

main.WB002588_2 #wrapper span a {
    color: #ff6c00;
    font-weight: bold;
}

main.WB002588_2 #wrapper span a:hover {
    color: #e63404;
}

main.WB002588_2 #button {
    width: 308px;
    margin: 50px auto 80px;
}

main.WB002588_2 #button p {
    width: 204px;
    height: 54px;
    float: left;
    text-indent: -9999px;
}

main.WB002588_2 #button #contactDSC {
    background: url(https://static.digiwin.com/tw/dsc/service/WB002588/images/contactDSC.png) no-repeat left top;
}

main.WB002588_2 #button #back {
    background: url(https://static.digiwin.com/tw/dsc/service/WB002588/images/back2.png) no-repeat left top;
    margin-left: 50px;
}

main.WB002588_2 #button #contactDSC:hover, main.WB002588_2 #button #back:hover {
    background-position: right top;
}


main.WB002588_2 #MAIN {
    width: 900px;
    margin: 0 auto;
}

main.WB002588_2 #MAIN ul {
    list-style: none;
    margin: 0;
    padding: 30px;
}

main.WB002588_2 #MAIN li {
    float: left;
    margin-right: 5px;
    position: relative;
    display: block;
    width: 205px;
    height: 40px;
    background-color: #DDD;
    border: 0px solid #fff;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}

main.WB002588_2 #MAIN li a {
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    display: block;
    width: 205px;
    height: 42px;
    text-align: center;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}

main.WB002588_2 .NOWTAB {
    background-color: #e8d53c;
    color: #F09;
    font-weight: bold;
}

main.WB002588_2 #BOX2, main.WB002588_2 #BOX3, main.WB002588_2 #BOX4, main.WB002588_2 #BOX6, main.WB002588_2 #BOX7 {
    display: none;
}

main.WB002588_2 #MAIN #BOX5 .LLbox {
    float: left;
    display: block;
    width: 300px;
    height: 270px;
    padding-left: 5px;
}

main.WB002588_2 #MAIN .LLbox {
    float: left;
    display: block;
    width: 300px;
    height: 320px;
    padding-left: 20px;
}

main.WB002588_2 #MAIN .LLbox img {
    float: left;
    display: block;
    margin: 0px;
    padding: 0px;
}

main.WB002588_2 #MAIN .LLbox h4 {
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    float: left;
    clear: both;
    display: block;
    width: 280px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #4c5151;
    color: #FFF;
    font-size: 15px;
}

main.WB002588_2 #MAIN .LLbox p {
    float: left;
    clear: both;
    display: block;
    width: 255px;
    color: #000;
    font-size: 13px;
    padding: 15px 10px 10px 15px;
    margin: 0px;
    line-height: 1.8;
    background-color: #edf0f0;
    letter-spacing: 1px;
}

main.WB002588_2 #MAIN .LLbox p a {
    width: 90px;
    height: 30px;
    overflow: hidden;
    background-color: #069ea6;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

main.WB002588_2 #MAIN .LLbox p a:hover {
    width: 90px;
    height: 30px;
    overflow: hidden;
    background-color: #18dbc2;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

main.WB002588_2 #MAIN #BOX5 .RRbox {
    float: right;
    display: block;
    width: 470px;
    height: 270px;
}

main.WB002588_2 #MAIN .RRbox {
    float: right;
    display: block;
    width: 500px;
    height: 320px;
}

main.WB002588_2 #MAIN .RRbox h4 {
    font-size: 28px;
    color: #FFF;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
}

main.WB002588_2 #MAIN .RRbox p {
    font-size: 16px;
    color: #000;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0px;
    color: #FFF;
}

main.WB002588_2 #MAIN #BOX5 .RRbox p {
    font-size: 16px;
    color: #000;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0px;
    color: #FFF;
}

main.WB002588_2 #MAIN .RRbox td {
    font-size: 15px;
    color: #000;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0px;
    text-align: center;
}

main.WB002588_2 #MAIN .RRbox p a {
    width: 90px;
    height: 50px;
    overflow: hidden;
    background-color: #ee6603;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #MAIN .RRboxB p a {
    width: 90px;
    height: 50px;
    overflow: hidden;
    background-color: #ee6603;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 #MAIN .RRboxB p.leftright {
    left: 300px;
}

main.WB002588_2 .BOXS {
    clear: both;
    width: 840px;
    border: 1px solid #fff;
    overflow: hidden;
    padding: 30px;
    background-color: #4da4b1;
    border-radius: 8px 8px 8px 8px;
}

main.WB002588_2 #MAIN .LLboxB {
    color: #FFF;
    line-height: 30px;
    float: left;
    display: block;
    width: 300px;
    height: 220px;
    margin-left: 10px;
}

main.WB002588_2 #MAIN .LLboxB p.txt9 {
    color: #FFF;
    font-size: 12px;
}

main.WB002588_2 #MAIN .RRboxB {
    float: right;
    display: block;
    width: 500px;
    height: 220px;
}

main.WB002588_2 #MAIN .RRboxB h4 {
    font-size: 28px;
    color: #FFF;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;
}

main.WB002588_2 #MAIN .RRboxB p {
    font-size: 16px;
    color: #000;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0px;
    color: #FFF;
}

main.WB002588_2 #MAIN .RRboxB p a {
    width: 90px;
    height: 50px;
    overflow: hidden;
    background-color: #ee6603;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
}

main.WB002588_2 .BOXS p {
    color: #FFF;
    font-size: 50px;
    line-height: 1.8;
    letter-spacing: 1px;
    padding-top: 10px;
}

main.WB002588_2 .mov {
    padding: 0px;
}
