<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="AI．空間．體驗論壇 從消費體驗到再創需求">
    <meta name="keywords" content="AI．空間．體驗論壇 從消費體驗到再創需求">
    <title>AI．空間．體驗論壇 從消費體驗到再創需求 - 鼎新電腦</title>
    <link rel="stylesheet" href="https://www.digiwin.com/tw/dsc/Library/css/bar_m.css">
    <script src="assets/jquery.min.js" defer></script>
    <script src="https://www.digiwin.com/tw/dsc/Library/js/menu_m.js" defer></script>
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MRWJL2');
    </script>
    <!-- End Google Tag Manager-->
    <link rel="stylesheet" href="assets/swiper.css">
    <link rel="stylesheet" href="css/WB00291403.css?v=0.9339516985635292">
    <script src="assets/jquery.sticky.js" defer></script>
    <script src="assets/swiper.js" defer></script>
    <script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js" defer></script>
    <script src="js/common.min.js?v=0.034655119844989146" defer></script>
    <script src="js/WB00291403.min.js?v=0.8394763785649519" defer></script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRWJL2" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div id="TOP-MENU">
      <h4 id="LOGO_M">鼎新電腦</h4>
      <h5 id="BTN">MENU</h5>
    </div>
    <div id="nav"><a href="https://www.digiwin.com/tw/" target="_blank"><img class="logo" src="https://www.digiwin.com/tw/dsc/Library/images/logo.png" alt="鼎新官網" width="90" height="29"></a>
      <ul class="link">
        <li class="line_L"><a href="https://www.digiwin.com/tw/activity.html" target="_blank">最新課程</a></li>
        <li><a href="https://www.digiwin.com/tw/enewspaper.html" target="_blank">電子報</a></li>
        <li><a href="javascript:;">解決方案<img src="https://www.digiwin.com/tw/dsc/Library/images/arr.png" width="9" height="7"></a>
          <ul class="subLink">
            <li><a href="https://www.digiwin.com/tw/case.html" target="_blank">E化案例</a></li>
          </ul>
        </li>
        <li><a href="https://www.youtube.com/user/DSCTCE00" target="_blank">YouTube<img src="https://www.digiwin.com/tw/dsc/Library/images/arr.png" width="9" height="7"></a>
          <ul class="subLink">
            <li><a href="https://www.facebook.com/DSCmain" target="_blank">鼎新粉絲團</a></li>
            <li><a href="https://www.digiwin.com/tw/dsc/service/WB002588/WB00258801.html" target="_blank">心服務新價值</a></li>
            <li><a href="https://a1.digiwin.com/" target="_blank">商務應用雲</a></li>
            <li><a href="https://www.digiwin.com/tw/dsc/service/WB002903/web/WB00290301_index.htm" target="_blank">鼎新服務雲</a></li>
          </ul>
        </li>
        <li class="Phone"><a href="https://www.digiwin.com/tw/contact/eform.html"><img src="https://www.digiwin.com/tw/dsc/Library/images/phoneIcon.png" width="16" height="12"> 0800-888-162</a></li>
      </ul>
    </div><div id="mbnav" class="mbnav js-fixedNav">
    <div class="container">
        <a href="#content" class="js-nav" data-offset="60">論壇<br>內容</a>
        <a href="#schedule" class="js-nav" data-offset="60">論壇<br>議程</a>
        <a href="#cast" class="js-nav" data-offset="60">重量<br>卡司</a>
        <a href="#signup" class="js-nav" data-offset="60">線上<br>報名</a>
    </div>
</div>

<header>
    <h1>
        <picture>
            <source srcset="images/03/header-img-m.png" media="(max-width: 1024px)">
            <source srcset="images/03/header-img.png">
            <img src="images/03/header-img.png" alt="AI．空間．體驗論壇 從消費體驗到再創需求">
        </picture>
    </h1>
</header>

<nav id="pcnav" class="js-fixedNav">
    <div class="container">
        <a href="#content" class="js-nav" data-offset="60">論壇內容</a>
        <a href="#schedule" class="js-nav" data-offset="60">論壇議程</a>
        <a href="#cast" class="js-nav" data-offset="60">重量卡司</a>
        <a href="#signup" class="js-nav" data-offset="60">線上報名</a>
    </div>
</nav>

<div id="content" class="banner container">
    <strong>以AI擘劃消費者畫像，以空間設計創造消費體驗，打造O2O 線上線下完美結合</strong><br>
    <strong>探索需求</strong>：我知道他是誰，需要什麼購物體驗；我不知道他是誰，但我知道他可能要什麼<br>
    <strong>體驗互動</strong>：創造與消費者互動，記下各種喜好，讓他享有驚艷的購物體驗<br>
    <strong>超越期待</strong>：抓住消費者的心，做到超乎他想像與期待，讓他再度光臨<br>
    <strong>虛實融合</strong>：把商品、顧客、服務虛實空間緊密連結，再創消費需求，導引觸購
</div>

<div class="main container">
    AI人工智慧將改變零售業的商業模式，並擺脫價格廝殺的競爭現狀，<br>
    運用AI科技，緊密連結虛實空間，打造消費者可以親身參與感受與互動體驗場景，<br>
    與消費者關係達成長期連結，讓企業可以聽到消費者的聲音，零距離的溝通管道；<br>
    看到消費者的喜好，提前預測需求；與消費者緊密連結，再創消費需求。
</div>

<article id="cast" class="cast">
    <div class="container">
        <h1 class="cast-title">重量卡司．跨界對談</h1>
        <section>
            <h1 class="cast-subtitle">講者</h1>
            <ul class="cast-items">
                <li class="cast_popup_open js-cast_popup_open" data-index="1">
                    <figure>
                        <img src="images/03/cast-avatar1.png" alt="">
                        <figcaption>
                            <p>阿里巴巴最強的神秘實驗室</p>
                            <p>達摩院高手</p>
                            <p>馬春陽 高級體驗專家</p>
                        </figcaption>
                    </figure>
                </li>
                <li class="cast_popup_open js-cast_popup_open" data-index="2">
                    <figure>
                        <img src="images/03/cast-avatar2.png" alt="">
                        <figcaption>
                            <p>東南亞最大電商平臺</p>
                            <p>Lazada體驗設計負責人</p>
                            <p>阿里巴巴集團 邱浩軒 設計總監</p>
                        </figcaption>
                    </figure>
                </li>
                <li class="cast_popup_open js-cast_popup_open" data-index="3">
                    <figure>
                        <img src="images/03/cast-avatar3.png" alt="">
                        <figcaption>
                            <p>AI用戶體驗設計先行者</p>
                            <p>東海大學數位創新碩士學位學程</p>
                            <p>周忠信 主任</p>
                        </figcaption>
                    </figure>
                </li>
                <li class="cast_popup_open js-cast_popup_open" data-index="4">
                    <figure>
                        <img src="images/03/cast-avatar4.png" alt="">
                        <figcaption>
                            <p>智慧空間設計領航者</p>
                            <p>東海大學建築系</p>
                            <p>邱浩修 主任</p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
        <section>
            <h1 class="cast-subtitle">與談人</h1>
            <ul class="cast-items">
                <li class="cast_popup_open js-cast_popup_open" data-index="5">
                    <figure>
                        <img src="images/03/cast-avatar5.png" alt="">
                        <figcaption>
                            <p>流通業產業趨勢領航者</p>
                            <p>商業發展研究院</p>
                            <p>朱浩 副所長</p>
                        </figcaption>
                    </figure>
                </li>
                <li class="cast_popup_open js-cast_popup_open" data-index="6">
                    <figure>
                        <img src="images/03/cast-avatar6.png" alt="">
                        <figcaption>
                            <p>兩岸三地市場營銷大師</p>
                            <p>鼎新電腦</p>
                            <p>陳劉杰 副總裁</p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
    </div>

    <div id="cast_popup" class="cast_popup">
        <div class="cast_popup-container swiper-container">
            <div id="cast_popup-app" class="swiper-wrapper">
                <section v-for="(result, index) in results" class="cast_popup-slide swiper-slide">
                    <div class="cast_popup-content">
                        <div class="cast_popup-col">
                            <img :src="'images/03/cast-avatar' + (index + 1) + '.png'" alt="">
                        </div>
                        <div class="cast_popup-col">
                            <h1>{{result.name}}</h1>
                            <h2>{{result.position}}</h2>
                            <dl>
                                <dt>現任</dt>
                                <dd>
                                    <ul>
                                        <li v-for="item in result.current">{{item}}</li>
                                    </ul>
                                </dd>
                                <dt>學、經歷</dt>
                                <dd>
                                    <ul>
                                        <li v-for="item in result.exp">{{item}}</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </section>
            </div>
            <div class="cast_popup-button-prev cast_popup-button"></div>
            <div class="cast_popup-button-next cast_popup-button"></div>
            <div class="cast_popup-pagination"></div>
        </div>
        <button class="cast_popup_close"></button>
    </div>
</article>

<a id="signup" class="signupEntry" href="http://acpms.digiwin.com/WebRegACT/index.html?gNo=2018110001" target="_blank">
    <p>線上報名</p>
    <p>報名專線：0800-009-890</p>
</a>

<article id="schedule" class="schedule container">
    <h1>活動議程</h1>
    <div class="schedule-date">
        <p>
            <img src="images/03/calendar-icon.png" alt="">
            107.12 .11(二)13:30～17:10 (13:00開放入場)
        </p>
        <p>
            <a href="https://www.google.com.tw/maps/place/412台中市大里區中興路一段161號/@24.0861335,120.693374,17z/data=!3m1!4b1!4m5!3m4!1s0x34693cbc74576103:0x4a0ab578df9d3da5!8m2!3d24.0861335!4d120.6955627?hl=zh-TW" target="_blank">
                <img src="images/03/map-icon.png" alt="">
                <strong>鼎新電腦台中分公司</strong><br>
                台中市大里區中興路一段161號2樓M201會議室 (中軟園區)
            </a>
        </p>
    </div>
    <dl class="schedule-list">
        <dt>13:00~13:30</dt>
        <dd>學員報到</dd>
        <dt>13:30~13:40</dt>
        <dd>
            <div>貴賓致詞</div>
            <div>王立志 東海大學副校長<br>莊灯男 鼎新電腦公司副總裁</div>
        </dd>
        <dt>13:40~14:20</dt>
        <dd>
            <div>AI短視頻助力線上購物升級</div>
            <div>馬春陽<br>阿里巴巴達摩院人機自然交互實驗室高級體驗設計專家</div>
        </dd>
        <dt>14:20~14:50</dt>
        <dd>
            <div>AI的用戶體驗設計</div>
            <div>周忠信<br>東海大學數位創新碩士學位學程主任</div>
        </dd>
        <dt>14:50~15:00</dt>
        <dd>下午茶時間</dd>
        <dt>15:00~15:40</dt>
        <dd>
            <div>AI設計vs人類設計</div>
            <div>邱浩軒<br>阿里巴巴體驗設計總監</div>
        </dd>
        <dt>15:40~16:10</dt>
        <dd>
            <div>智能時代下的空間體驗設計</div>
            <div>邱浩修<br>東海大學建築系主任</div>
        </dd>
        <dt>16:10~17:10</dt>
        <dd>
            <div>AI時代下線上與線下的機會與挑戰</div>
            <div>主持人：周忠信<br>東海大學數位創新碩士學位學程主任</div>
        </dd>
        <dt></dt>
        <dd>
            <div></div>
            <div>
                與談人：
                <ul>
                    <li>馬春陽 阿里巴巴集團高級體驗專家</li>
                    <li>邱浩軒 阿里巴巴集團體驗設計總監</li>
                    <li>邱浩修 東海大學建築系主任</li>
                    <li>陳劉杰 鼎新電腦公司副總裁</li>
                    <li>朱浩 商業發展研究院副所長</li>
                </ul>
            </div>
        </dd>
    </dl>
</article>

<footer>
    <div class="container">
        <div class="row">
            <div class="col">主辦單位</div>
            <div class="col"><img src="images/03/footer-icon1.png" alt="東海大學"></div>
            <div class="col"><img src="images/03/logo.png" alt="鼎新電腦"></div>
        </div>
        <div class="row">
            <div class="col">協辦單位</div>
            <div class="col">
                <img src="images/03/footer-icon2.png" alt="社團法人台灣連鎖暨加盟協會">
                <img src="images/03/footer-icon3.png" alt="台灣省商業會">
                <img src="images/03/footer-icon4.png" alt="台中市電腦商業同業公會">
            </div>
        </div>
    </div>
</footer>

<!-- 活動截止Banner -->
<div id="endBanner"><Event-end end-date="2018/12/11" page="" :url-map="urlMap"></Event-end></div>
<script src="https://polyfill.io/v3/polyfill.js?features=es5,es6,es7&amp;flags=gated"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/http-vue-loader"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/tw/dsc/assets/EventEnd/eventEnd.js"></script>
    <div id="dgwFooter">
      <div class="link01"><a href="https://www.digiwin.com/tw/portal/page/index/id/1202.html" target="_blank">隱私權聲明</a><span>│</span><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&amp;j=5060436d3c36402256583a1d1d1d1d5f2443a363189j48&amp;jobsource=checkc" target="_blank">人才招募</a><span>│</span><a href="https://www.facebook.com/DSCmain" target="_blank">粉絲團</a><span>│</span><a href="https://www.digiwin.com/tw/contact/eform.html" target="_blank">聯絡我們</a></div>
      <div class="link02">
        <ul>
          <li><img src="https://www.digiwin.com/tw/dsc/Library/images/digiwinSoft.png" width="77" height="18" align="absmiddle"><span>│</span><span class="text01"><a href="/">鼎新電腦</a> ‧ <a href="http://www.digiwin.com" rel="nofollow nofollow" target="_blank">鼎捷軟件</a> ‧ <a href="http://vn.digiwin.biz" rel="nofollow nofollow" target="_blank">鼎捷軟件(越南)</a> ‧ <a href="http://vn.digiwin.biz/en/index.html" target="_blank">鼎捷軟件(馬來西亞)</a> ‧ 鼎華系統 ‧ <a href="http://www.zhilinktech.com/" target="_new">智互聯(深圳)科技</a></span></li>
        </ul>
      </div>
      <p>Copyright ©  鼎新電腦股份有限公司. Copyright ©  Data Systems Consulting Co., Ltd. All rights reserved.</p>
    </div>
  </body>
</html>