.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

main {
    min-width: 360px;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    .container {
        margin: 0 auto;
        padding: 0 20px;
        max-width: $content-width;
    }
    .sectionTitle {
        padding-top: 50px;
        font-size: 30px;
    }
}
