@charset "utf-8";
@import url("reset.css");
/* CSS Document */

html {
	font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust:none;
	font-size:18px;
	background-color:#F5F3F4
}
body {
	margin:0 auto;
	font-family:"微軟正黑體", Arial, Helvetica, sans-serif;
}
h2 { margin:0 auto; font-size:40px; color:#05418b; text-align:center; margin-top:50px; margin-bottom:50px;}

h3 { font-size: 30px; text-align: center; color:#000; padding-top:10px;}
p { font-size: 17px; text-align: center; color: #333; padding-top:10px; padding-bottom:30px;}

a { color:#000; text-decoration:none;}
a:hover { color:#03609e;}

.txt12 {
	font-family: "新細明體";
	font-size: 12px;
	line-height: 1.5;
	letter-spacing:1px;
	color: #505050;
}

.txt13{
	font-family: "新細明體";
	font-size: 13px;
	line-height: 24px;
	letter-spacing:1px;
	color: #464646;
}
.txt13w {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}