@charset "UTF-8";
#WB002839.iso a {
    color: inherit;
}

#WB002839.iso table {
    border-collapse: collapse;
    border-spacing: 0;
}

#WB002839.iso .col-2 {
    width: 50%;
}

#WB002839.iso .col-3 {
    width: 33.33333%;
}

#WB002839.iso .col-4 {
    width: 25%;
}

#WB002839.iso .col-5 {
    width: 20%;
}

#WB002839.iso .section {
    position: relative;
    width: 100%;
    min-width: 1200px;
    padding: 70px 0;
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
    line-height: 1.5;
}

#WB002839.iso .section * {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

#WB002839.iso .section h2 {
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
}

#WB002839.iso .section h3 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2;
}

#WB002839.iso .section .title-line {
    overflow: hidden;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

#WB002839.iso .section .title-line span {
    display: inline-block;
    position: relative;
}

#WB002839.iso .section .title-line span:before, #WB002839.iso .section .title-line span:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 1000%;
    border-bottom: 1px solid #aeaeae;
}

#WB002839.iso .section .title-line span:before {
    left: 100%;
    margin-left: 10px;
}

#WB002839.iso .section .title-line span:after {
    right: 100%;
    margin-right: 10px;
}

#WB002839.iso .section p {
    margin: 0;
    text-align: justify;
}

#WB002839.iso .content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#WB002839.iso .vAlignMiddle {
    text-align: center;
    font-size: 0;
}

#WB002839.iso .vAlignMiddle:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#WB002839.iso .vAlignMiddle .vAlignContent {
    display: inline-block;
    vertical-align: middle;
}

#WB002839.iso .circle {
    margin: 0 auto;
    border-radius: 50%;
}

#WB002839.iso .floatLeft {
    float: left;
}

#WB002839.iso .floatRight {
    float: right;
}

#WB002839.iso .imgCenter {
    display: block;
    margin: 0 auto;
}

#WB002839.iso p.imgNote {
    font-size: 19px;
    text-align: center;
}

#WB002839.iso p.sectionDesc, #WB002839.iso p.sectionDesc-center {
    margin: 0 auto 30px;
    padding: 0 140px;
    font-size: 20px;
    line-height: 1.5;
}

#WB002839.iso p.sectionDesc-center {
    text-align: center;
}

#WB002839.iso .link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

#WB002839.iso .link-normal {
    background-color: #00b0bd;
    color: #fff;
}

#WB002839.iso .link-normal:hover {
    background-color: #00818a;
}

#WB002839.iso .link-outline {
    background-color: transparent;
    border: 1px solid #00b0bd;
    color: #00b0bd;
}

#WB002839.iso .link-outline:hover {
    background-color: #00b0bd;
    color: #fff;
}

#WB002839.iso .link-block {
    display: block;
    margin: 0 auto;
}

#WB002839.iso .linkGroup {
    text-align: center;
}

#WB002839.iso .highLight {
    color: #ffff00;
}

#WB002839.iso .pageName {
    width: 1200px;
    line-height: 48px;
    margin: 0 auto;
    font-family: Arial, "微軟正黑體";
}

#WB002839.iso #indBanner {
    height: 500px;
    margin-bottom: 60px;
    padding: 0;
    color: #fff;
}

#WB002839.iso #indBanner h1 {
    margin-bottom: 4px;
    font-size: 44px;
    line-height: 1.2;
    text-align: left;
}

#WB002839.iso #indBanner .pageDesc {
    width: 700px;
    font-size: 20px;
    line-height: 30px;
}

#WB002839.iso #navLink {
    position: relative;
    z-index: 998;
    width: 100%;
    min-width: 1200px;
    height: 60px;
    margin-top: -60px;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 18px;
    font-family: Arial, "微軟正黑體";
    text-align: center;
}

#WB002839.iso #navLink > ul {
    display: inline-block;
}

#WB002839.iso #navLink > ul > li {
    float: left;
    width: 171px;
    height: 60px;
    line-height: 60px;
    border-left: 1px solid #CCC;
}

#WB002839.iso #navLink > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

#WB002839.iso #navLink > ul > li.end {
    border-right: 1px solid #CCC;
}

#WB002839.iso #navLink .navLinks:hover,
#WB002839.iso #navLink .selected {
    color: #00b0bd;
    font-weight: bold;
}

#WB002839.iso #navLink .subLink {
    display: none;
    text-align: center;
    width: 100%;
    margin-left: -1px;
    border: 1px solid #CCC;
    border-top: none;
    background-color: #FFF;
    text-indent: 0px;
}

#WB002839.iso #navLink .subLink > li {
    width: 100%;
    line-height: 40px;
    font-size: 17px;
}

#WB002839.iso #navLink .subLink > li a {
    display: block;
    color: #333;
    font-weight: normal;
}

#WB002839.iso #navLink .subLink > li a:hover {
    background-color: #00b0bd;
    color: #fff;
}

#WB002839.iso #navLink.fixed {
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 1000;
}

#WB002839.iso #indBanner {
    background: url("../images/iso/bg_banner.jpg") no-repeat center center;
}

#WB002839.iso #indBanner h1 {
    color: #ffff00;
}

#WB002839.iso #indBanner .pageDesc {
    width: 570px;
}

#WB002839.iso #case h3,
#WB002839.iso #solution h3 {
    margin-bottom: 0;
    color: #00b0bd;
    font-size: 22px;
    font-weight: bold;
}

#WB002839.iso #case .txtLayer01 {
    padding: 40px 400px 60px 0;
    background: url("../images/iso/bg_case01.png") no-repeat right center;
}

#WB002839.iso #case .txtLayer01 strong {
    color: #249f73;
    font-weight: normal;
}

#WB002839.iso #case .txtLayer02 {
    padding: 20px 0 20px 440px;
    background: url("../images/iso/bg_case02.png") no-repeat left center;
}

#WB002839.iso #case .txtLayer02 ul {
    padding-left: 22px;
    list-style: disc outside;
}

#WB002839.iso #case .txtLayer02 ul li {
    list-style: disc outside;
}

#WB002839.iso #solution {
    background-color: #e9e9e9;
}

#WB002839.iso #solution .txtLayer {
    margin-top: 80px;
    padding: 0 20px;
}

#WB002839.iso #solution .txtLayer ul,
#WB002839.iso #solution .txtLayer li {
    list-style: disc outside;
}

#WB002839.iso #solution .txtLayer ul {
    margin-bottom: 30px;
    padding-left: 22px;
}

#WB002839.iso #solution .txtLayer li {
    margin-bottom: 10px;
}
