main .index {
    .header {
        @include headerBg('index/header-bg.jpg', 'index/header-bg.jpg', 100% 0);
        h1 {
            color: #ffde00;
        }
        a {
            display: flex;
            flex-direction: column;
            height: inherit;
            justify-content: center;
        }
    }
    .section1 {
        padding-bottom: 60px;
        background-color: #006da0;
        color: #fff;
        section {
            font-weight: bold;
            h1 {
                display: inline-block;
                padding-right: 10px;
                padding-left: 10px;
                height: 31px;
                border-radius: 10px 10px 0 0;
                text-align: center;
                line-height: 31px;
                transform: translateY(1px);
                &.blue {
                    background-color: #00a8ff;
                }
                &.green {
                    background-color: #00c0d1;
                }
                &.cyan {
                    background-color: #00c2eb;
                }
            }
            p {
                padding: 1em;
                border: 1px solid #fff;
                border-radius: 0 5px 5px 5px;
                line-height: 24px;
            }
            & + section {
                margin-top: 20px;
            }
        }
    }
    .section2 {
        padding-bottom: 65px;
        section {
            position: relative;
            margin: 0 auto;
            padding-bottom: 65px;
            width: 300px;
            height: 290px;
            font-weight: bold;
            &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #e4e4e4;
                content: '';
                @at-root {
                    main > .index .section2 section:nth-of-type(odd)::before {
                        transform: rotate(10deg);
                    }
                    main > .index .section2 section:nth-of-type(even)::before {
                        transform: rotate(-10deg);
                    }
                }
            }
            div {
                padding: 25px 20px 20px 20px;
                width: inherit;
                height: inherit;
                background-color: #0098df;
                color: #fff;
                &.blue {
                    background-color: #0098df;
                }
                &.darkBlue {
                    background-color: #006c9f;
                }
                &.green {
                    background-color: #00b8bf;
                }
                &.darkGreen {
                    background-color: #008fa5;
                }
                @at-root {
                    main > .index .section2 section:nth-of-type(odd) div {
                        transform: rotate(-8deg);
                    }
                    main > .index .section2 section:nth-of-type(even) div {
                        transform: rotate(8deg);
                    }
                }
            }
            h1 {
                display: inline-block;
                margin-bottom: .5em;
                border-bottom: 1.5px solid #fff;
                font-weight: bold;
                line-height: 1;
            }
            strong {
                color: #ff0;
            }
            & + section {
                margin-top: 60px;
            }
        }
        &-content {
            margin-bottom: .5em;
            text-align: justify;
        }
        &-source {
            text-align: right;
        }
    }
    .section3 {
        @include bg('index/section3-bg.jpg');
        padding-bottom: 40px;
        p {
            margin-bottom: 2em;
            font-size: 20px;
            line-height: 30px;
        }
        a {
            display: flex;
            color: #0194aa;
            font-weight: bold;
            line-height: 27px;
            align-items: baseline;
            &::before {
                @include imgBg('index/link-icon.png', true);
                margin-right: 4px;
                width: image-width('index/link-icon.png');
                height: image-height('index/link-icon.png');
                content: '';
                flex-shrink: 0;
            }
            i {
                display: inline-block;
            }
        }
    }
    .section4 {
        padding-bottom: 44px;
        p {
            margin-bottom: 1em;
            line-height: 30px;
        }
        img {
            display: block;
            margin: 0 auto 30px;
        }
        a {
            @include btn(100%, 52px, #fff, #0194aa);
            color: #fff;
            font-weight: bold;
        }
    }
    .section5 {
        padding-bottom: 60px;
        background-color: rgb(211, 211, 211);
        &-content {
            display: flex;
            @media (max-width: $tablet-width) {
                flex-direction: column;
                align-items: center;
            }
        }
        &-illust {
            margin-right: 1em;
            flex-shrink: 0;
            @media (max-width: $tablet-width) {
                margin-right: 0;
                margin-bottom: 2em;
            }
        }
        &-text {
            width: 100%;
            flex-grow: 1;
            h2,
            p {
                letter-spacing: getLetterSpacing(100);
            }
            h2 {
                color: #1d7ca3;
                font-weight: bold;
                line-height: 26px;
                @media (max-width: $tablet-width) {
                    text-align: center;
                }
            }
            p {
                margin-bottom: 1em;
            }
        }
        a {
            @include btn(100%, 52px, #fff, #0194aa);
            color: #fff;
            font-weight: bold;
            & + a {
                margin-top: 1em;
            }
        }
    }
    .section6 {
        padding-bottom: 70px;
        background-color: #f3f3f3;
        h1 {
            color: #0e7aa7;
        }
    }
}
