main .order {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .header {
        @include headerBg('order/header-bg.jpg', 'order/header-bg.jpg', 100% 0);
        h1 {
            color: #fff;
        }
        p {
            line-height: 1.3;
            strong {
                font-size: 30px;
            }
        }
    }
    .beforeAndAfter {
        padding-bottom: 60px;
        background-color: #0194aa;
        color: #fff;
        .container {
            position: relative;
            &::before {
                position: absolute;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border-width: 0 160px 80px 0;
                border-style: solid;
                border-color: transparent #004e70 transparent transparent;
                content: '';
            }
            &::after {
                position: absolute;
                color: #00c0d1;
                font-weight: bold;
                font-size: 24px;
                line-height: 1;
                @at-root {
                    main .order .beforeAndAfter.before .container::after {
                        top: 8px;
                        right: 8px;
                        content: 'Before';
                    }
                    main .order .beforeAndAfter.after .container::after {
                        top: 12px;
                        right: 12px;
                        content: 'After';
                    }
                }
            }
        }
        h1,
        h2 {
            text-align: center;
            font-weight: bold;
        }
        h1 {
            padding-top: 50px;
            color: #ff0;
            font-size: 36px;
        }
        h2 {
            margin-bottom: 1em;
            font-size: 22px;
        }
        img {
            display: block;
            margin: 2em 0 auto;
        }
    }
    .action {
        padding-bottom: 60px;
        background-color: #006c9f;
        color: #fff;
        .container {
            position: relative;
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                border-width: 80px 160px 0 0;
                border-style: solid;
                border-color: #fdbe11 transparent transparent transparent;
                content: '';
            }
            &::after {
                position: absolute;
                top: 10px;
                left: 10px;
                color: #00c0d1;
                content: 'Action';
                font-weight: bold;
                font-size: 24px;
                line-height: 1;
            }
        }
        &-title {
            display: flex;
            margin-bottom: 1.5em;
            padding-top: 75px;
            color: #ff0;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            justify-content: center;
            align-items: center;
            &::before {
                @include imgBg('order/action-title-illust.png');
                margin-right: 8px;
                content: '';
            }
        }
        &-desc {
            margin-bottom: 2em;
            font-size: 16px;
            &::first-line {
                font-weight: bold;
            }
        }
        &-ekb {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 320px;
            align-items: center;
        }
        &-quote {
            position: relative;
            margin-bottom: 10px;
            padding: 10px 23px 23px;
            text-align: justify;
            font-size: 16px;
            line-height: 18px;
            &::first-line {
                color: #fde876;
                font-size: 18px;
                line-height: 2;
            }
            &::before,
            &::after {
                @include imgBg('order/quote.png', true);
                position: absolute;
                content: '';
            }
            &::before {
                top: 0;
                left: 0;
            }
            &::after {
                right: 0;
                bottom: 0;
                transform: rotate(180deg);
            }
        }
        &-solution {
            display: flex;
            padding-right: 20px;
            padding-left: 5px;
            align-items: center;
            img {
                width: 106px;
            }
            &-list {
                section {
                    h1 {
                        font-size: 16px;
                        @at-root {
                            $color: #58c5f1 #50c3c7 #f1a01e;
                            @for $i from 1 through 3 {
                                main .order .action-solution-list section:nth-of-type(#{$i}) h1 {
                                    color: nth($color, $i);
                                }
                            }
                        }
                    }
                    p {
                        color: #fff;
                        text-align: justify;
                        font-size: 12px;
                        line-height: 14px;
                    }
                    & + section {
                        margin-top: .5em;
                    }
                }
            }
        }
    }
}
