main .index {
    $main-color: #00a2a5;
    .sectionTitle1 {
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
    }
    .sectionTitle2 {
        text-align: center;
        font-weight: bold;
        font-size: 28px;
    }
    .sectionBtn {
        @include btn(100%, 50px, #fff, $main-color, 0, true);
        margin: 0 auto;
        max-width: 290px;
        color: #fff;
        font-size: 22px;
    }
    .video-container {
        @include youtubeIframe();
    }
    .banner {
        &-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .title {
            display: flex;
            margin-bottom: 48px;
            width: 100%;
            height: 180px;
            background-color: rgba(0,0,0,.6);
            align-items: center;
        }
        h1 {
            margin: 0 auto;
            color: #fff;
            font-weight: bold;
            font-size: 30px;
            line-height: 1.2;
        }
        strong {
            color: #ffc208;
            font-size: 40px;
        }
        .btns {
            display: flex;
            width: 100%;
            justify-content: center;
            a {
                max-width: 150px;
                width: calc(50% - 15px);
                background-color: #ff8404;
                color: #fff;
                text-align: center;
                line-height: 40px;
                & + a {
                    margin-left: 30px;
                }
            }
        }
    }
    .section1 {
        @include bg('index/section1-bg.png', 50% 103%);
        padding-top: 37px;
        padding-bottom: 300px;
        background-color: #0eb8bb;
        color: #fff;
        h1 {
            margin-bottom: 1em;
        }
        p {
            line-height: 24px;
        }
    }
    .section2 {
        padding-top: 37px;
        padding-bottom: 40px;
        img {
            display: block;
            margin: 0 auto 40px;
        }
        p {
            margin-bottom: 2em;
            line-height: 28px;
            &::first-line {
                font-size: 14px;
            }
        }
    }
    .section3 {
        padding: 40px 0;
        background-color: #e6e6e6;
        h1 {
            margin-bottom: 1em;
        }
        img {
            display: block;
            margin: 0 auto 10px;
        }
        h2 {
            color: $main-color;
            font-weight: bold;
            line-height: 28px;
        }
        p {
            margin-bottom: 1em;
            color: #2d2d2d;
            line-height: 28px;
        }
        a + a {
            margin-top: 10px;
        }
    }
    .section4 {
        padding: 40px 0;
        background-color: #78c2c7;
        h1 {
            margin-bottom: 1em;
        }
    }
    .section5 {
        padding: 40px 0;
        h1 {
            margin-bottom: 1em;
        }
        &-videoCaption {
            display: flex;
            margin-top: 13px;
            color: #333;
            letter-spacing: getLetterSpacing(50);
            font-size: 19px;
            justify-content: center;
            align-items: baseline;
            &::before {
                margin-right: 5px;
                width: 0;
                height: 0;
                border-width: 0 7.5px 15px 7.5px;
                border-style: solid;
                border-color: transparent transparent $main-color transparent;
                content: '';
            }
            & + .video-container {
                margin-top: 30px;
            }
        }
        &-additional {
            text-align: center;
            letter-spacing: getLetterSpacing(50);
            font-size: 17px;
            line-height: 24px;
        }
        .sectionBtn {
            margin-top: 40px;
            margin-bottom: .5em;
        }
    }
}
