main [class^=WB00247601_Industry] {
    padding-bottom: 55px;
    .title {
        margin-bottom: 1em;
        font-size: 26px;
    }
    .header {
        padding-top: 55px;
        height: 350px;
        @at-root {
            @for $n from 1 through 8 {
                main .WB00247601_Industry0#{$n} .header {
                    @include bg('WB00247601_Industry0#{$n}/header-bg.jpg');
                }
            }
        }
        h1 {
            color: #00e7f6;
            font-weight: normal;
            font-size: 34px;
            line-height: 38px;
        }
        h2 {
            margin-top: 5px;
            color: #fff;
            font-weight: bold;
            font-size: 30px;
            line-height: 1;
        }
    }
    .section1 {
        padding-top: 33px;
        padding-bottom: 2em;
        h1 {
            color: #555;
            line-height: 36px;
        }
        .slider {
            margin-bottom: 2em;
        }
        .swiper-slide {
            width: 300px;
            height: auto;
        }
        .slide {
            $color: #297396 #31b5d6 #018c95 #29bac3;
            position: relative;
            padding: 25% 25px 25px 25px;
            height: 100%;
            @for $n from 1 through 4 {
                &.slide#{$n} {
                    border: 1px solid nth($color, $n);
                }
            }
            &-tag {
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 20px;
                width: 154px;
                height: 100px;
                @at-root {
                    @for $n from 1 through 4 {
                        main [class^=WB00247601_Industry] .section1 .slide#{$n} .slide-tag {
                            background-image: linear-gradient(147deg, nth($color, $n) 50%, transparent 0);
                        }
                    }
                }
                &::before {
                    display: block;
                    width: 85px;
                    color: #fff;
                    content: attr(data-text);
                    text-align: center;
                    font-weight: bold;
                    font-size: 24px;
                }
            }
            figure {
                text-align: center;
            }
            figcaption {
                margin-top: 15px;
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 24px;
                @at-root {
                    @for $n from 1 through 4 {
                        main [class^=WB00247601_Industry] .section1 .slide#{$n} figcaption {
                            color: nth($color, $n);
                        }
                    }
                }
            }
            &-text {
                line-height: 28px;
                ul {
                    padding-left: 1em;
                    list-style-type: disc;
                }
            }
        }
        &-additional {
            color: #555;
            text-indent: 2em;
            line-height: 28px;
        }
    }
    .section2 {
        padding-top: 40px;
        padding-bottom: 2em;
        background-color: #efefef;
        h1 {
            text-align: center;
        }
        section + section {
            margin-top: 1em;
        }
        h2 {
            @include btn(110px, 35px, #fff, #ffc104);
            margin-bottom: .5em;
            font-size: 20px;
            @at-root {
                $color: #ffc104 #f60 #1879aa;
                @for $n from 1 through 3 {
                    main [class^=WB00247601_Industry] .section2 section:nth-of-type(#{$n}) h2 {
                        background-color: nth($color, $n);
                    }
                }
            }
        }
        p + ul,
        p + p,
        li + li {
            margin-top: 5px;
        }
        p {
            line-height: 26px;
        }
        ul {
            padding-left: 1em;
            list-style-type: disc;
            line-height: 26px;
        }
    }
    .section3 {
        padding: 40px 0;
        h1 {
            text-align: center;
            font-weight: bold;
        }
        .slider {
            margin-bottom: 45px;
        }
        .swiper-slide {
            width: 300px;
            height: auto;
        }
        .slide {
            padding: 20px;
            height: 100%;
            border: 2px solid #169da0;
        }
        h2 {
            margin-bottom: 1em;
            padding-bottom: 10px;
            border-bottom: 1px solid #949494;
            color: #149da0;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }
        li {
            font-weight: bold;
            line-height: 26px;
            & + li {
                margin-top: 5px;
            }
        }
        video {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            & + h2 {
                margin-top: 34px;
            }
        }
    }
    .section4 {
        margin-bottom: 55px;
        padding-top: 33px;
        h1,
        h2 {
            text-align: center;
            line-height: 36px;
        }
        @at-root {
            main .WB00247601_Industry01 .section4 {
                padding-bottom: 40px;
                background-color: #149da0;
                &-item {
                    display: flex;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    background-color: #0a7377;
                    justify-content: center;
                    align-items: center;
                    & + .section4-item {
                        margin-top: 20px;
                    }
                }
                figcaption {
                    margin-bottom: 20px;
                    color: #faff3e;
                    font-weight: bold;
                    font-size: 24px;
                }
                p {
                    color: #fff;
                    line-height: 28px;
                }
            }
            main .WB00247601_Industry02 .section4 {
                &-item {
                    padding-bottom: 40px;
                    &:nth-of-type(2) {
                        padding-top: 40px;
                        background-color: #169da0;
                    }
                }
            }
            main .WB00247601_Industry04 .section4 {
                .grid {
                    display: grid;
                    row-gap: 40px;
                }
                ul {
                    margin-bottom: 1em;
                }
                li {
                    display: flex;
                    line-height: 28px;
                    align-items: baseline;
                    &::before {
                        margin-right: .5em;
                        width: 10px;
                        height: 10px;
                        background-color: #000;
                        content: '';
                        transform: rotate(45deg);
                        flex-shrink: 0;
                    }
                }
            }
            main .WB00247601_Industry06 .section4 {
                .grid {
                    display: grid;
                    row-gap: 40px;
                }
                .row {
                    &:nth-of-type(2),
                    &:nth-of-type(4) {
                        padding-top: 40px;
                        padding-bottom: 40px;
                    }
                    &:nth-of-type(2) {
                        background-color: #169da0;
                    }
                    &:nth-of-type(4) {
                        background-color: #f5f5f5;
                    }
                }
            }
            main .WB00247601_Industry08 .section4 {
                display: flex;
                flex-direction: column;
                align-items: center;
                h1 {
                    text-align: left;
                    line-height: 36px;
                }
                &-item {
                    padding-bottom: 40px;
                    width: 100%;
                    &:nth-of-type(2) {
                        padding-top: 40px;
                        background-color: #169da0;
                    }
                }
                h2 {
                    color: #fff;
                }
            }
        }
    }
    .bottomBtn {
        @include btn(100%, 50px, #fff, #00a2a5, 0, true);
        margin: 0 auto;
        max-width: 330px;
        color: #fff;
        font-size: 22px;
    }
}
