main .WB00247601_4 {
    $seminar-color: (
    primary: #e52847,
    secondary: #f37086,
    orange: #ff8111,
    gray: #b9b9b9,
    );
    line-height: 1.6;
    .section1 {
        padding-bottom: 3em;
    }
    .container {
        padding: 0 20px;
    }
    .header {
        @include headerBg('WB00247601_4/header-bg.jpg', 'WB00247601_4/header-bg.jpg', 50% 100%);
        .container {
            height: 340px;
            @media (min-width: $tablet-width + 1) {
                padding-left: 85px;
                height: image-height('WB00247601_4/header-bg.jpg');
            }
        }
        h1 {
            color: #f0fe11;
            font-size: 30px;
            @media (min-width: $tablet-width + 1) {
                font-size: 48px;
            }
        }
        p {
            color: #fff;
            font-size: 22px;
        }
    }
    article h1 {
        margin-top: 1.5em;
        margin-bottom: 1em;
        color: #0c53aa;
        text-align: center;
        font-weight: bold;
        font-size: 26px;
        @media (min-width: $tablet-width + 1) {
            font-size: 36px;
        }
    }
    .section1 {
        &-desc {
            margin: 0 auto;
            max-width: 1000px;
        }
        &-nav {
            display: grid;
            margin: 2em auto;
            width: 300px;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                &:nth-child(1) {
                    grid-row: 1 / span 1;
                    grid-column: 1 / span 1;
                }
                &:nth-child(2) {
                    grid-row: 1 / span 1;
                    grid-column: 2 / span 1;
                }
                &:nth-child(3) {
                    grid-row: 2 / span 1;
                    grid-column: 1 / span 1;
                }
                &:nth-child(4) {
                    grid-row: 2 / span 1;
                    grid-column: 2 / span 1;
                }
            }
            a {
                display: block;
                padding-left: 50px;
                background-position: 0 50%;
                background-repeat: no-repeat;
                color: #1172a4;
                font-size: 14px;
                line-height: 50px;
                &:hover {
                    color: #f60;
                }
                @at-root {
                    @for $nth from 1 through 4 {
                        main .section1-nav li:nth-child(#{$nth}) a {
                            background-image: image-url('WB00247601_4/sess_icon#{$nth}.png');
                        }
                    }
                }
            }
        }
    }
    .accordion {
        h2 {
            $bgColor: #3ea6b9, #4dcda8, #fda956, #faa;
            position: relative;
            display: flex;
            margin: 0 auto;
            padding: 20px 70px 20px 20px;
            max-width: 1160px;
            color: #fff;
            font-size: 24px;
            line-height: 1.3;
            cursor: pointer;
            align-items: baseline;
            @at-root {
                html.flexboxtweener main .accordion h2 {
                    align-items: center;
                }
            }
            &::before {
                margin-right: .5em;
                width: 0;
                height: 0;
                border-width: 8.5px 0 8.5px 17px;
                border-style: solid;
                border-color: transparent transparent transparent #fff;
                content: '';
                transition: transform .4s;
                @at-root {
                    main .accordion h2.ui-state-active::before,
                    main .accordion h2.active::before {
                        transform: rotate(90deg);
                    }
                }
            }
            ul {
                display: flex;
                flex-wrap: wrap;
            }
            li {
                &:first-child {
                    width: 120px;
                    @media (max-width: $content-width) {
                        width: 100%;
                    }
                }
                &:last-child {
                    width: calc(100% - 120px);
                    @media (max-width: $content-width) {
                        width: 100%;
                    }
                }
            }
            span {
                position: absolute;
                right: 0;
                bottom: 0;
                display: flex;
                width: 71px;
                height: 71px;
                pointer-events: none;
                &::before {
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-width: 0 0 71px 71px;
                    border-style: solid;
                    border-color: transparent transparent map-get($seminar-color, gray) transparent;
                    content: '';
                }
            }
            i {
                position: absolute;
                right: 3px;
                bottom: 18px;
                z-index: 1;
                color: #fff;
                letter-spacing: getLetterSpacing(25);
                font-size: 12px;
                &::after {
                    position: absolute;
                    top: 110%;
                    left: 50%;
                    display: none;
                    content: '>>';
                    font-size: 9px;
                    line-height: 1;
                    transform: translateX(-50%) rotate(90deg);
                    @media (min-width: $tablet-width + 1) {
                        display: block;
                    }
                }
            }
            @for $nth from 1 through 4 {
                &.content#{$nth} {
                    background-color: nth($bgColor, $nth);
                }
            }
        }
        &-content {
            margin: 0 auto;
            max-width: 1110px;
            &:not(:first-of-type) {
                display: none;
            }
            .container {
                position: relative;
                display: flex;
                padding-top: 50px;
                padding-bottom: 200px;
                flex-wrap: wrap;
                @media (min-width: $tablet-width + 1) {
                    padding-bottom: 50px;
                }
            }
            & + h2 {
                margin-top: 1px;
            }
        }
        &-col {
            width: 100%;
            &:nth-of-type(1) {
                margin-bottom: 30px;
                @media (min-width: $tablet-width + 1) {
                    margin-bottom: 0;
                    width: 340px;
                }
            }
            &:nth-of-type(2) {
                @media (min-width: $tablet-width + 1) {
                    width: calc(100% - 340px);
                }
                h3 {
                    margin-bottom: .5em;
                    color: map-get($seminar-color, primary);
                    letter-spacing: getLetterSpacing(25);
                    font-weight: bold;
                    font-size: 22px;
                }
            }
        }
        &-illust {
            width: 100%;
            text-align: center;
            @media (min-width: $tablet-width + 1) {
                text-align: left;
            }
            img {
                width: 320px;
                border: 1px solid #dadada;
            }
        }
        &-btns {
            position: absolute;
            right: 20px;
            bottom: 50px;
            left: 20px;
            margin-top: 50px;
            @media (min-width: $tablet-width + 1) {
                position: static;
            }
            a {
                letter-spacing: getLetterSpacing(25);
                &:nth-of-type(1) {
                    @include btn(100%, 40px, map-get($seminar-color, orange), #fff, 0, true);
                    margin-bottom: 20px;
                    border: 1px solid map-get($seminar-color, orange);
                    @media (min-width: $tablet-width + 1) {
                        margin-left: 10px;
                        width: 300px;
                    }
                }
                &:nth-of-type(2) {
                    @include btn(100%, 40px, #fff, map-get($seminar-color, orange), 0, true);
                    @media (min-width: $tablet-width + 1) {
                        margin-left: 10px;
                        width: 300px;
                    }
                }
            }
        }
        &-detail {
            & + h3 {
                margin-top: 1.5em;
            }
            li {
                display: flex;
                align-items: baseline;
                &::before {
                    content: '．';
                }
            }
        }
        .rightPart1 h6 {
            margin-top: 18px;
            margin-bottom: 5px;
            width: 100%;
            color: #00a2a5;
            font-weight: bold;
            font-size: 17px;
            line-height: 30px;
        }

        .rightPart1_left {
            margin-left: 35px;
        }

        .rightPart1 p {
            margin-top: 18px;
            margin-bottom: 5px;
            letter-spacing: 1px;
            font-size: 17px;
        }

        #box_t {
            display: flex;
            flex-wrap: wrap;
        }

        #box_t .leftimg {
            display: block;
            margin-top: 5px;
            @media (max-width: $tablet-width) {
                margin-left: 0;
            }
        }

        #box_t .rightP {
            display: flex;
            padding-left: .5em;
            width: calc(100% - 145px);
            color: #00a2a5;
            font-weight: bold;
            @media (max-width: $tablet-width) {
                width: calc(100% - 105px);
            }
        }

        #box_t .righttopP {
            margin-top: 5px;
        }

        #box_t .P_Blod {
            font-weight: bold;
            font-size: 24px;
        }

        .changeDIV h4 {
            margin-bottom: 10px;
            color: #1a8393;
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
        }

        .changeDIV p {
            color: #262626;
            letter-spacing: 1px;
            font-size: 17px;
            line-height: 24px;
        }

        .changeDIV h5 {
            margin-top: 25px;
            margin-bottom: 5px;
            color: #f00;
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 18px;
        }

        .changeDIV dl {
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 26px;
        }

        .changeDIV dt {
            font-weight: bold;
        }

        .changeDIV .last-dl {
            margin-bottom: 0;
        }

        .font_blackB {
            font-weight: bold;
        }
    }
}
