main .articleComponent {
    padding-bottom: 72px;
    .articleDesc {
        margin-bottom: 2em;
        text-align: center;
    }
    .illust {
        margin: 0 auto;
    }
    a {
        display: block;
        margin: 0 auto;
    }
}
