main .banner {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1920px;
    &-slide {
        height: 454px;
        background-position: 100% 0;
        @media (min-width: $tablet-width + 1) {
            height: 501px;
            background-position: -352px 0;
        }
        @media (min-width: $content-width) {
            background-position: 50% 0;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        height: 100%;
        @media (min-width: $tablet-width + 1) {
            padding-top: 110px;
        }
    }
    &-title {
        font-size: 30px;
        @media (min-width: $tablet-width + 1) {
            width: 520px;
            font-size: 36px;
        }
        strong {
            font-weight: bold;
        }
    }
    &-desc {
        font-weight: bold;
        font-size: 30px;
        @media (min-width: $tablet-width + 1) {
            width: 590px;
            font-size: 36px;
        }
        strong {
            color: #ce2206;
            font-weight: bold;
            @media (min-width: $tablet-width + 1) {
                font-size: 24px;
            }
        }
    }
    &-controls {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        @media (min-width: $content-width) {
            width: $content-width;
        }
    }
    &-button-next,
    &-button-prev {
        position: absolute;
        top: 50%;
        width: 44px;
        height: 77px;
        cursor: pointer;
        transform: translateY(-50%);
    }
    &-button-next {
        right: 5px;
        background: image-url('index/banner-btn-next.png') 100% 50%/contain no-repeat;
        @media (min-width: $tablet-width + 1) {
            display: none;
        }
    }
    &-button-prev {
        left: 5px;
        background: image-url('index/banner-btn-prev.png') 0 50%/contain no-repeat;
        @media (min-width: $tablet-width + 1) {
            display: none;
        }
    }
    &-pagination {
        display: none;
        @media (min-width: $tablet-width + 1) {
            position: absolute;
            right: 46px;
            bottom: 13px;
            display: flex;
            align-items: center;
        }
        &-bullet {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #aeaeae;
            cursor: pointer;
            & + .banner-pagination-bullet {
                margin-left: 13px;
            }
            &-active {
                background-color: #fff;
            }
        }
    }
}
