extends ../layout.pug

block includes
    link(rel="preload", href="images/WB00278501_law/hero-bg.jpg", as="image")
    link(rel='stylesheet', href='WB00278501_law.css')

block content
    include WB00278501_law.html