extends ../layout.pug

block includes
    link(rel="preload", href="images/WB00278501_control/hero-bg.jpg", as="image")
    link(rel='stylesheet', href='WB00278501_control.css')
    script(src='assets/jquery-ui-1.12.1.custom/jquery-ui.min.js')

block content
    include WB00278501_control.html