@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}


main #navLink,
main #navLink .subLink {
    background-color: #f9f9f9;
}

main .section h3 {
    margin-bottom: 30px;
    font-size: 36px;
}

main .section h4 {
    font-size: 21px;
    margin: 20px 0 7px 40px;
    text-align: left;
    color: #0584dd;
}

main .section h6 {
    font-size: 17px;
    margin: 40px 0px 0px 40px;
    text-align: left;
    color: #004a9d;
}

main .section a {
    color: #43aaf2;
}

main .section a:hover {
    color: #F60;
}

main .section p {
    margin: 20px 0 7px 40px;
    padding: 0;
    font-size: 17px;
    line-height: 30px;
    text-align: justify;
}

main .section p.left60 {
    margin: 20px 0 7px 60px;
    padding: 0;
    font-size: 17px;
    line-height: 30px;
    text-align: justify;
}

main .section table {
    border: solid #CCC 1px;
    line-height: 30px;
    font-family: Arial, "微軟正黑體";
    font-size: 15px;
    margin-top: 30px;
    margin-left: 40px;
}

main .section table h5 {
    line-height: 30px;
    font-family: Arial, "微軟正黑體";
    font-size: 16px;
}

main .section table td {
    padding: 10px;
}

main .section table li {
    background: url(../images/dot.png) left top no-repeat;
    padding-left: 30px;
}

main .section {
    width: 100%;
    min-width: 1000px;
    padding: 100px 0;
    color: #444444;
    font-family: Arial, "微軟正黑體";
}

main .content {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

main .column_2 {
    width: 50%;
}

main .column_3 {
    width: 33%;
}

main .column_4 {
    width: 25%;
}

main .column_5 {
    width: 20%;
}

main .font_mainColor {
    color: #0bb580;
}

main .font_orange {
    color: #ff6600;
}

main .font_blue {
    color: #058fa8;
}

main .font_blue2 {
    color: #b5e6ff;
}

main .font_green {
    color: #4fcc6a;
}

main .font_yellow1 {
    color: #fffc00;
}

main .font_yellow {
    color: #ffb400;
}

main .font_yellowLight {
    color: #feffc1;
}

main .font_yellowDark {
    color: #ff8d00;
}

main .font_redLight {
    color: #ff5454;
}

main .font_white {
    color: #ffffff;
}

main .font_gray {
    color: #bbbbbb;
}

main .font_blackB {
    color: #000000;
    font-weight: bold;
}

main .font_green2 {
    color: #eaff01;
}

main .bg_mainColor {
    background-color: #0bb580;
}

main .bg_green {
    background-color: #4fcc6a;
}

main .bg_yellow {
    background-color: #ffb400;
}

main .bg_yellowDark {
    background-color: #ff8d00;
}

main .bg_gray {
    background-color: #bbbbbb;
}

main .bg_greenImg {
    background: url(../images/bgGreen.jpg) no-repeat center center;
}

main .bg_ {
    background: url(../images/bgGreen.jpg) no-repeat center center;
}

main .hover_yellow:hover h4 {
    color: #ffb400;
}

main .circle {
    margin: 0 auto;
    border-radius: 50%;
}

main p.imgNote {
    font-size: 19px;
    font-weight: bold;
    text-align: center;
}

main p.sectionNote {
    width: 800px;
    margin: 0 auto;
    font-size: 19px;
}

main p.pageBtn {
    width: 400px;
    line-height: 60px;
    margin: 50px auto 0;
    border: 1px solid #ffffff;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

main .Block01bg {
    width: 100%;
}

main h3.Block01_icon {
    text-align: left;
    background: url(../images/Icon.png) no-repeat left -250px;
    padding-left: 40px;
    color: #0c53aa;
}

main #Block01 .P_center {
    text-align: center;
}

main #Block01 {
    width: 950px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    padding-top: 100px;
}

main #Block01 #BOX2 {
    width: 260px;
    display: block;
    float: left;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

main #BOX_s {
    width: 870px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-bottom: #CCC 1px solid;
}

main #BOX_s .titleA_3H {
    margin: 0px;
    width: 150px;
    display: block;
    float: left;
    line-height: 80px;
    padding: 10px;
    background: #eeeeee;
    text-align: center;
    font-weight: bold;
    border-right: #1e95d3 solid 3px;
}

main #BOX_s .titleA {
    margin: 0px;
    width: 150px;
    display: block;
    float: left;
    line-height: 50px;
    padding: 10px;
    background: #eeeeee;
    text-align: center;
    font-weight: bold;
    border-right: #1e95d3 solid 3px;
}

main #BOX_s .titleB {
    margin: 0px;
    width: 565px;
    display: block;
    float: left;
    padding: 5px 40px 5px 30px;
    font-size: 16px;
}

main #BOX_s .titleB_1H {
    margin: 0px;
    width: 565px;
    display: block;
    float: left;
    padding: 5px 40px 5px 30px;
    font-size: 16px;
    line-height: 60px;
}

main #BOX_s .more {
    border-radius: 50px;
    margin: 0px;
    width: 50px;
    display: block;
    float: left;
    font-size: 10px;
    background-color: #09F;
    line-height: 50px;
    margin-top: 10px;
    color: #FFF;
    text-align: center;
}

main #BOX_s .more a {
    color: #FFF;
}

main #BOX_s .more a:hover {
    border-radius: 50px;
    margin: 0px;
    width: 50px;
    display: block;
    float: left;
    font-size: 10px;
    background-color: #004a9d;
    line-height: 50px;
    color: #FFF;
    text-align: center;
}

main #button_O {
    width: 715px;
    text-align: center;
    margin-top: 10px;
}

main #button_OC {
    width: 960px;
    text-align: center;
    margin-top: 10px;
    margin-left: 325px;
}

main .btn {
    float: left;
    font-size: 20px;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    width: 145px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    letter-spacing: 1px;
    margin-right: 15px;
}

main .btn a {
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: #09F;
}

main .btn a:hover {
    text-decoration: none;
    margin: 0 auto;
    background-color: #36C;
}

main .btn2 {
    float: left;
    font-size: 20px;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    width: 145px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    letter-spacing: 1px;
    margin-right: 15px;
}

main .btn2 a {
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: #0CF;
}

main .btn2 a:hover {
    text-decoration: none;
    margin: 0 auto;
    background-color: #36C;
}

main .btn1 {
    float: left;
    font-size: 20px;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    margin-left: 20px;
}

main .btn1 a {
    display: block;
    color: #FFF;
    text-decoration: none;
    background: url(../images/icon_bg1.png) no-repeat left top;
    font-weight: bold;
}

main .btn1 a:hover {
    text-decoration: none;
    margin: 0 auto;
    background-position: right top;
}

main .conblock {
    width: 100%;
    background-color: #096ca0;
    padding: 100px 0;
}

main #conblock {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    padding: 30px 0;
}

main #conblock h3 {
    line-height: 1.2;
    text-align: center;
    color: #FFF;
}

main #conblock h4 {
    line-height: 1.2;
    text-align: center;
    color: #FFF;
}

main p.contactBtn {
    position: relative;
    z-index: 2;
    width: 400px;
    line-height: 55px;
    margin: 50px auto 0;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    background-color: #034ea2;
    border: 1px solid #ffffff;
    letter-spacing: 1px;
}

main p.contactBtn a {
    color: #FFF;
}

main p.contactBtn:hover {
    background-color: #ffb400;
}

main .imgBorderAll {
    border: 1px solid #eaeaea;
}
