main .issue01 {
    .section1 {
        padding-bottom: 50px;
        background-color: #d6e9ef;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .section2 {
        padding: 65px 0;
        background-color: #2d97c3;
        color: #fff;
        text-align: center;
        letter-spacing: getLetterSpacing(25);
        .material-icons {
            color: #476074;
            font-weight: bold;
            font-size: 4em;
        }
        p {
            &:first-of-type {
                margin-bottom: 60px;
            }
            &:last-of-type {
                @include btn (100%, 33px, #fff, #42596c, 8px);
                margin: 30px auto 0;
                max-width: 330px;
                font-weight: bold;
                font-size: 17px;
            }
        }
        figcaption {
            margin-bottom: 1em;
            font-weight: bold;
            font-size: 24px;
        }
    }
    .section3 {
        padding-bottom: 55px;
        background-color: #deeff3;
        ul {
            counter-reset: num;
        }
        li {
            display: flex;
            height: 60px;
            border-radius: 30px 8px 8px 30px;
            background-color: #ccc;
            font-weight: bold;
            font-size: 13px;
            line-height: 1.6;
            align-items: center;
            &:nth-child(1) {
                background-image: linear-gradient(to right, #ffdf58 0, #f99e1a percentage(40 / 310), #fdfdfe percentage(40 / 310), #c6cdd1);
            }
            &:nth-child(2) {
                background-image: linear-gradient(to right, #f069a7 0, #a6218e percentage(40 / 310), #fdfdfe percentage(40 / 310), #c6cdd1);
            }
            &:nth-child(3) {
                background-image: linear-gradient(to right, #5698d2 0, #0067b4 percentage(40 / 310), #fdfdfe percentage(40 / 310), #c6cdd1);
            }
            &:nth-child(4) {
                background-image: linear-gradient(to right, #f9a01a 0, #ed1b23 percentage(40 / 310), #fdfdfe percentage(40 / 310), #c6cdd1);
            }
            &:nth-child(5) {
                background-image: linear-gradient(to right, #c18dbf 0, #3c4ba0 percentage(40 / 310), #fdfdfe percentage(40 / 310), #c6cdd1);
            }
            &:nth-child(6) {
                background-image: linear-gradient(to right, #9dd29e 0, #00b3d2 percentage(40 / 310), #fdfdfe percentage(40 / 310), #c6cdd1);
            }
            &::before {
                display: block;
                margin-right: 18px;
                width: percentage(40 / 310);
                color: #fff;
                content: counter(num);
                counter-increment: num;
                text-align: center;
                font-size: 2.5em;
                line-height: 60px;
            }
            + li {
                margin-top: 25px;
            }
        }
    }
    .section4 {
        padding-bottom: 55px;
        background-color: #00577b;
        .sectionTitle {
            > h1 {
                color: #fff;
                letter-spacing: getLetterSpacing(25);
                font-size: 22px;
                strong {
                    color: #cde624;
                }
            }
        }
    }
    .section5 {
        padding-bottom: 55px;
        background-color: #cde9ee;
        .sectionTitle > h1 {
            color: #2466a0;
        }
    }
    .section6 {
        padding-bottom: 55px;
        background-color: #0c7cc3;
        .sectionTitle {
            > h1 {
                color: #fff;
                strong {
                    color: #fff600;
                }
            }
        }
        a {
            @include mainBtn(175px, 50px, #086eb7, #034ea2, #fff);
        }
    }
}