@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}[v-cloak]{display:none}.fade-enter-active,.fade-leave-active{-webkit-transition:opacity .5s;transition:opacity .5s}.fade-enter,.fade-leave-to{opacity:0}.lazyload,.lazyloading{opacity:0}.lazyloaded{opacity:1;-webkit-transition:opacity 1s;transition:opacity 1s}.dg.ac{z-index:99}main{min-width:360px;font-size:18px;line-height:1.6}main *:not(text){font-size:100%}main .container{margin:0 auto;padding:0 15px;max-width:1200px}@media (min-width: 361px){main .container{padding-right:20px;padding-left:20px}}@media (min-width: 1200px){main .container{padding-right:0;padding-left:0}}main .btn{-webkit-transition:all .15s ease-in-out;transition:all .15s ease-in-out}main .video-container{position:relative;overflow:hidden;padding-top:56.25%;width:100%;height:0}main .video-container iframe{position:absolute;top:0;left:0;width:100%;height:100%}main .accordion{padding-bottom:3em}main .accordion h2{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;margin:0 auto;padding:20px 70px 20px 20px;max-width:1160px;color:#fff;font-size:24px;line-height:1.3;cursor:pointer;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}html.flexboxtweener main .accordion h2{-webkit-box-align:center;-ms-flex-align:center;align-items:center}main .accordion h2::before{margin-right:.5em;width:0;height:0;border-width:8.5px 0 8.5px 17px;border-style:solid;border-color:transparent transparent transparent #fff;content:'';-webkit-transition:-webkit-transform .4s;transition:-webkit-transform .4s;transition:transform .4s;transition:transform .4s, -webkit-transform .4s}main .accordion h2.ui-state-active::before,main .accordion h2.active::before{-webkit-transform:rotate(90deg);transform:rotate(90deg)}main .accordion h2 ul{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}main .accordion h2 li:first-child{width:265px}@media (max-width: 1200px){main .accordion h2 li:first-child{width:100%}}main .accordion h2 li:last-child{width:calc(100% - 265px)}@media (max-width: 1200px){main .accordion h2 li:last-child{width:100%}}main .accordion h2 span{position:absolute;right:0;bottom:0;display:-webkit-box;display:-ms-flexbox;display:flex;width:71px;height:71px;pointer-events:none}main .accordion h2 span::before{position:absolute;width:0;height:0;border-width:0 0 71px 71px;border-style:solid;border-color:transparent transparent #b9b9b9 transparent;content:''}main .accordion h2 i{position:absolute;right:3px;bottom:18px;z-index:1;color:#fff;letter-spacing:.025em;font-size:12px}main .accordion h2 i::after{position:absolute;top:110%;left:50%;display:none;content:'>>';font-size:9px;line-height:1;-webkit-transform:translateX(-50%) rotate(90deg);transform:translateX(-50%) rotate(90deg)}@media (min-width: 769px){main .accordion h2 i::after{display:block}}main .accordion h2.content1{background-color:#3ea6b9}main .accordion h2.content2{background-color:#4dcda8}main .accordion h2.content3{background-color:#fda956}main .accordion-content{margin:0 auto;max-width:1110px}main .accordion-content:not(:first-of-type){display:none}main .accordion-content .container{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;padding-top:50px;padding-bottom:200px;-ms-flex-wrap:wrap;flex-wrap:wrap}@media (min-width: 769px){main .accordion-content .container{padding-bottom:50px}}main .accordion-content+h2{margin-top:1px}main .accordion-col{width:100%}main .accordion-col:nth-of-type(1){margin-bottom:30px}@media (min-width: 769px){main .accordion-col:nth-of-type(1){margin-bottom:0;width:340px}}@media (min-width: 769px){main .accordion-col:nth-of-type(2){width:calc(100% - 340px)}}main .accordion-col:nth-of-type(2) h3{margin-bottom:.5em;color:#e52847;letter-spacing:.025em;font-weight:bold;font-size:22px}main .accordion-illust{width:100%;text-align:center}@media (min-width: 769px){main .accordion-illust{text-align:left}}main .accordion-illust img{width:320px;border:1px solid #dadada}main .accordion-btns{position:absolute;right:20px;bottom:50px;left:20px;margin-top:50px}@media (min-width: 769px){main .accordion-btns{position:static}}main .accordion-btns a{letter-spacing:.025em}main .accordion-btns a:nth-of-type(1){display:block;height:40px;border-radius:0;background-color:#fff;color:#ff8111;text-align:center;line-height:40px;max-width:100%;margin-bottom:20px;border:1px solid #ff8111}@media (min-width: 769px){main .accordion-btns a:nth-of-type(1){margin-left:10px;width:300px}}main .accordion-btns a:nth-of-type(2){display:block;height:40px;border-radius:0;background-color:#ff8111;color:#fff;text-align:center;line-height:40px;max-width:100%}@media (min-width: 769px){main .accordion-btns a:nth-of-type(2){margin-left:10px;width:300px}}main .accordion-detail+h3{margin-top:1.5em}main .accordion-detail li{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}main .accordion-detail li::before{content:'．'}main .rightPart1 h6{margin-top:18px;margin-bottom:5px;width:100%;color:#35afc1;font-weight:bold;font-size:17px;line-height:30px}main .rightPart1_left{margin-left:35px}main .rightPart1 p{margin-top:18px;margin-bottom:5px;letter-spacing:1px;font-size:17px}main #box_t{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}main #box_t .leftimg{display:block;margin-top:.5em;margin-left:40px}@media (max-width: 768px){main #box_t .leftimg{margin-left:0}}main #box_t .rightP{display:-webkit-box;display:-ms-flexbox;display:flex;padding-left:1em;width:calc(100% - 145px);-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}@media (max-width: 768px){main #box_t .rightP{width:calc(100% - 105px)}}main #box_t .righttopP{margin-top:5px}main #box_t .P_Blod{font-weight:bold;font-size:24px}main .changeDIV h4{margin-bottom:10px;color:#00488c;letter-spacing:1px;font-weight:bold;font-size:22px;line-height:26px}main .changeDIV p{color:#262626;letter-spacing:1px;font-size:17px;line-height:24px}main .changeDIV h5{margin-top:25px;margin-bottom:5px;color:#f00;letter-spacing:1px;font-weight:bold;font-size:18px}main .changeDIV dl{margin-bottom:25px;font-size:16px;line-height:26px}main .changeDIV dt{font-weight:bold}main .changeDIV .last-dl{margin-bottom:0}main .font_blackB{font-weight:bold}main .container{padding:0 20px}main .header{background-image:url('../../images/seminar/header-bg.jpg');background-position:50% 100%;background-repeat:no-repeat}@media (min-width: 769px){main .header{background-image:url('../../images/seminar/header-bg.jpg')}}main .header .container{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;height:501px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}@media (min-width: 769px){main .header .container{height:501px}}main .header .container{height:340px}@media (min-width: 769px){main .header .container{padding-left:85px;height:501px}}main .header h1{color:#f0fe11;font-weight:bold;font-size:30px}@media (min-width: 769px){main .header h1{font-size:48px}}main article h1{margin-top:1.5em;margin-bottom:1em;color:#0c53aa;text-align:center;font-weight:bold;font-size:26px}@media (min-width: 769px){main article h1{font-size:36px}}main .section1-desc{margin:0 auto;max-width:1000px}main .section1-nav{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:3em;margin-bottom:3em;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}@media (max-width: 768px){main .section1-nav{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-right:auto;margin-left:auto;width:180px;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}}main .section1-nav li+li{margin-left:40px}@media (max-width: 768px){main .section1-nav li+li{margin-top:1em;margin-left:0}}main .section1-nav a{display:block;padding-left:50px;background-image:url('../../images/seminar/icon2.png?1558758743');background-repeat:no-repeat;color:#1172a4;font-size:14px;line-height:50px}main .section1-nav a:hover{color:#f60}main .section1-nav li:nth-child(1) a{background-position-y:0}main .section1-nav li:nth-child(2) a{background-position-y:-50px}main .section1-nav li:nth-child(3) a{background-position-y:-100px}






















































































/*# sourceMappingURL=seminar.css.map */
