<div id="pageTitle" class="section">
    <main-header>
        <template slot="content">
            <h1>各行各業客戶證言</h1>
        </template>
    </main-header>
</div>

<div id="metal" class="section case">
    <div class="content">
        <ul class="clearfix">
            <li class="metal" data-ind-name="metal">金屬鋼鐵業</li>
            <li class="electronic" data-ind-name="electronic">電子業</li>
            <li class="machinery" data-ind-name="machinery">機械設備業</li>
            <li class="biotech" data-ind-name="biotech">生技製藥</li>
            <li class="medical" data-ind-name="medical">醫療器材</li>
            <li class="food" data-ind-name="food">食品業</li>
            <li class="traffic" data-ind-name="traffic">交通零件</li>
            <li class="plastic" data-ind-name="plastic">塑膠業</li>
        </ul>
        <h2>金屬鋼鐵加工業</h2>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">鋼鐵加工</span>俊益鋼鐵</div>
            <p class="caseDes">俊益鋼鐵以前在盤點前，要先擬定盤點計畫做預盤準備動作，3500筆品項每次皆需要17名員工花1天半至2天才有辦法盤點完，現今只要透過QR-code條碼，運用盤點PDA方式直接刷入，只需要6名員工半個工作天即可快速順利完成......</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/537.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">手工具</span>伯鑫工具</div>
            <p class="caseDes">吳特助肯定的說：當在海外交易時，遇到客人詢問訂單何時交貨，現能輕鬆透過連線方式以APS作計算，快速回覆客戶。對企業而言，能迅速回應顧客需求是極大管理效益，因為縮短交期和準確快速回覆，都能相對提升客戶對我們的信賴感，藉以提升公司競爭力。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/985.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">手工具</span>昱盛工業</div>
            <p class="caseDes">陳董和我們分享：「這30幾年來，我看到的是一個多變的市場，如果我們現在仍是以過往的方法來面對市場脈動，這是絕對不可行的。所以我才要從公司、從自我開始，徹徹底底的重建，這樣才有機會在新的世代生存。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/972.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">螺絲</span>國聯螺絲</div>
            <p class="caseDes">資訊化改善了作業流程，同仁可直接透過系統查詢所需資料，不再像過去得經由電話、E-Mail往返數回才能得到正確的資訊，節省不少時間成本。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/737.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">辦公傢俱</span>威芳企業</div>
            <p class="caseDes">產品實際成本無法結算，原本都是由成本會計人員透過excel自行計算處理，因資料連動複雜或來源不齊全，只能大概估算出成本，再提供給總經理做為營運決策參考及業務人員報價基礎。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/562.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">水塔</span>鴻茂工業</div>
            <p class="caseDes">王茂昌總經理認為：「希望鼎新可以持續給予這樣的工具或是顧問服務，讓我們不間斷的針對公司需求分析，從流程面來找出關鍵瓶頸或一直無法改善的盲點，對企業來講一定是非常有幫助的。」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/551.html" target="_blank">more</a>
        </div>
    </div>
</div>

<div id="machinery" class="section case">
    <div class="content">
        <h2>機械設備業</h2>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">CNC刀庫生產</span>北鉅精機</div>
            <p class="caseDes">鄧協理表示，因為目前高度客制化的產品策略，每次接單幾乎都是新的品項，因此業務常在一開始報價時沒有標準成本與實際成本可以參考，估算成本不易導致報價困難。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/704.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">空壓自動化配組件</span>金器工業</div>
            <p class="caseDes">總經理黃威仁指出：「面對客戶急單、抽插單的狀況，皆會影響到訂單的交期，若是業務人員依產品標準的Cycle Time回覆客戶的詢、訂單時，常導致交期延誤的情形發生。」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1082.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">半導體設備</span>千謄半導體</div>
            <p class="caseDes">一年約2~3百個專案，從立案到專案結案平均週期約2~3個月，一個專案大概有50~100張工單，一張工單大概有50筆材料項次。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1559.html" target="_blank">more</a>
        </div>
        <a href="https://www.digiwin.com/tw/dsc/solution/WB002476/WB00247601_3.html" class="otherLink" target="_blank"><i class="fa fa-chevron-right" aria-hidden="true"></i> 前往機械業成功案例專區</a>
    </div>
</div>

<div id="plastic" class="section case">
    <div class="content">
        <h2>塑膠業</h2>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">塑膠原料</span>億薈塑膠</div>
            <p class="caseDes">生管黃小姐說：「以往皆需一筆一筆尋找單據，現在可利用串查及各快速鍵完成，節省許多查詢的時間浪費，非常棒！」雖然因為內稽內控而新增較多流程，但查詢歷史資料反而更迅速有效率。」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/744.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">化粧品容器</span>品茂塑膠</div>
            <p class="caseDes">業務柯協理提到當業務遇到客戶臨時插單，能主動追擊廠內的生產狀況，進而預測訂單、承諾交期，一方面可以提升客戶忠誠度；另一方面公司也不用每天加班趕訂單，減少額外成本、增業績，甚至建立優良信譽，未來即時有插單進來，也能夠自動排程。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/759.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">模具</span>達鴻精工</div>
            <p class="caseDes">以往訂單交期回覆千篇一律都是45天後(不扣除假日)，常有急單或插單導致生管排程大亂。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/976.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">冷熱飲杯</span>統奕包裝</div>
            <p class="caseDes">杜經理說資料做得越細，越清楚管理缺口所在，所以資料的完整性是我們很計較也很重視的效益。現在看報表，製令、品名、規格、數量、包裝入數、工時，都很清楚一目了然！更有辦法溝通說服使用者。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1541.html" target="_blank">more</a>
        </div>
    </div>
</div>

<div id="traffic" class="section case">
    <div class="content">
        <h2>交通零件</h2>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">汽車零配件</span>謚台工業</div>
            <p class="caseDes">製程中常因需求變更做半成品入庫，並擺放至線邊，導致半成品過多、BOM亦難以管理，半成品與BOM的混亂連帶導致財務月結緩慢。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1580.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">汽機車零件</span>越南第一精密</div>
            <p class="caseDes">過去生產部門的主管每天都要到現場去監督進度，全都要依靠人工來管理與調整。在控管上，也因資訊的不即時，導致每當需要查詢即時生產狀況時，要花很多的時間及人力計算與查詢舊資料。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/775.html" target="_blank">more</a>
        </div>
    </div>
</div>

<div id="biotech" class="section case">
    <div class="content">
        <h2>生技製藥</h2>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">製藥業</span>寶齡富錦</div>
            <p class="caseDes">王經理說明「更換系統如同換車，性質及功能更強，也更貼近人性及符合趨勢。」，因舊系統無法上Web，無Source Code擴充，改一個欄位名稱也需要廠商來修改，等一個月以上是常有的事，效率很不符合經濟效益。」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/586.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">製藥業</span>濟生製藥</div>
            <p class="caseDes">蘇董事長說：「每次經營管理會議，我就用專屬的“董事長報表”就可以看出各個環節；如現場、銷售、庫存、應收帳款等問題，並可以立即做出精準決策。」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1545.html" target="_blank">more</a>
        </div>
        <a href="https://www.digiwin.com/tw/dsc/solution/WB002543/WB00254301_case.html" class="otherLink" target="_blank"><i class="fa fa-chevron-right" aria-hidden="true"></i> 前往生技業成功案例專區</a>
    </div>
</div>

<div id="medical" class="section case">
    <div class="content">
        <h2>醫療器材</h2>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">醫材</span>微邦科技</div>
            <p class="caseDes">生管單位可透過報表很快速的掌握產線的報廢跟生產是否有落差，而不用直接到生產線才可查詢得知目前狀態。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1574.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">骨科醫材</span>愛派司生技</div>
            <p class="caseDes">研發佔比非常大的愛派司生技，每天同時進行多個專案。研發團隊從專案建立到圖文修改、料號承認、EBOM建立整合入ERP的MBOM量產。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1006.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">骨科醫材</span>泰博科技</div>
            <p class="caseDes">劉吉郎副總經理：「而當公司面臨營業額突破一億時，每天的交易筆數多、與各單位的連結頻繁，在如此關鍵的時刻身為高階主管怎能不想到ERP系統？」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1516.html" target="_blank">more</a>
        </div>
    </div>
</div>

<div id="food" class="section case">
    <div class="content">
        <h2>食品業</h2>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">食品加工</span>四海通食品</div>
            <p class="caseDes">黃小姐說自接手家族事業─四海通食品後，發現外銷訂單僅能用紙本記錄，且庫存不準確，臨時採購屢見不鮮；再者，因政府積極導入食品追溯制度，而擔心四海通無法提供管制範圍內的完整記錄…。因此，開始嘗試前從未使用過資訊系統輔助管理！現在的庫存準確率達95%，訂單資訊也清晰！</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/783.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">微波烘培</span>華福食品</div>
            <p class="caseDes">吳麗雪副總說：「有效的溝通協調，可促使組織單位間有效的合作，加快專案推動速度，進而達成專案目標。」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1484.html" target="_blank">more</a>
        </div>
    </div>
</div>

<div id="electronic" class="section case">
    <div class="content">
        <h2>電子業</h2>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">PCB</span>嘉聯益</div>
            <p class="caseDes">製造部陳副理表示，因ＰＣＢ產業的製程以複雜出名，需多機台交叉使用，有些製程還會回流，變化性非常高，自動排程的協助是非常迫切需要的。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/797.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">半導體設備</span>微鑫電子</div>
            <p class="caseDes">賴瑞娥廠長表示：微鑫過去使用友商系統無法滿足經營層的報表需求；生產排程與現場資訊串連不易，無法立即追蹤。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/818.html" target="_blank">more</a>
        </div>
        <a href="https://www.digiwin.com/tw/dsc/solution/WB002513/WB00251301_wall.html" class="otherLink" target="_blank"><i class="fa fa-chevron-right" aria-hidden="true"></i> 前往電子業成功案例專區</a>
    </div>
</div>

<div id="moreIndustry" class="section">
    <div class="content">
        <h2>更多行業案例</h2>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">皮革業</span>泰慶皮革</div>
            <p class="caseDes">IT許先生說：「以前我們辦公室有一個大白板，生管人員每天一早就是到現場去，抄寫產品跟單的進度，走完一圈回到辦公室後，再調整白板上的資料，這樣足足要花一個上午的時間。」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1579.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">染紗生產</span>彩力染整</div>
            <p class="caseDes">黃南舜廠長(以下簡稱黃廠長)回顧當時導入狀況：「導入ERP是一項必要性的任務，尤其後續還要導入ISO，ERP可以提供很多的資料輔助，就連ISO的顧問公司也對鼎新讚譽有加。」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/860.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">成衣業</span>明榮企業</div>
            <p class="caseDes">鍾副總、李副總表示：「成衣業是一個非常細項的產業，因為它的副料非常的多，所以我們人工在做的時候往往很難控管周全，永遠就是缺了一個鎖碎的東西，就導致沒有辦法出口。」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/973.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">印刷</span>弘勝達</div>
            <p class="caseDes">李建輝總經理說：「弘勝達連產品入庫的分攤單位最難管理，為了掌握更精確的成本數字，專案團隊透過少量的客製程式與流程規劃，得到最適的解決方案。轉換是必要的！帶來的效益很高！之前的公司光轉資料就轉了3年，新的資料庫要撈資到統計資料很方便。」</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/968.html" target="_blank">more</a>
        </div>
    </div>
</div>

<contact v-bind:multiple="false" source=""></contact>