extends ../layout.pug

block includes
    link(rel='stylesheet', href='css/WB00278301_factoryLogistics/style.css')
    script(src='js/WB00278301_factoryLogistics.min.js', defer)

block content
    include WB00278301_factoryLogistics.html