extends ../layout.pug

block includes
    link(rel='stylesheet', href='css/WB00278301_solution/style.css')
    script(src='js/WB00278301_solution.min.js', defer)

block content
    include WB00278301_solution.html