<div id="pageTitle" class="section">
    <main-header>
        <template slot="content">
            <h1>製造業跨足買賣流通生意管理</h1>
            <p>常見製造業成立零售事業部門或創立自有品牌，除了佈局傳統零售通路(KA賣場、自家門市、百貨專櫃)，網購與跨境電商也後來居上，成為業界最愛的上架通路之一，更有傳統工廠轉型觀光工廠，賺取觀光財又可販售自家商品，通路百百種，管理又是一門學問，以下將為您整理不同通路之間，各有哪些管理視角需要關注？</p>
        </template>
    </main-header>
</div>

<div id="retail" class="section">
    <div class="content">
        <h2>跨足不同銷售通路領域，<br>做生意的關鍵在於如何讓支援作業一次到位！</h2>
        <p class="sectionNote">B2B、B2C或是B2B2C的通路銷售模式，不同的通路銷售型態支持的管理與作業方式亦有所差異，經銷通路、連鎖賣場通路、電視購物、自有門市、百貨設櫃、網購電商勝或近年興起的觀光工廠的銷售通路管理，如何有效聚焦在「通路、商品、庫存、促銷」的銷售決策考量上，才是面對市場取得營收的重點所在！</p>
        <ul class="clearfix">
            <li>
                <a href="https://www.digiwin.com/tw/dsc/solution/WB002675/WB00267501_2.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/channelArrange/icon_vendors.png" alt="連鎖量販" class="imgStyle">
                    <h3>連鎖量販</h3>
                    <p>節慶促銷、通路費用、總/分店帳款、業務員巡補貨、電子發票</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/dsc/solution/WB002675/WB00267501_1.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/channelArrange/icon_channel.png" alt="經銷通路" class="imgStyle">
                    <h3>經銷通路</h3>
                    <p>信用額度、促銷、訂金、價格策略、帳款催收</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/dsc/solution/WB002595/WB00259501.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/channelArrange/icon_onlineShop.png" alt="網購通路" class="imgStyle">
                    <h3>網購通路</h3>
                    <p>網路平台接單、合約管理、物流管理、對帳管理</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/dsc/solution/WB002675/WB00267501_3.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/channelArrange/icon_departmentStore.png" alt="門市/百貨專櫃" class="imgStyle">
                    <h3>門市/百貨專櫃</h3>
                    <p>POS前台、促銷組合、總部管理、加盟店管理、會員管理、百貨對帳</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/dsc/solution/WB002675/WB00267501_4.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/channelArrange/icon_sightseeing.png" alt="觀光工廠" class="imgStyle">
                    <h3>觀光工廠</h3>
                    <p>團務管理、館務管理、交易結帳管理、外籍旅客服務、退佣管理</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="caseList" class="section case">
    <div class="content">
        <h2>他們是製造業，同時也是買賣零售業</h2>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">食品業</span>味王</div>
            <p class="caseDes">擁有五十年品牌歷史的味王，其實多年前就已導入資訊系統，但因總公司、工廠、營業所及發貨中心各自建置不同的系統，使得系統無法緊密整合。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1586.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">服飾品牌業</span>美而快實業</div>
            <p class="caseDes">美而快實業目前擁有PAZZO、MEIER.Q、FE'CHA三個網路服飾品牌，從流行企劃、產品設計、生產製作、營銷宣傳、客戶服務、物流配送一手包辦。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/981.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">鍋具製造</span>清水好鍋</div>
            <p class="caseDes">以往，公司的銷售模式為通路銷售，今年業務拓展，於台北市內湖區成功路上開立一間直營門市。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1588.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">米食生產</span>中興米</div>
            <p class="caseDes">稻米品種依當季收成的稻穀分級，配合消費通路市場及消費者需求包裝方式，需每日機動調整產品包裝及價格策略。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1526.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">製藥業</span>天一藥廠</div>
            <p class="caseDes">為因應新的POS門市系統，資訊人員跟業務都有增加日常作業，而業務還負責門市觀光工廠的實體銷售及消費者接待。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1013.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">廚具製造</span>喜特麗</div>
            <p class="caseDes">喜特麗內部維修管理流程、報價管理流程有其獨特性，需要大量的修改系統，且必須提供製造流程的相關需求，一般套裝軟體無法全然因應。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1286.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">太陽眼鏡/運動眼鏡</span>雅德視</div>
            <p class="caseDes">雅德視國際股份有限公司是一個結合設計，行銷及生產於一身的綜合性公司。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1138.html" target="_blank">more</a>
        </div>
        <div class="caseBlock clearfix">
            <div class="name"><span class="type">陶瓷業</span>台華陶瓷</div>
            <p class="caseDes">從代工走向門市，需花心力去統整每日發生的各種銷售資訊，且報表的產出也是一項費時費力的事情。</p>
            <a class="moreTxt" href="https://www.digiwin.com/tw/case/1012.html" target="_blank">more</a>
        </div>
    </div>
</div>

<contact v-bind:multiple="false" source=""></contact>