<div id="pageTitle" class="section">
    <main-header>
        <template slot="content">
            <h1><strong>帳料</strong>要在一起很難嗎？</h1>
            <p>誰說帳料之間是世界上最遙遠的距離<br>鼎新帶您體驗從採購、領料、生產、倉儲、出貨到售後服務完整物流方案<br>從今以後<strong>帳</strong>與<strong>料</strong>過著幸福快樂的生活...再也不分離！</p>
        </template>
    </main-header>
</div>

<div id="block01" class="section case">
    <div class="content">
        <h2>帳料一致，就從拿起手機開始！</h2>
        <h3>不做重工、不用等料、快速追溯，搬物料與過帳從此合而為一！</h3>
        <img src="/tw/dsc/solution/WB002783/images/factoryLogistics/figure_logistics0.png" alt="不做重工、不用等料、快速追溯，搬物料與過帳從此合而為一！">
    </div>
</div>

<div id="block02" class="section case">
    <div class="content">
        <h2>即時掌握供應商交貨與急料資訊</h2>
        <img src="/tw/dsc/solution/WB002783/images/factoryLogistics/img_logistics01.jpg" alt="即時掌握供應商交貨與急料資訊">
    </div>
</div>

<div id="block03" class="section case">
    <div class="content">
        <h2>掃描核對確認後自動產生進貨單</h2>
        <img src="/tw/dsc/solution/WB002783/images/factoryLogistics/img_logistics02.png" alt="掃描核對確認後自動產生進貨單">
    </div>
</div>

<div id="block04" class="section case">
    <div class="content">
        <h2>入庫上架，正確記錄庫存位置</h2>
        <img src="/tw/dsc/solution/WB002783/images/factoryLogistics/img_logistics03.png" alt="入庫上架，正確記錄庫存位置">
    </div>
</div>

<div id="block05" class="section case">
    <div class="content">
        <h2>依儲位順序備料，正確記錄批號</h2>
        <p class="sectionNote">選定庫房後，至原物料儲位拿取物料掃描標籤條碼。<br>系統自動協助檢核料號與數量是否符合，並<strong>自動跳轉下一個相鄰儲位</strong>，揀取下一個原物料。至揀貨完畢。</p>
        <img src="/tw/dsc/solution/WB002783/images/factoryLogistics/img_logistics04.png" alt="依儲位順序備料，正確記錄批號">
    </div>
</div>

<div id="block06" class="section case">
    <div class="content">
        <ul>
            <li><i class="fa fa-tags" aria-hidden="true"></i> 完工入庫，如何準確記錄成品庫存位置？</li>
            <li><i class="fa fa-tags" aria-hidden="true"></i> 如何即時掌握欠料狀況？</li>
            <li><i class="fa fa-tags" aria-hidden="true"></i> 從出貨記錄批號，檢核貨品是否正確</li>
            <li><i class="fa fa-tags" aria-hidden="true"></i> 原物料批/序號、半成品批/序號快速追溯</li>
        </ul>
        <a href="#contact" class="otherLink">了解更多<帳料一致>完整方案</a>
    </div>
</div>

<contact v-bind:multiple="false" source=""></contact>