extends ../layout.pug

block includes
    link(rel='stylesheet', href='css/WB00278301_case/style.css')
    script(src='js/WB00278301_case.min.js', defer)

block content
    include WB00278301_case.html