extends ../layout.pug

block includes
    link(rel='stylesheet', href='css/WB00278301_factoryManage/style.css')
    script(src='js/WB00278301_factoryManage.min.js', defer)

block content
    include WB00278301_factoryManage.html