<div id="case01" class="section case">
    <div class="content clearfix">
        <div class="part01">
            <h2>承鴻國際</h2>
            <h3>不銹鋼，合金鋼，碳鋼等材質之精密鑄造廠</h3>
            <iframe width="440" height="240" src="https://www.youtube.com/embed/T9J04F1SBTg?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="part02">
            <p>承鴻生產的精密零件產量都非常的龐大，透過現場即時追踨系統，利用SFT的不良品管理功能，現場USER的即時回饋，不僅讓管理者可以更清楚生產狀況外，又能根據不良原因蒐集，分析報表來瞭解不良品主要發生原因為何？可針對重點的部分加強現場人員的訓練或是預防，對於品質的掌握更加確實。</p>
            <p>現場良率影響到達交率，透過系統讓生產進度透明化，可即時掌控良品數量、生產工時及完工比率，目前訂單的達交率及入庫的準時度更提高到80%，<strong>利用途程單RUNCARD搭配條碼輸入的方式，員工更不用擔心因為手誤而填錯了單據，提升了資料的精確率</strong>，電子化的設備方便了現場人員對於系統的操作性，且提高人員對於系統接受度，連客戶都可以透過電子看板查看目前訂單的生產狀況及進度。</p>
        </div>
    </div>
</div>

<div id="case02" class="section case">
    <div class="content clearfix">
        <div class="part01">
            <h2>銳泰精密</h2>
            <h3>套筒板手工具研發及製造</h3>
            <iframe width="440" height="240" src="https://www.youtube.com/embed/0SqhBRPzMKc?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="part02">
            <p>老員工體認，電腦化就是要讓資訊公開，在接單到生產到庫存，管理者就可知道有多少庫存？什麼時候要用那些料？<strong>資訊充足，才能快速及精準的決策，否則要達到這個營業額可能要兩倍的人力來做。</strong></p>
            <p>建置一個溝通的產銷平台，<strong>讓所有資訊在這個平台做很好的呈現，目視平台，在電子看板電視牆直接呈現</strong>，能聚焦，提醒大家那些貨今天要出，你在做抉擇的時候貨的先後順序要注意，已完成多少或是缺多少料？呈現給物管或採購人員去做追料動作。哪時候可以交貨，生管在做決策的時候就可考量到業務交期及詢單回覆、考量到採購的到料進度、考量到現場及委外的生產進度，整的產銷的速度就會快起來，提升訂單達交速度。</p>
            <p>不單在產要變革，銷也要變革，不止被動等著接單，而是如何可主動接單？那就須要：提供產能給客戶，設計理念給客戶，讓客戶願意下預測，企業也可掌控較精準的庫存，同時滿足訂單如期達交及降低庫存的高挑戰。
            </p>
        </div>
    </div>
</div>

<div id="case03" class="section case">
    <div class="content clearfix">
        <div class="part01">
            <h2>阡鴻實業</h2>
            <h3>粉末冶金機械零件</h3>
            <iframe width="440" height="240" src="https://www.youtube.com/embed/bE-TvugMYkQ?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="part02">
            <p>阡鴻已經成立三十多年，從一個小企業到現在年營業額幾億的規模。就需要透過資訊化幫助我們把取得的資訊變成我們想要的各種報表或著是一種圖表或者是一些現象，讓我們想要在管理模式上，要做決策的時候，給我們一些DATA或是訊息可以讓我們去分析去解讀來做我們一個正確的判斷。</p>
            <p>強化人員操作能力 降低風險提高效率：生產製程系統是給現場人員操作，我們的<strong>直接人員有三分之一是外勞(初期寫了講義，翻譯泰文操作，搭配生技為種子及做對的給鼓勵) ，三個月讓外勞學會，一個月讓本勞會操作，報工作業可以即時回報到系統</strong>，也不會只壓在幾個人身上做事後登打，不僅不夠即時且若人員異動就會斷層。</p>
            <p>透過電子看板，顯示訂單有否延誤？就會追現場，現場一樣他們就是照系統模式作進出站做追蹤。在看板上做了一個訂單快要到交期，....延遲七天量什麼燈，延遲三天量什麼燈，及時反饋生產訊息，輔以預警生產異常加速應變的處理時效。</p>
        </div>
    </div>
</div>

<div id="case04" class="section case">
    <div class="content clearfix">
        <div class="part01">
            <h2>旭陽國際精機</h2>
            <h3>機械業</h3>
            <iframe width="440" height="240" src="https://www.youtube.com/embed/kdb0bViD_pw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="part02">
            <p>旭陽期許成為機械業的第一名，這個產業電子化普遍是不足的，差異需從這裡開始與他人不同，希望生產？「要做就要做跟別人不一樣的，取得的資料怎麼拆解為有用的資訊？藉由軟體讓旭陽可以在產業界提升」。</p>
            <p>開始的反彈，導入工時統計是否會壓縮現場？反彈聲音確實很大，老闆的支持：「我就是要做，您無法選擇，就是得做」，從一開始的壓力：配合，工時的進步，獎勵，欣然接受，從不適應到甚至期望可以更好只要對公司是有益的，就去做，有60分就開始做，<strong>做了有錯在改，只要不犯同樣的錯，目前已經落實做到清楚生產脈動，下一步是輔以可提供客服快速查詢零件及序號。</strong></p>
        </div>
    </div>
</div>

<div id="moreCase" class="section">
    <div class="content">
        <h2>各行各業都有成功案例</h2>
        <ul class="clearfix">
            <li>
                <a href="https://www.digiwin.com/tw/case.html" target="_blank">
                    <div class="imgStyle"><img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/factoryCase/img_factoryCase01.png" alt="久霆(股)公司"></div>
                    <h3>久霆(股)公司</h3>
                    <p>鋁合金及各式五金<br>高精密零件機械加工</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/case.html" target="_blank">
                    <div class="imgStyle"><img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/factoryCase/img_factoryCase02.png" alt="英德工業"></div>
                    <h3>英德工業</h3>
                    <p>螺絲、螺帽</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/case.html" target="_blank">
                    <div class="imgStyle"><img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/factoryCase/img_factoryCase03.png" alt="全磊微機電"></div>
                    <h3>全磊微機電</h3>
                    <p>壓力感測元件模組</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/case/540.html" target="_blank">
                    <div class="imgStyle"><img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/factoryCase/img_factoryCase04.png" alt="創為精密材料"></div>
                    <h3>創為精密材料</h3>
                    <p>觸控面板</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/case.html" target="_blank">
                    <div class="imgStyle"><img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/factoryCase/img_factoryCase05.png" alt="豪俊科技"></div>
                    <h3>豪俊科技</h3>
                    <p>粉末治金</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/case/1180.html" target="_blank">
                    <div class="imgStyle"><img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/factoryCase/img_factoryCase06.png" alt="凱勵電子"></div>
                    <h3>凱勵電子</h3>
                    <p>金屬塑膠膜電容器</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/case/759.html" target="_blank">
                    <div class="imgStyle"><img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/factoryCase/img_factoryCase07.png" alt="品茂塑膠"></div>
                    <h3>品茂塑膠</h3>
                    <p>化妝品塑膠容器</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/case/1081.html" target="_blank">
                    <div class="imgStyle"><img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/factoryCase/img_factoryCase08.png" alt="巧瑩科技"></div>
                    <h3>巧瑩科技</h3>
                    <p>血糖測試片</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/case/556.html" target="_blank">
                    <div class="imgStyle"><img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/factoryCase/img_factoryCase09.png" alt="益森彩藝"></div>
                    <h3>益森彩藝</h3>
                    <p>印刷業</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<contact v-bind:multiple="false" source=""></contact>