<div id="pageTitle" class="header">
    <main-header>
        <template slot="content">
            <h1>解決方案</h1>
        </template>
    </main-header>
</div>

<div id="APS" class="section">
    <div class="content">
        <h2>APS (先進規劃與排程系統)</h2>
        <p class="sectionNote">面對市場與製造現場多變的環境，唯有能夠掌握企業可供應的能量，才能快速回覆客戶的需求。APS先進規劃與排程系統同時考慮企業內部物料與產能的供需平衡，提供企業了解物料分配狀況以及現場生產資源的負荷狀況，以有限產能的條件下規劃出一適當的生產排程，讓企業能夠快速的掌握「物料」和「產能」的供給狀況，以作為快速反應的後盾。</p>
        <ul class="clearfix">
            <li>
                <a href="https://www.digiwin.com/tw/software/723.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_feature.png" alt="APS應用特性" class="imgStyle">
                    <h3>應用特性</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/723.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_good.png" alt="APS產品優勢" class="imgStyle">
                    <h3>產品優勢</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/723.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_structure.png" alt="APS系統架構" class="imgStyle">
                    <h3>系統架構</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/723.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_function.png" alt="APS功能介紹" class="imgStyle">
                    <h3>功能介紹</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/723.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_case.png" alt="APS輔導案例" class="imgStyle">
                    <h3>輔導案例</h3>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="MES" class="section">
    <div class="content">
        <h2>MES (工廠營運管制系統)</h2>
        <p class="sectionNote">累積多年MES導入經驗，全面瞭解各製造行業之生產流程，協助生產規劃資訊參考，及掌控廠內外生產進度及相關製程中人員及設備的稼動效率，充份掌控生產脈動，以增進MES對企業的管理效益。在半導體產業(晶圓製程、封裝、測試)、光電產業、電子組裝、電子零元件與印刷電路板產業皆有完整的系統導入成果，同時以專業的顧問服務團隊、跨產業的系統整合與導入經驗。</p>
        <ul class="clearfix">
            <li>
                <a href="https://www.digiwin.com/tw/software/733.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_feature.png" alt="MES應用特性" class="imgStyle">
                    <h3>應用特性</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/733.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_good.png" alt="MES產品優勢" class="imgStyle">
                    <h3>產品優勢</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/733.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_structure.png" alt="MES系統架構" class="imgStyle">
                    <h3>系統架構</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/733.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_function.png" alt="MES功能介紹" class="imgStyle">
                    <h3>功能介紹</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/733.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_case.png" alt="MES輔導案例" class="imgStyle">
                    <h3>輔導案例</h3>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="SFT" class="section">
    <div class="content">
        <h2>SFT (廠區生產追蹤管理系統)</h2>
        <p class="sectionNote">鼎新電腦全面了解各製造行業之生產流程，設計出最符合台灣市場環境的SFT(Shop Floor Tracking)廠區生產追蹤系統模組，協助產銷規劃資訊參考，及掌控廠內(委外)生產進度及相關製程中人員及設備的稼動效率，充份掌控生產脈動，輔以企業訂單準時達交。</p>
        <ul class="clearfix">
            <li>
                <a href="https://www.digiwin.com/tw/software/721.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_feature.png" alt="SFT應用特性" class="imgStyle">
                    <h3>應用特性</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/721.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_good.png" alt="SFT產品優勢" class="imgStyle">
                    <h3>產品優勢</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/721.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_structure.png" alt="SFT系統架構" class="imgStyle">
                    <h3>系統架構</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/721.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_function.png" alt="SFT功能介紹" class="imgStyle">
                    <h3>功能介紹</h3>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/software/721.html" target="_blank">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002783/images/solution/icon_case.png" alt="SFT輔導案例" class="imgStyle">
                    <h3>輔導案例</h3>
                </a>
            </li>
        </ul>
    </div>
</div>

<contact v-bind:multiple="false" source=""></contact>