@charset "UTF-8";
main.WB00263901_4 *, main.WB00263901_4 *:before, main.WB00263901_4 *:after {
    box-sizing: content-box;
}
main.WB00263901_4 img {
    vertical-align: baseline;
}
main.WB00263901_4 body {
  font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
  background-color: #FFF;
}
main.WB00263901_4 h2 {
  width: 100%;
  font-size: 30px;
  line-height: 30px;
  margin: 30px 0px 10px 0px;
  color: #e93030;
}
main.WB00263901_4 h2.DD {
  text-align: left;
  background: url(../images/icon_even.png) no-repeat left center;
  padding-left: 30px;
}
main.WB00263901_4 h2.EE {
  text-align: left;
  background: url(../images/icon_case.png) no-repeat left center;
  padding-left: 30px;
  margin-bottom: 20px;
}
main.WB00263901_4 #event {
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
  font-size: 16px;
  line-height: 30px;
  font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
}
main.WB00263901_4 #event1 {
  clear: both;
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
  font-size: 16px;
  line-height: 30px;
  font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
}
main.WB00263901_4 #event1 table {
    width: 780px;
}
main.WB00263901_4 #event::before,
main.WB00263901_4 #event1::before {
    display: table;
    content: '';
}
main.WB00263901_4 #event::after,
main.WB00263901_4 #event1::after {
    display: table;
    clear: both;
    content: '';
}
main.WB00263901_4 .txtbox {
  float: left;
  width: 960px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: #CCC dotted 1px;
}
main.WB00263901_4 .txtbox .txtbox_L {
  float: left;
  width: 175px;
  margin-right: 15px;
}
main.WB00263901_4 .txtbox .txtbox_R {
    float: right;
    width: 770px;
}
main.WB00263901_4 .txtbox .txtbox_R table {
    width: 430px;
}
main.WB00263901_4 .txtbox .txtbox_R h3 {
  font-size: 20px;
  line-height: 1.6;
  color: #e66d24;
}
main.WB00263901_4 .txtbox .txtbox_R h4 {
  font-size: 16px;
  line-height: 1.6;
  color: #900;
  padding: 5px 0px;
}
main.WB00263901_4 .txtbox .txtbox_R p {
  font-size: 16px;
  line-height: 1.6;
  color: #202020;
  padding-bottom: 6px;
}
main.WB00263901_4 h3 {
  font-size: 20px;
  line-height: 1.6;
  color: #e66d24;
}
main.WB00263901_4 h4 {
  font-size: 16px;
  line-height: 1.6;
  color: #900;
  padding: 5px 0px;
}
main.WB00263901_4 h4.case {
  font-size: 18px;
  line-height: 1.6;
  color: #f63439;
}
main.WB00263901_4 h5 {
  font-size: 13px;
  color: #666;
}
main.WB00263901_4 #button_R {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
main.WB00263901_4 .btnR {
  float: left;
  font-size: 16px;
  font-family: "微軟正黑體", "新細明體", Arial, Helvetica, sans-serif;
  width: 140px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  letter-spacing: 1px;
  margin-right: 15px;
}
main.WB00263901_4 .btnR a {
  display: block;
  color: #e93030;
  text-decoration: none;
  border: #e93030 solid 1px;
}
main.WB00263901_4 .btnR a:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #e93030;
  margin: 0 auto;
  border-bottom: #e93030 solid 1px;
}