extends ../layout.pug

block includes
    link(rel="preload", href="images/WB00267501_7/header-bg.jpg", as="image")
    link(rel='stylesheet', href='css/WB00267501_7/style.css')
    script(src='js/WB00267501_7.min.js', defer)

block content
    include WB00267501_7.html