extends ../layout.pug

block includes
    link(rel='preload', href='images/seminar/header-bg.jpg', as="image")
    link(rel='stylesheet', href='css/seminar/seminar.css')
    script(src='js/seminar.min.js', defer)

block content
    seminar(v-if='result', :seminar='result')