extends ../layout.pug

block includes
    link(rel="preload", href="images/WB00267501_14/header-bg.jpg", as="image")
    link(rel='stylesheet', href='css/WB00267501_14/style.css')
    script(src='js/WB00267501_14.min.js', defer)

block content
    include WB00267501_14.html