$tablet-width: 768px;
$content-width: 1200px;

html.no-mobile {
    .industryList-link {
        &:hover {
            color: #3798e4;
        }
        @for $var from 1 through 50 {
            @if $var < 10 {
                &.item0#{$var}:hover::before {
                    background-image: url('/tw/dsc/images/index/home-icon0#{$var}h.png');
                }
            }
            @else {
                &.item#{$var}:hover::before {
                    background-image: url('/tw/dsc/images/index/home-icon#{$var}h.png');
                }
            }
        }
    }
}
.industryList {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    max-width: 304px;
    text-align: center;
    flex-wrap: wrap;
    @media (min-width: $tablet-width) {
        max-width: 524px;
    }
    @media (min-width: $content-width) {
        max-width: 990px;
    }
    &-item {
        margin-bottom: 20px;
        width: 84px;
        @media (min-width: $content-width) {
            width: 126px;
        }
        @media (max-width: $tablet-width - 1) {
            margin-right: 26px;
            &:nth-child(3n + 3) {
                margin-right: 0;
            }
        }
        @media (min-width: $tablet-width) {
            margin-right: 26px;
            &:nth-child(5n + 5) {
                margin-right: 0;
            }
        }
        @media (min-width: $content-width) {
            margin-right: 90px;
            margin-bottom: 30px;
        }
    }
    &-link {
        display: block;
        color: #555;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.2;
        @media (min-width: $content-width) {
            font-size: 21px;
        }
        &::before {
            display: block;
            margin: 0 auto 8px;
            width: 84px;
            height: 84px;
            background-position: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            content: '';
        }
        @for $var from 1 through 50 {
            @if $var < 10 {
                &.item0#{$var}::before {
                    background-image: url('/tw/dsc/images/index/home-icon0#{$var}.png');
                }
            }
            @else {
                &.item#{$var}::before {
                    background-image: url('/tw/dsc/images/index/home-icon#{$var}.png');
                }
            }
        }
    }
}