<div id="SW-banner" class="section">
    <div class="container">
        <img src="images/banner-txt.png" alt="" class="banner-txt">
        <h3>累積智慧及數據資產釋放數據價值</h3>
        <a href=" http://bit.ly/2yk1htj" target="_blank">觀看數位化轉型 線上研討會</a>
    </div>
</div>

<div id="SW-thought" class="section">
    <div class="container">
        <h2>點亮數位化轉型新思維</h2>
    </div>
    <div id="swiper1" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide img1">
                <div class="container">
                    <p class="H1txt">
                        “數位化轉型的關鍵思維，須重新思考企業創造績效的創新模式，並牽動組織與運作機制，是當今領導者不可逃避的一把手工程。”
                    </p>
                    <p class="SW-txt">
                        鼎新電腦 葉子禎總裁 <br>
                        2019鼎新企業高峰年會-製造場
                    </p>
                    <div class="SW-illust"></div>
                </div>
            </div>
            <div class="swiper-slide img2">
                <div class="container">
                    <p class="H1txt">
                        “數據，是富士康從代工走向科技服務轉型的基礎。結合工業互聯網、大數據與人工智慧創造價值，實現數位化轉型，台灣企業才有產業升級的機會。”
                    </p>
                    <p class="SW-txt">
                        富士康工業互聯網(FII) 鄭弘孟 首席執行官 <br>
                        2019鼎新企業高峰年會-製造場
                    </p>
                    <div class="SW-illust"></div>
                </div>
            </div>
            <div class="swiper-slide img3">
                <div class="container">
                    <p class="H1txt">
                        “數位轉型是人人決策時代，在維持競爭優勢的基礎下，推動決策數位化、智慧化的工業3.5策略，為台灣企業邁向智慧製造的根本目標。”
                    </p>
                    <p class="SW-txt">
                        簡禎富 講座教授<br>
                        清華大學<br>
                        2019.06 工業3.5智造轉型
                    </p>
                    <div class="SW-illust"></div>
                </div>
            </div>
            <div class="swiper-slide img4">
                <div class="container">
                    <p class="H1txt">
                        “真正全數位化的競爭態勢即將展開，未來企業營運過程中所有業務軌跡都會全面數位化，積累的數據資產將成為組織發動循環優化的引擎。”
                    </p>
                    <p class="SW-txt">
                        鼎新電腦 智能+研究中心 蘇斌雄 專家 <br>
                        2019鼎新企業高峰年會-製造場
                    </p>
                    <div class="SW-illust"></div>
                </div>
            </div>
            <div class="swiper-slide img5">
                <div class="container">
                    <p class="H1txt">
                        “數位化轉型需要具備清晰的藍圖，可先找出易於實現的單點開始，在戰略藍圖底下，最終實現系統化價值鏈的轉型。”
                    </p>
                    <p class="SW-txt">
                        王緒斌 博士<br>
                        美國喬治亞理工學院首席製造執行長<br>
                        2019.04 製造AI：預見智造未來
                    </p>
                    <div class="SW-illust"></div>
                </div>
            </div>
            <div class="swiper-slide img6">
                <div class="container">
                    <p class="H1txt">
                        “掌握消費者的相關資訊是流通零售業面向數位化轉型的首要，消費數據與沉睡數據的融合分析，以滿足新零售的生意模式。”
                    </p>
                    <p class="SW-txt">
                        鼎新電腦 張進聰 資深副總裁 <br>
                        2019鼎新企業高峰年會-流通場
                    </p>
                    <div class="SW-illust"></div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination pc"></div>
        <div class="swiper-pagination mobile"></div>
    </div>
</div>

<div id="SW-way" class="section">
    <div class="container">
        <h2>無論您的企業所屬產業與規模為何 <br>
            數位化轉型皆是邁向智能新時代的關鍵路徑</h2>
        <ul class="twoBox pc">
            <li>
                <a href=" http://bit.ly/2yk1htj" target="_blank">
                    <h3>線上直播預約</h3>
                    <p>7/23 數位化轉型捷徑</p>
                </a>
            </li>
            <li>
                <a href="https://www.digiwin.com/tw/activity.html" target="_blank">
                    <h3>了解更多</h3>
                    <p>數位轉型系列研討會</p>
                </a>
            </li>
        </ul>
        <div class="mobile">
            <ul class="twoBox">
                <li>
                    <a href v-on:click.prevent="clickHandler(6)">
                        <h3>線上觀看</h3>
                        <p>精彩回顧 2019鼎新企業高峰年會</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.digiwin.com/tw/activity.html" target="_blank">
                        <h3>了解更多</h3>
                        <p>數位轉型系列研討會</p>
                    </a>
                </li>
            </ul>
        </div>

        <ul class="threeBox">
            <li>
                <div>
                    <div class="fadeout">
                        <h1>新智造</h1>
                        <img src="images/three1.png" alt="">
                        <span class="xtr">
                            <p>如何讓數據創造價值，優化智能製造運作效率？</p>
                        </span>
                    </div>

                    <div class="fadein">
                        <p>以頂層設計思維，明確制定達到競爭優勢所需的關鍵能力。並以效益導向的智能製造，實現降本、提效、提質、減存。</p>
                        <a href="https://www.digiwin.com/tw/dsc/activity/WB002928/WB00292804.html" class="boxBtn" target="_blank">製造年會 活動報導</a>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="fadeout">
                        <h1>新技術</h1>
                        <img src="images/three2.png" alt="">
                        <span class="xtr">
                            <p>AI人工智慧、工業互聯網如何賦能數位化轉型？</p>
                        </span>
                    </div>

                    <div class="fadein">
                        <p>人工智慧深入企業數據，成為大數據分析與預測工具。工業互聯網平台運用工業APP進行內外數據的匯流，實現精實製造。</p>
                        <a href="https://www.digiwin.com/tw/dsc/activity/WB002941/WB00294102_EDM.html" class="boxBtn" target="_blank">製造 AI 活動報導</a>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="fadeout">
                        <h1>新零售</h1>
                        <img src="images/three3.png" alt="">
                        <span class="xtr">
                            <p> 流通零售業如何以數據驅動 營運，跟上轉型步伐？</p>
                        </span>
                    </div>

                    <div class="fadein">
                        <p>以消費者為中心，藉由數位化產生的數據價值，掌握消費者的路徑，再以新技術實現消費者行為預測，達到差異化創新。</p>
                        <a href="https://www.digiwin.com/tw/dsc/activity/WB002926/WB00292605.html" class="boxBtn" target="_blank">流通年會 活動報導</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<article class="manufacturing section">
    <h1 class="manufacturing-title">製造業轉型成功關鍵</h1>
    <p class="manufacturing-desc">
        不在於擁有多少資源，<br>
        而是將<strong>既有資源極大化發揮</strong><br>
        是<strong>數據流動的自動化</strong>，<br>
        而不僅是生產工具的自動化
    </p>

    <div class="manufacturing-evolution">
        <div class="pc">
            <div class="manufacturing-evolution-top">
                <p><img src="images/evolution-title1.png" alt="工業3.5"></p>
                <div class="manufacturing-evolution-arrow"><img src="images/evolution-arrow.png" alt=""></div>
                <p><img src="images/evolution-title2.png" alt="工業4.0"></p>
            </div>
            <div class="manufacturing-evolution-bottom">
                <div class="container">
                    <div class="manufacturing-evolution-bottom-content">
                        中小企業轉型優勢：具備製造管理know-how<br>及實戰經驗、供應鏈調度整合能力
                    </div>
                    <div class="manufacturing-evolution-bottom-content">
                        跨國大廠轉型優勢：擁有大量生產數據、<br>可建置示範產線、產業鏈垂直整合能力
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile container">
            <div>
                <p><img src="images/evolution-title1.png" alt="工業3.5"></p>
                <p>中小企業轉型優勢：具備製造管理know-how及實戰經驗、供應鏈調度整合能力</p>
            </div>
            <div><img src="images/evolution-arrow-s.png" alt=""></div>
            <div>
                <p><img src="images/evolution-title2.png" alt="工業4.0"></p>
                <p>跨國大廠轉型優勢：擁有大量生產數據、可建置示範產線、產業鏈垂直整合能力</p>
            </div>
        </div>
    </div>

    <div class="manufacturing-main">
        <div class="container">
            <section class="manufacturing-main-col">
                <div class="manufacturing-main-title">
                    <h2>台灣中小型製造業最佳混和型策略</h2>
                    <h1>工業3.5</h1>
                </div>
                <div class="manufacturing-main-body">
                    <p>強化彈性決策 x 數位判斷</p>
                    <ul>
                        <li>生產數據即時分析</li>
                        <li>改善決策速度品質</li>
                        <li>人機協作數位大腦</li>
                    </ul>
                </div>
                <div class="manufacturing-main-btn">
                    <a href="/tw/zlsq.html?id=1937" target="_blank">
                        《工業3.5》專家導讀會<br>
                        <strong>線上觀看</strong>
                    </a>
                </div>
            </section>
            <section class="manufacturing-main-col">
                <div class="manufacturing-main-title">
                    <h2>世界經濟論壇2019製造業燈塔工廠</h2>
                    <h1>富士康熄燈工廠</h1>
                </div>
                <div class="manufacturing-main-body">
                    <p>實現生產自動化 x 決策數據化</p>
                    <ul>
                        <li><strong>生產效率提升</strong> 30%</li>
                        <li><strong>庫存週期降低</strong> 15%</li>
                        <li><strong>生產人力減少</strong> 92%</li>
                    </ul>
                </div>
                <div class="manufacturing-main-btn">
                    <a href="https://www.digiwin.com/tw/blog/3/index/1911.html" class="online" target="_blank">
                        富士康工業互聯轉型之路<br>
                        <strong>線上觀看</strong>
                    </a>
                </div>
            </section>
        </div>
    </div>
</article>

<div id="SW-think" class="section">
    <div class="container">
        <h2>數位化轉型思維</h2>
        <p class="txt1p">以企業價值主張及戰略藍圖為起點，以商業模式變革邁向新增長模式為終點</p>
        <div class="changebox pc">
            <ul class="fivebox">
                <li class="active">
                    <img src="images/th1.png" alt="">
                    <h4>圍繞 <br>
                        價值主張</h4>
                </li>
                <li>
                    <img src="images/th2.png" alt="">
                    <h4>制定 <br>
                        戰略藍圖</h4>
                </li>
                <li>
                    <img src="images/th3.png" alt="">
                    <h4>培養 <br>
                        關鍵能力</h4>
                </li>
                <li>
                    <img src="images/th4.png" alt="">
                    <h4>落實 <br>
                        數據驅動</h4>
                </li>
                <li>
                    <img src="images/th5.png" alt="">
                    <h4>創新 <br>
                        商業模式</h4>
                </li>
            </ul>
            <div class="tab">
                <div class="tabtxt">
                    <ul>
                        <li>
                            <p class="H2t">
                                圍繞價值主張
                            </p>
                            <p class="Ptxt1">
                                數位化轉型的第一步，需要從市場趨勢、客戶需求等各維度展開評估，制定轉型願景並釐清能提供給客戶的價值與競爭優勢為何，依此發展清晰連貫的戰略。
                            </p>
                        </li>
                        <li>
                            <p class="H3T" style="padding-bottom:10px">
                                鼎新的願景與價值為何？
                            </p>
                            <p class="Pst">
                                圍繞「創造客戶數位價值」的使命，在產業互聯網、智能製造；新零售的浪潮下，期以協助企業累積智慧與數據資產，賦能企業數位化轉型的能力。
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="tabtxt" style="display:none">
                    <ul>
                        <li>
                            <p class="H2t">
                                制定戰略藍圖
                            </p>
                            <p class="Ptxt1">
                                驅動數位化轉型的核心是戰略而非技術。數位化轉型的策略規劃，應站在企業戰略的制高點，思考企業商業模式與數位化技術如何深度融合。
                            </p>
                        </li>
                        <li>
                            <p class="H3T">
                                鼎新的轉型戰略藍圖如何制定？
                            </p>
                            <h3>
                                <a href="http://industry4.digiwin.com" target="_blank">鼎新智能+戰略藍圖</a>
                            </h3>
                            <p class="Pst">
                                2015年確立「智能+」戰略藍圖及「一線三環互聯」戰略路徑，聚焦佈局智能製造、全渠道零售、微企互聯網，發展一體化應用方案與服務，替企業邁向智慧化紮穩根基。
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="tabtxt" style="display:none">
                    <ul>
                        <li>
                            <p class="H2t">
                                培養關鍵能力
                            </p>
                            <p>
                                數位化轉型牽動到業務模式、組織架構、工作流程的重構。但不變的是能明確把握提升競爭優勢的關鍵能力：降本減存、提質增效、滿足市場與彈性應變能力等。
                            </p>
                        </li>
                        <li>
                            <p class="H3T">
                                鼎新如何協助企業聚焦關鍵能力？
                            </p>
                            <h3>
                                <a href="http://industry4.digiwin.com/diagnosis.htm" target="_blank">工業4.0成熟度評量</a>
                            </h3>
                            <p class="Pst">
                                根據智能製造整體藍圖框架展開的評量健檢，提供給企業邁向智能製造的最佳改善路徑的參考。
                            </p>
                            <h3>
                                <a href="https://www.digiwin.com/tw/dsc/marketing/WB002860/WB00286002.htm" target="_blank">CEBIT價值服務諮詢</a>
                            </h3>
                            <p class="Pst">
                                「效益為導向」的價值服務，為企業夥伴客製化聚焦管理能力的提升計劃，企業營運所面對的關鍵能力有感提升。
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="tabtxt" style="display:none">
                    <ul>
                        <li>
                            <p class="H2t">
                                落實數據驅動
                            </p>
                            <p>
                                在大數據、人工智慧、物聯網、移動化等技術推陳出新的時代，企業並非追趕潮流，而需擁有技術應用思維，明確了解技術如何推動與優化運作效率。
                            </p>
                        </li>
                        <li>
                            <p class="H3T">
                                鼎新如何協助企業累積並應用數據資產？
                            </p>
                            <h3>
                                <a href="https://www.digiwin.com/tw/dsc/marketing/WB002838/WB00283808.htm" target="_blank">智慧工廠全流程方案</a>
                            </h3>
                            <p class="Pst">
                                整合智能派工、智能物流、智能現場、智能戰情、智機聯網等應用，發佈「數智工廠全流程應用方案」，以數據驅動工廠智能營運。
                            </p>
                            <h3>
                                <a href="https://www.digiwin.com/tw/software/iiappcbe/index.html" target="_blank">工業互聯網-敏態工業APP建置</a>
                            </h3>
                            <p class="Pst">
                                研發小而精且易於敏捷開發的工業APP，加速推動工廠數位化管理，賦能中小企業。
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="tabtxt" style="display:none">
                    <ul>
                        <li>
                            <p class="H2t">
                                創新商業模式
                            </p>
                            <p>
                                數位化轉型的最終結果是商業模式的變革，替企業創造新的營收，並且同時能夠滿足客戶不斷變化的需求，創造與客戶的雙贏
                            </p>
                        </li>
                        <li>
                            <p class="H3T">
                                鼎新的轉型創新將帶給企業什麼助力？
                            </p>
                            <h3>
                                <a href="https://www.digiwin.com/tw/dsc/marketing/WB002838/WB00283801.htm" target="_blank">全程價值服務</a>
                            </h3>
                            <p class="Pst">
                                跳脫資訊服務業傳統系統載具思維，轉變為以管理議題及應用效益為根本的全程價值服務，是鼎新將行業知識淬鍊為服務商品的創新。與客戶夥伴共同承擔目標，確保營運績效達成。
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="changtab mobile">
            <div class="icon1">
                <ul>
                    <li><img src="images/mth1.png" alt=""></li>
                    <li>
                        <p>圍繞價值主張</p>
                    </li>
                </ul>
            </div>
            <div class="mtabtxt">
                <ul>
                    <li>
                        <p class="H2t">
                            圍繞價值主張
                        </p>
                        <p class="Ptxt1">
                            數位化轉型的第一步，需要從市場趨勢、客戶需求等各個外部維度展開評估，制定轉型的願景以及釐清能提供給客戶的價值與競爭優勢為何，並依此制定清晰連貫的戰略。
                        </p>
                    </li>
                    <li>
                        <p class="H3T">
                            鼎新的願景與價值為何？
                        </p>
                        <p class="Pst">
                            圍繞「創造客戶數位價值」的使命，在產業互聯網、智能製造；新零售的浪潮下，期以協助企業累積智慧與數據資產，賦能企業數位化轉型的能力。
                        </p>
                    </li>
                </ul>
            </div>
            <div class="icon1">
                <ul>
                    <li><img src="images/mth2.png" alt=""></li>
                    <li>
                        <p>制定戰略藍圖</p>
                    </li>
                </ul>
            </div>
            <div class="mtabtxt" style="display: none">
                <ul>
                    <li>
                        <p class="H2t">
                            制定戰略藍圖
                        </p>
                        <p class="Ptxt1">
                            驅動數位化轉型的核心是戰略而非技術。數位化轉型的策略規劃，應站在企業戰略的制高點，思考企業商業模式與數位化技術如何深度融合。
                        </p>
                    </li>
                    <li>
                        <p class="H3T">
                            鼎新的轉型戰略藍圖如何制定？
                        </p>
                        <h3>
                            <a href="http://industry4.digiwin.com" target="_blank">鼎新智能+戰略藍圖</a>
                        </h3>
                        <p class="Pst">
                            2015年確立「智能+」戰略藍圖及「一線三環互聯」戰略路徑，以「內修」強化提升企業夥伴運營能力；「外聯」連結需求鏈、供應鏈等產業生態系；「互聯」打造智慧協同與資源共享平台之路徑，替企業邁向智慧化紮穩根基。
                        </p>
                    </li>
                </ul>
            </div>
            <div class="icon1">
                <ul>
                    <li><img src="images/mth3.png" alt=""></li>
                    <li>
                        <p>培養關鍵能力</p>
                    </li>
                </ul>
            </div>
            <div class="mtabtxt" style="display: none">
                <ul>
                    <li>
                        <p class="H2t">
                            培養關鍵能力
                        </p>
                        <p class="Ptxt1">
                            數位化轉型牽動到業務模式、組織架構、工作流程的重構。但不變的是能明確把握提升競爭優勢的關鍵能力：降本減存、提質增效、滿足市場與彈性應變能力等。
                        </p>
                    </li>
                    <li>
                        <p class="H3T">
                            鼎新如何協助企業聚焦關鍵能力？
                        </p>
                        <h3>
                            <a href="http://industry4.digiwin.com/diagnosis.htm" target="_blank">工業4.0成熟度評量</a>
                        </h3>
                        <p class="Pst">
                            根據智能製造整體藍圖框架展開的評量健檢，提供給企業邁向智能製造的最佳改善路徑的參考。
                        </p>
                        <h3>
                            <a href="https://www.digiwin.com/tw/dsc/marketing/WB002860/WB00286002.htm" target="_blank">CEBIT價值服務諮詢</a>
                        </h3>
                        <p class="Pst">
                            「效益為導向」的價值服務，為企業夥伴客製化聚焦管理能力的提升計劃，企業營運所面對的關鍵能力有感提升。
                        </p>
                    </li>
                </ul>
            </div>
            <div class="icon1">
                <ul>
                    <li><img src="images/mth4.png" alt=""></li>
                    <li>
                        <p>落實數據驅動</p>
                    </li>
                </ul>
            </div>
            <div class="mtabtxt" style="display: none">
                <ul>
                    <li>
                        <p class="H2t">
                            落實數據驅動
                        </p>
                        <p class="Ptxt1">
                            在大數據、人工智慧、物聯網、移動化等技術推陳出新的時代，企業並非追趕潮流，而需擁有技術應用思維，明確了解技術如何推動與優化運作效率。
                        </p>
                    </li>
                    <li>
                        <p class="H3T">
                            鼎新如何協助企業累積並應用數據資產？
                        </p>
                        <h3>
                            <a href="https://www.digiwin.com/tw/dsc/marketing/WB002838/WB00283808.htm" target="_blank">智慧工廠全流程方案</a>
                        </h3>
                        <p class="Pst">
                            整合智能派工、智能物流、智能現場、智能戰情、智機聯網等應用，發佈「數智工廠全流程應用方案」，以數據驅動工廠智能營運。
                        </p>
                        <h3>
                            <a href="https://www.digiwin.com/tw/software/iiappcbe/index.html" target="_blank">工業互聯網-敏態工業APP建置</a>
                        </h3>
                        <p class="Pst">
                            研發小而精且易於敏捷開發的工業APP，加速推動工廠數位化管理，賦能中小企業。
                        </p>
                    </li>
                </ul>
            </div>
            <div class="icon1" style="border-bottom: 2px solid #08a1f0;">
                <ul>
                    <li><img src="images/mth5.png" alt=""></li>
                    <li>
                        <p>創新商業模式</p>
                    </li>
                </ul>
            </div>
            <div class="mtabtxt" style="display: none">
                <ul>
                    <li>
                        <p class="H2t">
                            創新商業模式
                        </p>
                        <p class="Ptxt1">
                            數位化轉型的最終結果是商業模式的變革，替企業創造新的營收，並且同時能夠滿足客戶不斷變化的需求，創造與客戶的雙贏
                        </p>
                    </li>
                    <li>
                        <p class="H3T">
                            鼎新的轉型創新將帶給企業什麼助力？
                        </p>
                        <h3>
                            <a href="https://www.digiwin.com/tw/dsc/marketing/WB002838/WB00283801.htm" target="_blank">全程價值服務</a>
                        </h3>
                        <p class="Pst">
                            跳脫資訊服務業傳統系統載具思維，轉變為以管理議題及應用效益為根本的全程價值服務，是鼎新將行業知識淬鍊為服務商品的創新。與客戶夥伴共同承擔目標，確保營運績效達成。
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="SW-drive" class="section">
    <div class="container">
        <h2>以數據價值驅動數位化轉型 我們正在實踐路上</h2>
        <div id="swiper2" class="swiper-container Dheight">
            <div class="swiper-wrapper" v-on:click="clickHandler()">
                <div class="swiper-slide">
                    <ul class="swidth">
                        <li>
                            <img src="images/sc1.jpg" alt="">
                        </li>
                        <li>
                            <p class="H3txt">東野精機</p>
                            <p class="H4txt">深耕鋁擠型產業超過廿年的東野，以傳產優勢開啟轉型之路，從設計到生產一條龍服務模式開啟新的獲利藍圖。用數據注入職人之魂，成就30%的跳躍成長。</p>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="swidth">
                        <li>
                            <img src="images/sc2.jpg" alt="">
                        </li>
                        <li>
                            <p class="H3txt">大井泵浦</p>
                            <p class="H4txt">大井以營運監控平台洞悉數據，藉由數據全價值鏈的管理，達到決策訊息透明。揮別盲眼管理，大井泵浦與數據同行。</p>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="swidth">
                        <li>
                            <img src="images/sc3.jpg" alt="">
                        </li>
                        <li>
                            <p class="H3txt">協訊國際</p>
                            <p class="H4txt">協訊緊抓市場趨勢，設定通路獲利能力、精準服務能力、門市淨利掌控能力三大提升方向，讓一切數據業務化，打好數位化基底，邁向全渠道時代。</p>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="swidth">
                        <li>
                            <img src="images/sc4.jpg" alt="">
                        </li>
                        <li>
                            <p class="H3txt">雅得電池</p>
                            <p class="H4txt">雅得將生產過程全面數據化，讓數據準確預測，提升料帳即時回饋、產品追溯管理，確保利潤跟生產基地的成本優勢，備足市場擴大的動能。</p>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="swidth">
                        <li>
                            <img src="images/sc5.jpg" alt="">
                        </li>
                        <li>
                            <p class="H3txt">力肯實業</p>
                            <p class="H4txt">力肯將數據與價值鏈環環相扣，供應商、資材、製造現場的所有數據即時正確，讓全體人員相信數據，對於力肯的體質改善與團隊士氣帶來全新面貌。</p>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="swidth">
                        <li>
                            <img src="images/sc6.jpg" alt="">
                        </li>
                        <li>
                            <p class="H3txt">安得烈</p>
                            <p class="H4txt">安得烈從「高效精準的倉儲透明化管理」的基本功開始，標定帳料一致、降低人力、庫存管控透明化三個指標，為邁向智能製造與數位化轉型紮穩基本功。</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <!-- popup -->
    <div id="case_popup" class="case_popup">
        <img v-if="!loaded" src="images/loading.svg" class="case_popup-loading" alt="">
        <div class="video-container">
            <iframe v-for="(item,idx) in url" v-on:load="onLoaded()" v-if="opened && activeIndex===idx" :src="url[idx]" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <button class="case_popup_close"></button>
    </div>
</div>

<ad></ad>
<menu-mask></menu-mask>