extends ../layout.pug

block includes
    link(rel='stylesheet', href='/tw/dsc/css/reboot.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/public.css')
    link(rel='stylesheet', href='css/swiper.min.css')
    link(rel='stylesheet', href='css/index.css')
    script(src='js/swiper.min.js', defer)
    script(src='js/jquery.popupoverlay.js', defer)
    script(src="js/lodash.min.js", defer)
    script(src='js/index.min.js', defer)

block content
    include index.html