.hideLabel {
    display: inline-block;
    /* float: left; */
    width: 110px; 
    font-size: 19px;
}

#contactInput span.leftSide {
    text-align: right;
}

#contactInput span.evenLable {
    /* margin-left:50px; */
}

#contactInput input {
    display: inline-block;
    /* float: left;  */
    width: 200px; 
    height: 30px; 
    margin: 0 0 20px 0; 
    padding-left: 10px; 
    background-color: #666; 
    border: 1px solid #fff; 
    color: #000;
    font-size: 19px; 
}

/*shortForm style*/
.form.shortForm .inforCheck,
.form.shortForm .verifica {
    width: 100%;
    float: left;
}

.form.shortForm .verifica {
    text-align: left;
}

.form.shortForm .veriSpan {
    display: inline-block;
}

