main .mobile {
    .accordion {
        &-content {
            background-color: #c9c9c9;
            &:not(:first-of-type) {
                display: none;
            }
        }
        .container {
            padding-top: 1.5em;
            padding-bottom: 1.5em;
        }
        h2 {
            display: flex;
            padding-right: 20px;
            padding-left: 20px;
            height: 84px;
            color: #fff;
            font-weight: bold;
            font-size: 24px;
            line-height: 84px;
            cursor: pointer;
            justify-content: space-between;
            align-items: center;
            &:not(:last-of-type) {
                border-bottom: 1px solid #e8e8e8;
            }
            &:focus {
                outline: none;
            }
            &::after {
                width: 20px;
                height: 20px;
                background-image: url('../../images/plus-icon.png');
                content: '';
            }
            &.active::after {
                width: 20px;
                height: 20px;
                background-image: url('../../images/minus-icon.png');
                content: '';
            }
        }
    }
    .hoverBoxs {
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        align-items: center;
    }
    .hoverBox {
        display: flex;
        flex-direction: column;
        padding-right: 30px;
        padding-left: 30px;
        max-width: 370px;
        width: 100%;
        height: 224px;
        color: #fff;
        justify-content: center;
        & + .hoverBox {
            margin-top: 25px;
        }
        &::before {
            display: block;
            margin: 0 auto 1em;
            width: 150px;
            height: 120px;
            background-position: 50%;
            background-repeat: no-repeat;
            content: '';
        }
        &-title {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            line-height: 1;
        }
        &-hover {
            display: flex;
            padding: 0 30px;
            color: #fff;
            text-align: justify;
            word-break: break-all;
            letter-spacing: getLetterSpacing(25);
            align-items: center;
        }
        &-hoverText {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 16px;
            p + p {
                margin-top: .5em;
            }
        }
    }
    .slider-illust {
        text-align: center;
    }
}
