extends ../layout.pug

block includes
    link(rel='stylesheet', href='css/WB00271101_case/style.css')
    script(src='js/WB00271101_case.min.js', defer)

block content
    include WB00271101_case.html