extends ../layout.pug

block includes
    link(rel="stylesheet", href="/tw/dsc/css/animate.css")
    link(rel="stylesheet", href="/tw/dsc/shadowbox/shadowbox.css")
    script(src='/tw/dsc/shadowbox/shadowbox.js', defer)
    link(rel='stylesheet', href='css/WB00271101_multichannel/style.css')
    script(src='js/WB00271101_multichannel.min.js', defer)

block content
    include WB00271101_multichannel.html