<div id="indBanner" class="section vAlignMiddle">
    <div class="content vAlignContent">
        <h1>多通路管理</h1>
        <p class="pageDesc"><br /></p>
    </div>
</div>
<!-- mainContent-------------------------------------- -->
<div id="mainContent" class="section">
    <div class="content">
        <div class="group clearfix">
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/icon_quickLink01.svg" alt="經銷代理" />
                <p>經銷代理</p>
            </div>
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/icon_quickLink02.svg" alt="連鎖賣場" />
                <p>連鎖賣場</p>
            </div>
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/icon_quickLink03.svg" alt="門市專櫃" />
                <p>門市專櫃</p>
            </div>
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/icon_quickLink04.svg" alt="網購生意" />
                <p>網購生意</p>
            </div>
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/icon_quickLink05.svg" alt="觀光工廠" />
                <p>觀光工廠</p>
            </div>
            <div class="list">
                <img src="images/multichannel/icon_quickLink10.png" alt="新零售" />
                <p>新零售</p>
            </div>
        </div>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <!-- sueGroup------------------------------------------ -->
        <div class="issueGroup">
            <!-- issue--------------------------------------------- -->
            <div class="issue clearfix">
                <!-- ---------------------------------------- -->
                <div class="GroupAll clearfix">
                    <h2>經銷代理</h2>
                    <p class="title">常見困擾</p>
                    <h4>
                        作經銷批發生意，管理重點有那些？通路管理、應收帳款、信用額度、業務巡補
                    </h4>
                    <p>
                        中壢與青埔的客戶銷售量跟規模都有差異….這價格要怎麼訂阿?大連假又到了，中壢的銷量一直很不錯，這次支援作促銷，要作買一送一還有不定期的小驚喜活動，但青埔那邊的客戶說他們也要一樣的折扣...
                    </p>
                    <div class="jobProblem clearfix">
                        <div class="txt txt01">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people01.svg" alt="業務" />
                                    <p>業務</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p class="w50">feedback條件是贈送商品還是折抵貨款？</p>
                                    <p class="w50">
                                        哪個經銷商的合約快要到期了？可不可以主動通知我？
                                    </p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="txt txt02">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people02.svg" alt="錢老闆" />
                                    <p>錢老闆</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p class="w50">
                                        每個經銷商的feedback條件都不同，哪些已經達到合約目標了，要來跟我要回饋？怎麼核算到底做到了沒？銷退有沒有扣掉？
                                    </p>
                                    <p class="w50">
                                        如何監控經銷商有沒有跑掉？(多久沒有叫貨，或越訂越少)
                                    </p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -------------------------------- -->
                <div class="GroupAll2 clearfix">
                    <p class="title">解決方案</p>
                    <div class="txtGroup">
                        <h4>作經銷批發生意，其實您可以這樣管</h4>
                        <p>通路合約控管好、加快結帳與對帳</p>
                        <ul>
                            <li>
                                系統建立各通路商談定的合約費用計算方式與條件記錄，並自動產出費用金額與通路合約費用明細表，可指定日期產出銷/
                                退單據。
                            </li>
                            <li>
                                通路合約費用可依金額自動拋轉產生應付憑單，依贈品產生訂單。
                            </li>
                            <li>
                                自動依採購合約條件設定滾算採購費用，可指定資料日期，篩選進/退貨單單據。
                            </li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/multichannel/img_fig01.jpg" rel="shadowbox[figGroup]" title="經銷代理解決方案">
                                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/img_fig01_s.jpg" alt="經銷代理解決方案" />
                                <p>▲ 經銷代理解決方案圖</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ---------------------------------- -->
            </div>
            <!-- issue-end----------------------------------------- -->
            <!-- issue--------------------------------------------- -->
            <div class="issue clearfix">
                <!-- ---------------------------------------- -->
                <div class="GroupAll clearfix">
                    <h2>連鎖賣場</h2>
                    <p class="title">常見困擾</p>
                    <h4>
                        作連鎖賣場KA生意，管理重點有那些？允收‧效期、促銷管理、通路合約
                    </h4>
                    <p>
                        COSTCO說這批貨過了允收期，不收了.....家福樂也不要這批貨....每家量販店效期規範都不同，這批貨到底要出給誰阿....<br />
                        每天一直出貨都沒有注意到哪些快過期，報廢傷利潤，還得賠錢耶！
                    </p>
                    <div class="jobProblem clearfix">
                        <div class="txt txt03">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people03.svg" alt="客戶" />
                                    <p>客戶</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p>
                                        怎麼又出短效期商品給我，害我沒東西賣...下次不跟你們公司進貨了...
                                    </p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="txt txt04">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people04.svg" alt="業務" />
                                    <p>業務</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p>
                                        倉庫人員怎麼常常出道效期不對的商品，老是被客戶退貨。我又要去跟客戶賠罪了...
                                    </p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -------------------------------- -->
                <div class="GroupAll2 clearfix">
                    <p class="title">解決方案</p>
                    <div class="txtGroup">
                        <h4>作連鎖通路KA生意，其實您可以這樣管</h4>
                        <p>善用批號管理、進而降低報廢成本</p>
                        <ul>
                            <li>可按客戶商品允收期條件建立於系統中。</li>
                            <li>
                                出貨時由系統依照該客戶的商品允收期條件自動帶出出貨[批號]，倉庫人員僅需按系統建議的批號指示去倉庫撿貨即可。
                            </li>
                            <li>
                                若有短效期品，系統能夠提早警示及提醒，讓同仁能盡早將[即期品]在未過期前充分被利用，降低報廢成本。
                            </li>
                            <li>避免出錯的批號導致被客戶退貨或罰款。</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/multichannel/img_fig02.jpg" rel="shadowbox[figGroup]" title="連鎖賣場解決方案">
                                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/img_fig02_s.jpg" alt="連鎖賣場解決方案" />
                                <p>▲ 連鎖賣場解決方案</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ---------------------------------- -->
            </div>
            <!-- issue-end----------------------------------------- -->
            <!-- issue--------------------------------------------- -->
            <div class="issue clearfix">
                <!-- ---------------------------------------- -->
                <div class="GroupAll clearfix">
                    <h2>門市專櫃</h2>
                    <p class="title">常見困擾</p>
                    <h4>
                        做門市專櫃生意，管理重點有那些？預購活動、滿額活動、會員專屬、促銷活動、門市要貨
                    </h4>
                    <p>
                        新光三越週年慶要開始了，只要預購抗老活膚霜組合，就送化妝包跟面膜，加購青春不老眼霜再加送旅行組一份，買二組送安瓶，買三組送行李箱.....某貴婦本來預購晚霜跟眼霜的組合，又說要換成精華液跟安瓶，又加買了彩妝盤，扣掉她之前付的禮券跟刷卡訂金，還要再收多少錢?
                    </p>
                    <div class="jobProblem clearfix">
                        <div class="txt txt05">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people05.svg" alt="貴婦" />
                                    <p>貴婦</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p>
                                        上次預訂的眼霜我不要了，幫我換成安瓶組合，但我想要行李箱，幫我算一下還要買多少才能送?
                                    </p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="txt txt06">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people06.svg" alt="櫃姐" />
                                    <p>櫃姐</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p>
                                        這位是VIP千萬不能得罪，但她一下要精華液，一下要送旅行組，現在又要溱到行李箱的滿額贈，已經搞不楚要收多少錢?
                                    </p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -------------------------------- -->
                <div class="GroupAll2 clearfix">
                    <p class="title">解決方案</p>
                    <div class="txtGroup">
                        <h4>經營門市專櫃其實您可以這樣管</h4>
                        <p>預購活動用心做、檔期營收穩達標</p>
                        <ul>
                            <li>預購明細隨時掌握，訂金及沖銷歷程統一控管。</li>
                            <li>付款取貨確保顧客及公司權益。</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/multichannel/img_fig03.jpg" rel="shadowbox[figGroup]" title="門市專櫃解決方案">
                                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/img_fig03_s.jpg" alt="門市專櫃解決方案" />
                                <p>▲ 門市專櫃解決方案</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ---------------------------------- -->
            </div>
            <!-- issue-end----------------------------------------- -->
            <!-- issue--------------------------------------------- -->
            <div class="issue clearfix">
                <!-- ---------------------------------------- -->
                <div class="GroupAll clearfix">
                    <h2>網購生意</h2>
                    <p class="title">常見困擾</p>
                    <h4>作網購生意，管理重點有那些？接單、出貨、對帳、退換貨</h4>
                    <p>
                        YA平台有267張單、PC平台有234張單、樂平台有189張單…哇！每天訂單這麼多，這季獎金可以領到手軟，但平台格式都不同打單打到眼睛花，
                        就算加班也打不完吧？訂單從四面八方一直來！
                    </p>
                    <div class="jobProblem clearfix">
                        <div class="txt w33 txt07">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people07.svg" alt="客戶" />
                                    <p>客戶</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p>
                                        我前天訂了1組青春不老組，贈品是面膜10片，沒收到贈品阿....
                                    </p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="txt w33 txt08">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people08.svg" alt="物流配送" />
                                    <p>客戶</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p>
                                        網頁上寫買晚霜50ml就送3瓶5ml的旅行組，還有送10ml化妝水，但我收到面膜?
                                    </p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="txt w33 txt09">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people09.svg" alt="物流配送" />
                                    <p>客戶</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p>不是24小時到貨嗎?但我一直沒收到貨....</p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -------------------------------- -->
                <div class="GroupAll2 clearfix">
                    <p class="title">解決方案</p>
                    <div class="txtGroup">
                        <h4>網購生意其實您可以這樣管</h4>
                        <ul>
                            <li>接單零誤差、出貨搶時效</li>
                            <li>平台訂單自動轉入、確認即可</li>
                            <li>隨時掌握準確的商品庫存</li>
                            <li>自動產生對應的物流貨運</li>
                            <li>降低平台扣款及缺貨罰款</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/multichannel/img_fig04.jpg" rel="shadowbox[figGroup]" title="網購業解決方案">
                                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/img_fig04_s.jpg" alt="網購業解決方案" />
                                <p>▲ 網購業解決方案</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ---------------------------------- -->
            </div>
            <!-- issue-end----------------------------------------- -->
            <!-- issue--------------------------------------------- -->
            <div class="issue clearfix">
                <!-- ---------------------------------------- -->
                <div class="GroupAll clearfix">
                    <h2>觀光工廠</h2>
                    <p class="title">常見困擾</p>
                    <h4>經營觀光工廠，管理重點有那些？接團前、接團中、接團後</h4>
                    <p>
                        控團沒做好影響有多大？哪一團什麼時候進來，不容易掌握，花時間做聯繫，需要做臨時應變。團控沒控好，引起團和團碰撞，造成館內壅擠，客人參觀意願降低。
                    </p>
                    <div class="jobProblem clearfix">
                        <div class="w100 txt10">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people10.svg" alt="觀光工廠" />
                                    <p>觀光工廠</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p>
                                        <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/picsImg05.png" alt="觀光工廠" width="900" height="230" />
                                    </p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -------------------------------- -->
                <div class="GroupAll2 clearfix">
                    <p class="title">解決方案</p>
                    <div class="txtGroup">
                        <h4>觀光工廠其實您可以這樣管</h4>
                        <p>資源有限，事先安排不忙亂!</p>
                        <ul>
                            <li>團務資料預先建立，預先安排接待人力與有限資源。</li>
                            <li>掌握準確商品庫存，即時補貨，架上不缺貨。</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/multichannel/img_fig05.jpg" rel="shadowbox[figGroup]" title="觀光工廠解決方案">
                                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/multichannel/img_fig05_s.jpg" alt="觀光工廠解決方案" />
                                <p>▲ 觀光工廠解決方案</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ---------------------------------- -->
            </div>
            <!-- issue-end----------------------------------------- -->
            <!-- issue--------------------------------------------- -->
            <div class="issue clearfix">
                <!-- ---------------------------------------- -->
                <div class="GroupAll clearfix">
                    <h2>新零售</h2>
                    <p class="title">常見困擾</p>
                    <h4>門市、網購平台缺一不可，線上、線下、物流及金流全渠道會員管理</h4>
                    <p>消費者可選擇的渠道多又廣，不配合就少了很多機會？一配合多平台多通路，優惠折扣都不一樣，<br>成本也不一樣，到底哪個能賺哪個是賠？而金流和物流的串接，和還有一堆會員資訊要分析！任何一個環節錯了，都是人財兩失.........</p>
                    <div class="jobProblem clearfix">
                        <div class="txt txt05">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people05.svg" alt="行銷企劃" />
                                    <p>行銷企劃</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p>推了不同促銷方案，也不知道效果如何？<br>越來越高的廣告行銷費用，但並沒有實際反應在銷售數字上.......</p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="txt txt06">
                            <div class="outline">
                                <div class="nameLayer">
                                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/icon_people02.svg" alt="錢老闆" />
                                    <p>錢老闆</p>
                                </div>
                                <div class="txtLayer clearfix">
                                    <p>商品要有門市可以體驗，還要上架到各網路平台，消費者要好、要快還要便宜，這樣還有利潤可以賺嗎？</p>
                                </div>
                                <div class="mask"></div>
                                <div class="handTop">
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -------------------------------- -->
                <div class="GroupAll2 clearfix">
                    <p class="title">解決方案</p>
                    <div class="txtGroup">
                        <h4>全渠道整合管理其實可以這樣管</h4>
                        <ul>
                            <li>從來客紀錄中找出對的人，去推對的活動，才能提高行銷效益</li>
                            <li>有效整合全渠道會員管理、線上、線下、物流金流到消費者，進行大數據分析</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/multichannel/img_fig06.jpg" rel="shadowbox[figGroup]" title="解決方案圖">
                                <img src="images/multichannel/img_fig06_s.jpg" alt="解決方案圖" />
                                <p>▲ 解決方案圖</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ---------------------------------- -->
            </div>
            <!-- issue-end----------------------------------------- -->
        </div>
        <!-- issueGroup---end---------------------------------- -->
    </div>
</div>
<!-- mainContent-end----------------------------------- -->

<contact v-bind:multiple="false" source=""></contact>