<div id="indBanner" class="section vAlignMiddle">
    <div class="content vAlignContent">
        <h1>行業深耕，獨到專精</h1>
        <p class="pageDesc">
            鼎新電腦累積30多年產業輔導驗，50,000多家企業成功案例，提供完整行業解決方案；因應產業趨勢、法令制度的變化，提供最佳服務與支援！
        </p>
    </div>
</div>
<div id="mainCase" class="section">
    <div class="content">
        <h2>案例客戶</h2>
        <a href="https://www.digiwin.com/tw/case/1498.html" target="_blank">
            <div class="part01 part clearfix">
                <div class="txtLayer">
                    <h3>第一化工</h3>
                    <p class="desc">
                        當門市開到第4家時業務量已經倍增，核帳人力早已不堪負荷。導入鼎新系統後，現在10家電皆可加速對帳作業，而在資訊系統建置完備之際，第一化工也更積極拓展快速成長的網路購物市場，目前除了自家網路店外，尚有Yahoo購物商城、PChome商店街，也正積極評估多家購物平台，將網購朝向多平台的經營，除了增加曝光，也是想抓住唯一景氣不減的網路宅經濟!
                    </p>
                </div>
                <div class="imgB">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/case/img_mainCase.jpg" width="380" height="250" alt="第一化工" />
                </div>
            </div>
        </a>
        <a href="https://www.digiwin.com/tw/case/1038.html" target="_blank">
            <div class="part01 part clearfix">
                <div class="txtLayer">
                    <h3>森田藥妝</h3>
                    <p class="desc">
                        我們的團隊擁有共同的流程，解決問題的速度就更快，本專案看似ERP導入，但卻讓團隊更為成長!面對未來變局與快速改變，組織唯有不斷的再更新與再進化才能退脫傳統束縛。
                    </p>
                </div>
                <div class="imgB">
                    <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/case/img_mainCase02.jpg" width="380" height="250" alt="森田藥妝" />
                </div>
            </div>
        </a>
        <a href="http://www.digiwin.com/newsListDetail.aspx?id=6957" target="_blank">

        </a>
    </div>
</div>
<div id="case" class="section">
    <div class="content">
        <h2>更多美妝業輔導案例</h2>
        <div class="caseGroup clearfix">
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/case/img_caseList02.jpg" alt="和康生物科技(碧芙蕾詩/BIOFLASH)" />
                <div class="outline clearfix">
                    <span class="type">生物科技</span>
                    <h3 class="name">
                        <a href="https://www.digiwin.com/tw/case/674.html" target="_blank">和康生物科技<br />
                            碧芙蕾詩/BIOFLASH</a>
                    </h3>
                    <p class="desc">
                        建立BOM，過往的成本計算需要四小時，而現在僅需半小時即可快速完成
                    </p>
                    <a href="https://www.digiwin.com/tw/case/674.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                </div>
            </div>
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/case/img_caseList03.jpg" alt="耐斯" />
                <div class="outline clearfix">
                    <span class="type">原料化工</span>
                    <h3 class="name">
                        <a href="https://www.digiwin.com/tw/case/1023.html" target="_blank">耐斯</a>
                    </h3>
                    <p class="desc">
                        李經理認為IT必須幫助耐斯完成幾件事情：降低成本、優化作業過程從而減少資源消費、提高作業速度。
                    </p>
                    <a href="https://www.digiwin.com/tw/case/1023.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                </div>
            </div>
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/case/img_caseList04.jpg" alt="益美化工" />
                <div class="outline clearfix">
                    <span class="type">原料化工</span>
                    <h3 class="name">
                        <a href="https://www.digiwin.com/tw/case/1055.html" target="_blank">益美化工</a>
                    </h3>
                    <p class="desc">
                        由成本結算後所得出正確的成本，提供高層作為售價決策，增加經營分析管理掌握成本效益。
                    </p>
                    <a href="https://www.digiwin.com/tw/case/1055.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                </div>
            </div>
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/case/img_caseList05.jpg" alt="香根企業" />
                <div class="outline clearfix">
                    <span class="type">高端品牌包材</span>
                    <h3 class="name">
                        <a href="https://www.digiwin.com/tw/case/1581.html" target="_blank">香根企業</a>
                    </h3>
                    <p class="desc">
                        公司高層在跟鼎新談系統應用時，想的是公司未來二岸三地的大量溝通與使用，對資訊系統的定位非常明確。
                    </p>
                    <a href="https://www.digiwin.com/tw/case/1581.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                </div>
            </div>
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/case/img_caseList06.jpg" alt="南六企業" />
                <div class="outline clearfix">
                    <span class="type">不織布王國</span>
                    <h3 class="name">
                        <a href="https://www.digiwin.com/tw/case/592.html" target="_blank">南六企業</a>
                    </h3>
                    <p class="desc">
                        HR蔣小姐說在收集文件上面，我的結算資料會更快速，系統會幫我看出缺勤的人員...
                    </p>
                    <a href="https://www.digiwin.com/tw/case/592.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                </div>
            </div>
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/case/img_caseList07.jpg" alt="獨領風騷" />
                <div class="outline clearfix">
                    <span class="type">通路</span>
                    <h3 class="name">
                        <a href="https://www.digiwin.com/tw/case/1037.html" target="_blank">獨領風騷</a>
                    </h3>
                    <p class="desc">
                        合夥人欲查詢大陸門市每日業績狀況，在POS的架構上可控制交易資料回傳的時間。
                    </p>
                    <a href="https://www.digiwin.com/tw/case/1037.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                </div>
            </div>
            <div class="list">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/case/img_caseList08.jpg" alt="屈臣氏" />
                <div class="outline clearfix">
                    <span class="type">通路</span>
                    <h3 class="name">
                        <a href="https://www.digiwin.com/tw/case/1582.html" target="_blank">屈臣氏</a>
                    </h3>
                    <p class="desc">
                        我們多了更多的時間向客戶介紹產品，直接以電話大量購買的訂單也變多了
                    </p>
                    <a href="https://www.digiwin.com/tw/case/1582.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                </div>
            </div>
        </div>
    </div>
</div>

<contact v-bind:multiple="false" source=""></contact>