<div id="indBanner" class="section vAlignMiddle">
    <div class="content vAlignContent">
        <h1>
            代工、研發、生產、品牌、行銷、通路經營<br />
            樣樣都要精通，作化妝品這一行很不簡單
        </h1>
        <p class="pageDesc"><br /></p>
    </div>
</div>
<div id="foreword" class="section">
    <div class="content">
        <h2>經營重點</h2>
        <p class="sectionDesc-center">
            化妝品產業除了代工生產，自創品牌也不在少數，既有研發生產，後續還有複雜的行銷佈局，<br />
            銷售通路多，產生 的作業困擾也多......<br />
            兼具製造與買賣流通特性的化妝品產業，有那些經營重點需要關注?
        </p>
        <div class="jobProblem clearfix">
            <div class="txt txt01">
                <div class="outline">
                    <div class="nameLayer">
                        <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_people01.svg" alt="網購接單" />
                        <p>網購接單</p>
                    </div>
                    <div class="txtLayer clearfix">
                        <p>當商品上架到一個新的網購平台時，對方品號與自有品號的對應輸入？訂單對帳資料如何輸入？</p>
                    </div>
                    <div class="mask"></div>
                    <div class="handTop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="txt txt02">
                <div class="outline">
                    <div class="nameLayer">
                        <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_people02.svg" alt="物流配送" />
                        <p>物流配送</p>
                    </div>
                    <div class="txtLayer clearfix">
                        <p>當訂單資料要拋給宅配業者，收件人、地址重打嗎？</p>
                    </div>
                    <div class="mask"></div>
                    <div class="handTop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="txt txt03">
                <div class="outline">
                    <div class="nameLayer">
                        <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_people03.svg" alt="效期管理" />
                        <p>效期管理</p>
                    </div>
                    <div class="txtLayer clearfix">
                        <p>又被退了一批貨，客戶說效期太短，報廢真的好可惜阿...</p>
                    </div>
                    <div class="mask"></div>
                    <div class="handTop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="txt txt04">
                <div class="outline">
                    <div class="nameLayer">
                        <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_people04.svg" alt="電子發票" />
                        <p>電子發票</p>
                    </div>
                    <div class="txtLayer clearfix">
                        <p>申請電子發票好複雜，檢測Turnkey又是什麼?申請程序要等2-3個月.....真的嗎?</p>
                    </div>
                    <div class="mask"></div>
                    <div class="handTop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="txt txt05">
                <div class="outline">
                    <div class="nameLayer">
                        <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_people05.svg" alt="會員管理" />
                        <p>會員管理</p>
                    </div>
                    <div class="txtLayer clearfix">
                        <p>想要舉辦會員活動促銷會員商品組合價、紅利積點、會員來店禮、會員生日禮、點數兌換...好複雜!!</p>
                    </div>
                    <div class="mask"></div>
                    <div class="handTop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="txt txt06">
                <div class="outline">
                    <div class="nameLayer">
                        <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_people06.svg" alt="生產製造與委外管理" />
                        <p>生產製造與委外管理</p>
                    </div>
                    <div class="txtLayer clearfix">
                        <p>產品用料僅少數的產線同仁才可提供資訊，採購只能依經驗推想需要採買哪些物料?</p>
                    </div>
                    <div class="mask"></div>
                    <div class="handTop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="txt txt07">
                <div class="outline">
                    <div class="nameLayer">
                        <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_people07.svg" alt="營運分析" />
                        <p>營運分析</p>
                    </div>
                    <div class="txtLayer clearfix">
                        <p>這組新商品賣得好不好? 活動促銷帶動多少業績?作了那些多分析報表還是看不出前後的關聯?</p>
                    </div>
                    <div class="mask"></div>
                    <div class="handTop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="txt txt08">
                <div class="outline">
                    <div class="nameLayer">
                        <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_people08.svg" alt="排班與人事薪資" />
                        <p>排班與人事薪資</p>
                    </div>
                    <div class="txtLayer clearfix">
                        <p>一例一休讓加班費計算與休假制度，還有排班輪班都變的好麻煩....</p>
                    </div>
                    <div class="mask"></div>
                    <div class="handTop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainContent" class="section">
    <div class="content">
        <h2>方案介紹</h2>
        <div class="group clearfix">
            <div class="list js-nav" data-target="#issue1">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_quickLink01.svg" alt="網購業 解決方案" />
                <p>
                    網購業<br />
                    解決方案
                </p>
            </div>
            <div class="list js-nav" data-target="#issue2">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_quickLink02.svg" alt="電子發票 方案" />
                <p>
                    電子發票<br />
                    方案
                </p>
            </div>
            <div class="list js-nav" data-target="#issue3">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_quickLink03.svg" alt="生產製造與委外管理方案" />
                <p>
                    生產製造與<br />
                    委外管理方案
                </p>
            </div>
            <div class="list js-nav" data-target="#issue4">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_quickLink04.svg" alt="物流優化方案" />
                <p>
                    物流優化<br />
                    方案
                </p>
            </div>
            <div class="list js-nav" data-target="#issue5">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_quickLink05.svg" alt="第三方支付資料整合方案" />
                <p>
                    第三方支付<br />
                    資料整合方案
                </p>
            </div>
            <div class="list js-nav" data-target="#issue6">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_quickLink06.svg" alt="營運分析系統" />
                <p>
                    營運分析<br />
                    系統
                </p>
            </div>
            <div class="list js-nav" data-target="#issue7">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_quickLink07.svg" alt="效期管理方案" />
                <p>
                    效期管理<br />
                    方案
                </p>
            </div>
            <div class="list js-nav" data-target="#issue8">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_quickLink08.svg" alt="VIP會員管理方案" />
                <p>
                    VIP會員<br />
                    管理方案
                </p>
            </div>
            <div class="list js-nav" data-target="#issue9">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/icon_quickLink09.svg" alt="排班與人事薪資方案" />
                <p>
                    排班與人事<br />
                    薪資方案
                </p>
            </div>
            <div class="list js-nav" data-target="#issue10">
                <img src="images/business/icon_quickLink10.png" alt="新零售全渠道整合" />
                <p>
                    新零售<br />
                    全渠道整合
                </p>
            </div>
        </div>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <div class="issueGroup">
            <div id="issue1" class="issue clearfix">
                <div class="txtGroup">
                    <h3><strong>網購業解決方案</strong>作業困擾說明</h3>
                    <p>一般於網購平台中，會分成自有官網經營、各大電商平台與寄銷平台，而自有網站與其他電商平台，差異最大的即為品號不同。且訂單資料數量太多，無法人工輸入。此時就會造成訂單愈多，人員就需要更多...</p>
                </div>
                <div class="imgGroup clearfix">
                    <div>
                        <a href="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig01.jpg" rel="shadowbox[figGroup]" title="網購業解決方案">
                            <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig01_s.jpg" alt="網購業解決方案" />
                            <p>▲ 網購業解決方案</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="issue2" class="issue clearfix">
                <div class="txtGroup">
                    <h3><strong>電子發票方案</strong>作業困擾說明</h3>
                    <p>導入電子發票，您可能會面臨? 申請電子發票程序繁鎖耗時(約1-2個月)? ERP資料與財政部平台資料重覆登打，人工處理易錯誤，且需逐筆人工核對? 網路斷線時無法開立及列印發票....</p>
                </div>
                <div class="imgGroup clearfix">
                    <div>
                        <a href="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig04.jpg" rel="shadowbox[figGroup]" title="電子發票方案">
                            <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig04_s.jpg" alt="電子發票方案" />
                            <p>▲ 電子發票方案</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="issue3" class="issue clearfix">
                <div class="txtGroup">
                    <h3><strong>生產製造-委外管理</strong>作業困擾說明</h3>
                    <p>化妝品業委外代工生產時，常會發生這些困擾， 加工廠是否依照派工的順序來做，作到那裡了?委外加工品相關的生產資訊，例如數量、進度、品質..等，常無法即時得知，甚致造成訂單延遲，客戶不滿狀況發生....</p>
                </div>
                <div class="imgGroup clearfix">
                    <div>
                        <a href="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig07.jpg" rel="shadowbox[figGroup]" title="生產製造-委外管理">
                            <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig07_s.jpg" alt="生產製造-委外管理" />
                            <p>▲ 生產製造-委外管理</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="issue4" class="issue clearfix">
                <div class="txtGroup">
                    <h3><strong>物流優化方案</strong>案作業困擾說明</h3>
                    <p>從自家網站與其他電商平台產生的大量出貨資料，在拋給宅配業者之後，又需到宅配業者平台登打收件人地址資料，真的很浪費時間又重工...</p>
                </div>
                <div class="imgGroup clearfix">
                    <div>
                        <a href="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig02.jpg" rel="shadowbox[figGroup]" title="物流優化方案">
                            <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig02_s.jpg" alt="物流優化方案" />
                            <p>▲ 物流優化方案</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="issue5" class="issue clearfix">
                <div class="txtGroup">
                    <h3><strong>第三方支付資料整合方案</strong>作業困擾說明</h3>
                    <p>官網被盜了？該如何保障消費者線上付款的權益，尋求有保障的第三方支付，但系統能支援嗎?</p>
                </div>
                <div class="imgGroup clearfix">
                    <div>
                        <a href="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig05.jpg" rel="shadowbox[figGroup]" title="第三方支付資料整合方案">
                            <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig05_s.jpg" alt="第三方支付資料整合方案" />
                            <p>▲ 第三方支付資料整合方案</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="issue6" class="issue clearfix">
                <div class="txtGroup">
                    <h3><strong>營運分析系統</strong>作業困擾說明</h3>
                    <p>通路經營最重要的是獲利，但經營會議到底有沒有效？常討論那些通路還有成長空間？到底商品賣得好不好、活動促銷帶動多少，每個月努力做了這麼多，但哪些才是增加營收的關鍵點？</p>
                </div>
                <div class="imgGroup clearfix">
                    <div>
                        <a href="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig08.jpg" rel="shadowbox[figGroup]" title="營運分析系統">
                            <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig08_s.jpg" alt="營運分析系統" />
                            <p>▲ 營運分析系統</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="issue7" class="issue clearfix">
                <div class="txtGroup">
                    <h3><strong>效期管理方案</strong>作業困擾說明</h3>
                    <p>若客戶角色為通路商或製造商時, 會要求廠商的出貨商品或原料需在一定效期內才能收貨，為免商譽受損，因此建立短效期品自動提醒機制相對重要.....</p>
                </div>
                <div class="imgGroup clearfix">
                    <div>
                        <a href="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig03.jpg" rel="shadowbox[figGroup]" title="效期管理方案">
                            <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig03_s.jpg" alt="效期管理方案" />
                            <p>▲ 效期管理方案</p>
                        </a>
                    </div>
                </div>
            </div>
            <!-- ------------------------------ -->
            <div id="issue8" class="issue clearfix">
                <div class="txtGroup">
                    <h3><strong>VIP會員管理方案</strong>作業困擾說明</h3>
                    <p>化妝品的客戶在使用產品習慣之後，會再次消費的機率很高，因此您需要找到消費活絡的會員，提供專屬他們的尊寵活動，讓VIP會員擁有專屬禮遇、營收自然增加....也要想想如何喚醒沉寂會員，再次讓這群人來消費?</p>
                </div>
                <div class="imgGroup clearfix">
                    <div>
                        <a href="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig06.jpg" rel="shadowbox[figGroup]" title="VIP會員管理方案">
                            <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig06_s.jpg" alt="VIP會員管理方案" />
                            <p>▲ VIP會員管理方案</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="issue9" class="issue clearfix">
                <div class="txtGroup">
                    <h3><strong>排班與人事薪資方案</strong>作業困擾說明</h3>
                    <p>化妝品產業常具備總公司、工廠及門店人員三種不同特性的單位，各自擁有截然不同的薪資計算邏輯與排班機制，大大增加薪資計算的複雜性，尤其是在一例一休實施之後...........</p>
                </div>
                <div class="imgGroup clearfix">
                    <div>
                        <a href="http://www.digiwin.com/solution/WB002741/WB00274101_HR.htm" target="_blank" title="排班與人事薪資方案">
                            <img src="https://www.digiwin.com/tw/dsc/solution/WB002711/images/business/img_fig09_s.jpg" alt="排班與人事薪資方案" />
                            <p>▲ 排班與人事薪資方案</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="issue10" class="issue end clearfix">
                <div class="txtGroup">
                    <h3><strong>新零售全渠道整合方案</strong>作業困擾說明</h3>
                    <p>除了門店與網站，消費者可以選擇的渠道還有很多，一但配合多平台多通路，要配合的優惠折扣都不同，成本也不一樣，到底哪個有賺哪個是賠？<br>而不只便捷支付、即時物流還有一堆四面八方來的會員資訊，要如何應整合經營管理，才能達到最大效益.........</p>
                    <a href="https://www.digiwin.com/tw/dsc/solution/WB002972/case.html" class="linkBtn" target="_blank">看完整新零售解決方案>>></a>
                </div>
                <div class="imgGroup clearfix">
                    <div>
                        <a href="images/business/img_fig10.jpg" rel="shadowbox[figGroup]" title="新零售全渠道整合方案">
                            <img src="images/business/img_fig10_s.jpg" alt="新零售全渠道整合方案" />
                            <p>▲ 新零售全渠道整合方案</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<contact v-bind:multiple="false" source=""></contact>