[v-cloak] {
    display: none;
}
main {
    min-width: 360px;
    font-size: 18px;
    line-height: 1.6;
    *:not(text) {
        font-size: 100%;
    }
    .container {
        margin: 0 auto;
        padding: 0 15px;
        max-width: $content-width;
        @media (min-width: 361px) {
            padding-right: 20px;
            padding-left: 20px;
        }
        @media (min-width: $content-width) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .mainTitle {
        font-weight: bold;
        font-size: 30px;
    }
    .sectionTitle {
        padding-top: 50px;
        font-size: 26px;
    }
    .btn {
        transition: all .15s ease-in-out;
    }
    .video-container {
        @include youtubeIframe();
    }
}
