main {
    color: #000;
    .container {
        padding: 0;
        width: auto;
    }
    h1 {
        padding: 0;
        color: inherit;
        font-weight: normal;
        font-size: 100%;
        line-height: normal;
    }
    h2 {
        padding: 0;
        color: inherit;
        font-size: 100%;
    }
}
