main > .manufacture {
    .header {
        @include bg('../images/manufacture/header-bg.jpg');
        height: image-height('manufacture/header-bg.jpg');
        .container {
            display: flex;
            flex-direction: column;
            max-width: 568px;
            height: 100%;
            justify-content: center;
        }
    }
    .section1 {
        .container {
            padding-bottom: 60px;
        }
        &-content {
            display: flex;
            flex-wrap: wrap;
        }
        &-item {
            @include last(2) {
                margin-bottom: 0;
            };
            margin-bottom: 30px;
            width: calc((100% - 30px) / 2);
            height: 225px;
            &:nth-of-type(odd) {
                margin-right: 30px;
                @media (max-width: $mobile-width) {
                    margin-right: 0;
                }
            }
            @media (max-width: $mobile-width) {
                width: 100%;
                &:nth-last-of-type(2) {
                    margin-bottom: 30px;
                }
            }
        }
    }
    .section2 {
        background-color: #cbe6e8;
        .sectionTitle {
            margin-bottom: 40px;
        }
        .container {
            padding-bottom: 50px;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .section3 {
        $themeColor: #00b0bd;
        background-color: #e9e9e9;
        &-accordion {
            overflow: hidden;
        }
        &-content {
            margin-top: 1em;
            margin-bottom: 2em;
        }
        &-desc {
            margin-bottom: 5px;
            color: #33ae84;
            font-weight: bold;
        }
        h1 {
            margin-bottom: 40px;
        }
        h2 {
            position: relative;
            height: 70px;
            background-color: $themeColor;
            color: #fff;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            line-height: 70px;
            &::after {
                @include imgBg('accordion-close-icon.png', true);
                position: absolute;
                top: calc(50% - 10px);
                right: 34px;
                content: '';
            }
            &.ui-accordion-header-collapsed::after {
                background-image: image-url('accordion-open-icon.png');
            }
            &:focus {
                outline: none;
            }
        }
        ul {
            padding-left: 1em;
            &.list {
                list-style: disc;
            }
            &.titleList li {
                position: relative;
                &::before {
                    position: absolute;
                    left: -1em;
                    color: $themeColor;
                    content: '•';
                }
            }
        }
        img {
            display: block;
            margin: 0 auto;
        }
        .container {
            margin-bottom: .5em;
            padding-right: 40px;
            padding-left: 40px;
        }
        .titleList-title {
            color: $themeColor;
            font-weight: bold;
        }
        .moreBtn {
            width: calc(100% - 30px);
            background-color: #fff;
        }
    }
    .swiper {
        &-wrapper {
            align-items: center;
        }
        &-slide {
            display: flex;
            flex-direction: column;
            padding-right: 15px;
            padding-left: 15px;
            justify-content: center;
            align-items: center;
        }
        &-button-prev {
            left: 15px;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAyCAYAAABCtcuVAAAB8klEQVRYhbXYvXHjMBCG4Vc+x25AFbABXQNqAMg9zuVxznEBHuccO2cDiwZYgUIlUgNqwNlFuoCrG55+iCVAIJMAzjMgPi4BLshsp9NptN97vwKqh1zIgHwDFIOGSDHoEikCee/Xl8jskPfeA5+3+maDFHm/1z8LFEMAfuUiu90uigDbrBk550yIiLSLDOQFeDMgG0hcIyMiZwRg8owmIB/DPyZBqcgkyIg0ItLe6jBBuYgJmgOJQs65d8DnIqOQEfkQEYkhcOc5siIhBBMC8JiI1CGEzopcQUZkE0LYTkFgcOtKIqAzcs59A6uRcT/0tysJAXh0zq0MyGsIYZ+KQLx6z4JYoHYOxAK9aQkqDp2xm1uoKW0B5mjv6ZN3HP4Z2+T/BylmqdJXMZ8MKbbmzk7zojUhhDYZUqwCvoCnyLVdCKFOhhRb0s+sily/B2oROUbGjb6PnhQbqxqg6yYio+XJ8iq3JBJy9wyKWRIJ0IlInQwpZk3kHngVkZ8kSDFrIo/06/avTqZsiZf0R8elYXgtIl0SpJg1kQCtiDTJxxYFP4G1YWiTdeI7HA5dVVV/gN+RoXknPgB9dm5GethmOSzrgm/oq0Q5SLEt8Ewf7XKQYkfFrupeVurg/vvIez9MZFPs65bWvOb8u9iMzk0/Qi3/Auzl5Dr1TnsBAAAAAElFTkSuQmCC');
            &.is-offset {
                top: calc(50% - 28px);
            }
        }
        &-button-next {
            right: 15px;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAyCAYAAABCtcuVAAAB/UlEQVRYhb3XMU7jQBSA4Z/s1lyAE/gCcAEu8NxEFCv6oPQRB0Du0aZH27+ptqOjc0cacgEukI7KW3hiZRNn5o3H5kmR4vjFnyfz/GaCiNyLyDUDo2ka02vm89c5mCVmB+8nxWZHx5Nhx9Aeu/0OCKASkfI7IIDHMbEQNCoWg0bDZs65F6CeGrvYvxGRNRAr7Wd/Y100TWOCup/OObcANJK/FJF705XPQR57mgo7KYapsB99H26327eiKL6Am8B3b4qi+JrP5+8W6CJ00t/1MnKNZ1V9ieSEoTGxKJSAqao+ZUEeK4HHoZgZysWSII/dAlUqlgx57BpYp2CDoCHYYOgAq4DLQFqtqossyGMF8DuCLSwLXzBU9QN4AHahvGzoAAt2hlGgsiyjnaO3e6fEZrOpgLtI2t+fQwERuaKtuCKSqqpa5zywsbKGg64+pAVZOjnASlVf9wepTbUCYvvyHfDgK7EL63pknY8P2pF8Hp+wrLDW+ag90vvgjrFngMjqGoSM8wFDNycicknbJGPzAUeVFYr/WpDvxH8MyA745ZwzIQBdZzAu0QCfwMI5d1JZUUhEloBli1sDK+dccEnohXxlWZBX59wqFeggY97J/6IpoFXKpJ+L0MK3o530bATOj2hQZYWib0Q17TMyGgKnI8qqLCuUXVkWaJTKCsU/rLnz4ZipvKAAAAAASUVORK5CYII=');
            &.is-offset {
                top: calc(50% - 28px);
            }
        }
        &-pagination-bullet {
            width: 20px;
            height: 20px;
            background: rgba(0,0,0,.2);
            color: #000;
            text-align: center;
            font-size: 12px;
            line-height: 20px;
            opacity: 1;
        }
        &-pagination-bullet-active {
            background: #e5b337;
            color: #fff;
        }
    }
}
