@charset "UTF-8";
/* #region function */
/* #endregion function */
/* #region mixin */
/* #endregion mixin */
/* #region extend */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* #endregion extend */
main {
  color: #000;
  font-size: 100%;
  line-height: initial; }
  main .container {
    padding: 0;
    width: auto; }
  main h1, main h2, main h4, main h5 {
    padding: 0;
    color: inherit;
    font-weight: normal;
    font-size: 100%;
    line-height: inherit; }
  main i {
    font-style: normal; }

main {
  margin: 0 auto;
  min-width: 360px;
  max-width: 640px;
  color: #333;
  font-size: 18px;
  line-height: 1.6; }
  main .container {
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 1200px; }
  main .mainTitle {
    font-weight: bold;
    font-size: 30px; }
  main .sectionTitle {
    padding-top: 50px;
    text-align: center;
    font-size: 26px; }
  main .sectionDesc {
    margin-top: .5em;
    margin-bottom: 1em; }
  main .header h1 {
    margin-bottom: 24px;
    color: #fffc00;
    line-height: 40px; }
  main .header h2 {
    color: #fff;
    font-size: 20px;
    line-height: 28px; }
  main .moreBtn {
    display: block;
    border-radius: 0;
    background-color: transparent;
    color: #00b0bd;
    text-align: center;
    line-height: 50px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #00b0bd; }
  main .slider-figcaption {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #333;
    text-align: center; }
    main .slider-figcaption::before {
      content: '▲'; }

main > .WB00283901 .header {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/WB00283901/header-bg.jpg");
  height: image-height("WB00283901/header-bg.jpg"); }
  main > .WB00283901 .header .container {
    padding-top: 180px;
    max-width: 490px; }
  main > .WB00283901 .header-btns {
    display: flex;
    margin-top: 75px; }
    main > .WB00283901 .header-btns a {
      display: block;
      border-radius: 0;
      background-color: #ff8404;
      color: #fff;
      text-align: center;
      line-height: 40px;
      width: calc((100% - 20px) / 2); }
      main > .WB00283901 .header-btns a + a {
        margin-left: 20px; }
main > .WB00283901 .section1 {
  padding-bottom: 70px; }
  main > .WB00283901 .section1-content1 {
    text-align: center;
    line-height: 32px; }
  main > .WB00283901 .section1-illust {
    display: block;
    margin: 0 auto; }
  main > .WB00283901 .section1-content2 {
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #249f73;
    color: #fff;
    line-height: 26px; }
    main > .WB00283901 .section1-content2 ul {
      padding-left: 1.2em;
      list-style-type: decimal; }
  main > .WB00283901 .section1-btns {
    display: flex;
    flex-wrap: wrap; }
    main > .WB00283901 .section1-btns a {
      display: flex;
      padding: 8px 5px;
      width: calc((100% - 10px) / 2);
      border: 1px solid #00b0bd;
      color: #00b0bd;
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      justify-content: center;
      align-items: center; }
      main > .WB00283901 .section1-btns a:first-child {
        margin-right: 10px; }
main > .WB00283901 .section2 {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/WB00283901/section2-bg.jpg");
  padding-bottom: 100px; }
  main > .WB00283901 .section2 h1 {
    margin-bottom: 12px; }
  main > .WB00283901 .section2 p {
    text-align: center;
    line-height: 30px; }
    main > .WB00283901 .section2 p:last-of-type {
      margin-top: 1em;
      margin-bottom: 34px;
      font-weight: bold; }
  main > .WB00283901 .section2 img {
    display: block;
    margin: 0 auto; }
main > .WB00283901 .section3 img {
  display: block;
  margin: 0 auto; }
main > .WB00283901 .section3 .container {
  padding-right: 68px;
  padding-left: 68px; }
main > .WB00283901 .section3 h1 {
  margin-bottom: 30px; }
main > .WB00283901 .section3 blockquote {
  position: relative;
  margin-bottom: 35px; }
  main > .WB00283901 .section3 blockquote::before, main > .WB00283901 .section3 blockquote::after {
    height: image-height("WB00283901/quotes.png");
    background-image: inline-image("WB00283901/quotes.png");
    width: image-width("WB00283901/quotes.png");
    position: absolute;
    content: ''; }
  main > .WB00283901 .section3 blockquote::before {
    top: 0;
    left: -50px; }
  main > .WB00283901 .section3 blockquote::after {
    right: -45px;
    bottom: 0;
    transform: rotate(180deg); }
  main > .WB00283901 .section3 blockquote span {
    display: block;
    text-align: right; }
main > .WB00283901 .section3 p {
  margin-bottom: 35px; }
main > .WB00283901 .section3 figure {
  margin: 0 auto;
  padding-bottom: 60px;
  max-width: image-width("WB00283901/section3-illust1.png"); }
  main > .WB00283901 .section3 figure img {
    margin-bottom: 10px; }
main > .WB00283901 .section3 figcaption {
  position: relative;
  padding-left: 20px;
  text-indent: -20px;
  font-size: 17px;
  line-height: 24px; }
  main > .WB00283901 .section3 figcaption::before {
    display: inline-block;
    margin-right: 8px;
    width: 0;
    height: 0;
    border-width: 0 6px 9px 6px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
    content: ''; }
main > .WB00283901 .section4 {
  background-color: #dbeaeb; }
  main > .WB00283901 .section4 .container {
    padding-bottom: 55px; }
  main > .WB00283901 .section4 h1 {
    margin-bottom: 30px; }
  main > .WB00283901 .section4 p {
    margin-bottom: 1em;
    line-height: 30px; }
    main > .WB00283901 .section4 p:last-of-type {
      margin-bottom: 1.5em; }
  main > .WB00283901 .section4 img {
    display: block;
    margin: 0 auto 48px; }
main > .WB00283901 .section5 {
  padding-top: 70px;
  padding-bottom: 50px; }
  main > .WB00283901 .section5 img {
    display: block; }
  main > .WB00283901 .section5 .content {
    display: flex;
    flex-wrap: wrap; }
  main > .WB00283901 .section5 .col:first-of-type {
    width: 300px;
    flex-shrink: 0; }
  main > .WB00283901 .section5 .col:last-of-type {
    position: relative;
    padding-left: 20px;
    width: calc(100% - 320px); }
  main > .WB00283901 .section5 h1 {
    margin-bottom: 38px;
    width: 100%;
    color: #333;
    text-align: center;
    font-weight: normal;
    font-size: 36px; }
  main > .WB00283901 .section5 h2 {
    color: #00b0bd;
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px; }
  main > .WB00283901 .section5 .law-content {
    color: #333;
    font-size: 20px;
    line-height: 30px; }
  main > .WB00283901 .section5 .law-btn {
    margin: 25px auto 0;
    width: 285px;
    border: 1px solid #00b0bd;
    color: #00b0bd;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    transition: color .15s, background-color .15s; }
    main > .WB00283901 .section5 .law-btn:hover {
      background-color: #00b0bd;
      color: #fff; }
  main > .WB00283901 .section5 .swiper-container {
    height: 100%; }
  main > .WB00283901 .section5 .swiper-slide {
    padding-bottom: 60px; }
  main > .WB00283901 .section5 .swiper-pagination-bullet {
    width: 13px;
    height: 13px; }
  main > .WB00283901 .section5 .swiper-pagination-bullet-active {
    background-color: #00b0bd; }
main > .WB00283901 .section6 {
  background-color: #f3f3f3; }
  main > .WB00283901 .section6 .container {
    padding-bottom: 40px; }
  main > .WB00283901 .section6 h1 {
    margin-bottom: 14px;
    color: #0e7aa7;
    font-size: 30px; }
  main > .WB00283901 .section6 p {
    margin-bottom: 40px;
    text-align: center; }

main > .manufacture .header {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/manufacture/header-bg.jpg");
  height: image-height("manufacture/header-bg.jpg"); }
  main > .manufacture .header .container {
    display: flex;
    flex-direction: column;
    max-width: 568px;
    height: 100%;
    justify-content: center; }
main > .manufacture .section1 .container {
  padding-bottom: 60px; }
main > .manufacture .section1-content {
  display: flex;
  flex-wrap: wrap; }
main > .manufacture .section1-item {
  margin-bottom: 30px;
  width: calc((100% - 30px) / 2);
  height: 225px; }
  main > .manufacture .section1-item:nth-last-child(-n + 2) {
    margin-bottom: 0; }
  main > .manufacture .section1-item:nth-of-type(odd) {
    margin-right: 30px; }
    @media (max-width: 414px) {
      main > .manufacture .section1-item:nth-of-type(odd) {
        margin-right: 0; } }
  @media (max-width: 414px) {
    main > .manufacture .section1-item {
      width: 100%; }
      main > .manufacture .section1-item:nth-last-of-type(2) {
        margin-bottom: 30px; } }
main > .manufacture .section2 {
  background-color: #cbe6e8; }
  main > .manufacture .section2 .sectionTitle {
    margin-bottom: 40px; }
  main > .manufacture .section2 .container {
    padding-bottom: 50px; }
  main > .manufacture .section2 img {
    display: block;
    margin: 0 auto; }
main > .manufacture .section3 {
  background-color: #e9e9e9; }
  main > .manufacture .section3-accordion {
    overflow: hidden; }
  main > .manufacture .section3-content {
    margin-top: 1em;
    margin-bottom: 2em; }
  main > .manufacture .section3-desc {
    margin-bottom: 5px;
    color: #33ae84;
    font-weight: bold; }
  main > .manufacture .section3 h1 {
    margin-bottom: 40px; }
  main > .manufacture .section3 h2 {
    position: relative;
    height: 70px;
    background-color: #00b0bd;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 70px; }
    main > .manufacture .section3 h2::after {
      height: image-height("accordion-close-icon.png");
      background-image: inline-image("accordion-close-icon.png");
      width: image-width("accordion-close-icon.png");
      position: absolute;
      top: calc(50% - 10px);
      right: 34px;
      content: ''; }
    main > .manufacture .section3 h2.ui-accordion-header-collapsed::after {
      background-image: image-url("accordion-open-icon.png"); }
    main > .manufacture .section3 h2:focus {
      outline: none; }
  main > .manufacture .section3 ul {
    padding-left: 1em; }
    main > .manufacture .section3 ul.list {
      list-style: disc; }
    main > .manufacture .section3 ul.titleList li {
      position: relative; }
      main > .manufacture .section3 ul.titleList li::before {
        position: absolute;
        left: -1em;
        color: #00b0bd;
        content: '•'; }
  main > .manufacture .section3 img {
    display: block;
    margin: 0 auto; }
  main > .manufacture .section3 .container {
    margin-bottom: .5em;
    padding-right: 40px;
    padding-left: 40px; }
  main > .manufacture .section3 .titleList-title {
    color: #00b0bd;
    font-weight: bold; }
  main > .manufacture .section3 .moreBtn {
    width: calc(100% - 30px);
    background-color: #fff; }
main > .manufacture .swiper-wrapper {
  align-items: center; }
main > .manufacture .swiper-slide {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  align-items: center; }
main > .manufacture .swiper-button-prev {
  left: 15px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAyCAYAAABCtcuVAAAB8klEQVRYhbXYvXHjMBCG4Vc+x25AFbABXQNqAMg9zuVxznEBHuccO2cDiwZYgUIlUgNqwNlFuoCrG55+iCVAIJMAzjMgPi4BLshsp9NptN97vwKqh1zIgHwDFIOGSDHoEikCee/Xl8jskPfeA5+3+maDFHm/1z8LFEMAfuUiu90uigDbrBk550yIiLSLDOQFeDMgG0hcIyMiZwRg8owmIB/DPyZBqcgkyIg0ItLe6jBBuYgJmgOJQs65d8DnIqOQEfkQEYkhcOc5siIhBBMC8JiI1CGEzopcQUZkE0LYTkFgcOtKIqAzcs59A6uRcT/0tysJAXh0zq0MyGsIYZ+KQLx6z4JYoHYOxAK9aQkqDp2xm1uoKW0B5mjv6ZN3HP4Z2+T/BylmqdJXMZ8MKbbmzk7zojUhhDYZUqwCvoCnyLVdCKFOhhRb0s+sily/B2oROUbGjb6PnhQbqxqg6yYio+XJ8iq3JBJy9wyKWRIJ0IlInQwpZk3kHngVkZ8kSDFrIo/06/avTqZsiZf0R8elYXgtIl0SpJg1kQCtiDTJxxYFP4G1YWiTdeI7HA5dVVV/gN+RoXknPgB9dm5GethmOSzrgm/oq0Q5SLEt8Ewf7XKQYkfFrupeVurg/vvIez9MZFPs65bWvOb8u9iMzk0/Qi3/Auzl5Dr1TnsBAAAAAElFTkSuQmCC"); }
  main > .manufacture .swiper-button-prev.is-offset {
    top: calc(50% - 28px); }
main > .manufacture .swiper-button-next {
  right: 15px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAyCAYAAABCtcuVAAAB/UlEQVRYhb3XMU7jQBSA4Z/s1lyAE/gCcAEu8NxEFCv6oPQRB0Du0aZH27+ptqOjc0cacgEukI7KW3hiZRNn5o3H5kmR4vjFnyfz/GaCiNyLyDUDo2ka02vm89c5mCVmB+8nxWZHx5Nhx9Aeu/0OCKASkfI7IIDHMbEQNCoWg0bDZs65F6CeGrvYvxGRNRAr7Wd/Y100TWOCup/OObcANJK/FJF705XPQR57mgo7KYapsB99H26327eiKL6Am8B3b4qi+JrP5+8W6CJ00t/1MnKNZ1V9ieSEoTGxKJSAqao+ZUEeK4HHoZgZysWSII/dAlUqlgx57BpYp2CDoCHYYOgAq4DLQFqtqossyGMF8DuCLSwLXzBU9QN4AHahvGzoAAt2hlGgsiyjnaO3e6fEZrOpgLtI2t+fQwERuaKtuCKSqqpa5zywsbKGg64+pAVZOjnASlVf9wepTbUCYvvyHfDgK7EL63pknY8P2pF8Hp+wrLDW+ag90vvgjrFngMjqGoSM8wFDNycicknbJGPzAUeVFYr/WpDvxH8MyA745ZwzIQBdZzAu0QCfwMI5d1JZUUhEloBli1sDK+dccEnohXxlWZBX59wqFeggY97J/6IpoFXKpJ+L0MK3o530bATOj2hQZYWib0Q17TMyGgKnI8qqLCuUXVkWaJTKCsU/rLnz4ZipvKAAAAAASUVORK5CYII="); }
  main > .manufacture .swiper-button-next.is-offset {
    top: calc(50% - 28px); }
main > .manufacture .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  opacity: 1; }
main > .manufacture .swiper-pagination-bullet-active {
  background: #e5b337;
  color: #fff; }

main > .merchandise .header {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/merchandise/header-bg.jpg");
  height: image-height("merchandise/header-bg.jpg"); }
  main > .merchandise .header .container {
    display: flex;
    flex-direction: column;
    max-width: 568px;
    height: 100%;
    justify-content: center; }
main > .merchandise .section1 .container {
  padding-bottom: 60px; }
main > .merchandise .section1-item {
  height: 220px; }
  @media (max-width: 480px) {
    main > .merchandise .section1-item {
      height: 300px; } }
  main > .merchandise .section1-item + .section1-item {
    margin-top: 10px; }
  main > .merchandise .section1-item-hover {
    position: relative; }
    main > .merchandise .section1-item-hover ul {
      position: absolute;
      top: 50%;
      display: flex;
      padding: 30px;
      transform: translateY(-50%); }
      @media (max-width: 480px) {
        main > .merchandise .section1-item-hover ul {
          flex-direction: column; } }
      main > .merchandise .section1-item-hover ul.col2 li {
        width: calc((100% - 20px) / 2); }
        @media (max-width: 480px) {
          main > .merchandise .section1-item-hover ul.col2 li {
            width: 100%; } }
      main > .merchandise .section1-item-hover ul.col3 li {
        width: calc((100% - 40px) / 3); }
        @media (max-width: 480px) {
          main > .merchandise .section1-item-hover ul.col3 li {
            width: 100%; } }
    main > .merchandise .section1-item-hover li {
      text-align: justify; }
      main > .merchandise .section1-item-hover li + li {
        margin-left: 20px; }
        @media (max-width: 480px) {
          main > .merchandise .section1-item-hover li + li {
            margin-top: 20px;
            margin-left: 0; } }
main > .merchandise .section2 {
  background-color: #e9e9e9; }
  main > .merchandise .section2-accordion {
    overflow: hidden; }
  main > .merchandise .section2-content {
    margin-top: 1em;
    margin-bottom: 2em; }
  main > .merchandise .section2-desc {
    margin-bottom: 5px;
    color: #33ae84;
    font-weight: bold; }
  main > .merchandise .section2 h1 {
    margin-bottom: 40px; }
  main > .merchandise .section2 h2 {
    position: relative;
    height: 70px;
    background-color: #e6b437;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 70px; }
    main > .merchandise .section2 h2::after {
      height: image-height("accordion-close-icon.png");
      background-image: inline-image("accordion-close-icon.png");
      width: image-width("accordion-close-icon.png");
      position: absolute;
      top: calc(50% - 10px);
      right: 34px;
      content: ''; }
    main > .merchandise .section2 h2.ui-accordion-header-collapsed::after {
      background-image: image-url("accordion-open-icon.png"); }
    main > .merchandise .section2 h2:focus {
      outline: none; }
  main > .merchandise .section2 ul {
    padding-left: 1em; }
    main > .merchandise .section2 ul.list {
      list-style: disc; }
    main > .merchandise .section2 ul.titleList li {
      position: relative; }
      main > .merchandise .section2 ul.titleList li::before {
        position: absolute;
        left: -1em;
        color: #e6b437;
        content: '•'; }
  main > .merchandise .section2 img {
    display: block;
    margin: 0 auto; }
  main > .merchandise .section2 .container {
    margin-bottom: .5em;
    padding-right: 40px;
    padding-left: 40px; }
  main > .merchandise .section2 .titleList-title {
    color: #e6b437;
    font-weight: bold; }
  main > .merchandise .section2 .moreBtn {
    width: calc(100% - 30px);
    border-color: #e6b437;
    background-color: #fff;
    color: #e6b437; }
main > .merchandise .swiper-wrapper {
  align-items: center; }
main > .merchandise .swiper-slide {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  align-items: center; }
main > .merchandise .swiper-button-prev {
  left: 15px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAyCAYAAABCtcuVAAAB8klEQVRYhbXYvXHjMBCG4Vc+x25AFbABXQNqAMg9zuVxznEBHuccO2cDiwZYgUIlUgNqwNlFuoCrG55+iCVAIJMAzjMgPi4BLshsp9NptN97vwKqh1zIgHwDFIOGSDHoEikCee/Xl8jskPfeA5+3+maDFHm/1z8LFEMAfuUiu90uigDbrBk550yIiLSLDOQFeDMgG0hcIyMiZwRg8owmIB/DPyZBqcgkyIg0ItLe6jBBuYgJmgOJQs65d8DnIqOQEfkQEYkhcOc5siIhBBMC8JiI1CGEzopcQUZkE0LYTkFgcOtKIqAzcs59A6uRcT/0tysJAXh0zq0MyGsIYZ+KQLx6z4JYoHYOxAK9aQkqDp2xm1uoKW0B5mjv6ZN3HP4Z2+T/BylmqdJXMZ8MKbbmzk7zojUhhDYZUqwCvoCnyLVdCKFOhhRb0s+sily/B2oROUbGjb6PnhQbqxqg6yYio+XJ8iq3JBJy9wyKWRIJ0IlInQwpZk3kHngVkZ8kSDFrIo/06/avTqZsiZf0R8elYXgtIl0SpJg1kQCtiDTJxxYFP4G1YWiTdeI7HA5dVVV/gN+RoXknPgB9dm5GethmOSzrgm/oq0Q5SLEt8Ewf7XKQYkfFrupeVurg/vvIez9MZFPs65bWvOb8u9iMzk0/Qi3/Auzl5Dr1TnsBAAAAAElFTkSuQmCC"); }
  main > .merchandise .swiper-button-prev.is-offset {
    top: calc(50% - 28px); }
main > .merchandise .swiper-button-next {
  right: 15px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAyCAYAAABCtcuVAAAB/UlEQVRYhb3XMU7jQBSA4Z/s1lyAE/gCcAEu8NxEFCv6oPQRB0Du0aZH27+ptqOjc0cacgEukI7KW3hiZRNn5o3H5kmR4vjFnyfz/GaCiNyLyDUDo2ka02vm89c5mCVmB+8nxWZHx5Nhx9Aeu/0OCKASkfI7IIDHMbEQNCoWg0bDZs65F6CeGrvYvxGRNRAr7Wd/Y100TWOCup/OObcANJK/FJF705XPQR57mgo7KYapsB99H26327eiKL6Am8B3b4qi+JrP5+8W6CJ00t/1MnKNZ1V9ieSEoTGxKJSAqao+ZUEeK4HHoZgZysWSII/dAlUqlgx57BpYp2CDoCHYYOgAq4DLQFqtqossyGMF8DuCLSwLXzBU9QN4AHahvGzoAAt2hlGgsiyjnaO3e6fEZrOpgLtI2t+fQwERuaKtuCKSqqpa5zywsbKGg64+pAVZOjnASlVf9wepTbUCYvvyHfDgK7EL63pknY8P2pF8Hp+wrLDW+ag90vvgjrFngMjqGoSM8wFDNycicknbJGPzAUeVFYr/WpDvxH8MyA745ZwzIQBdZzAu0QCfwMI5d1JZUUhEloBli1sDK+dccEnohXxlWZBX59wqFeggY97J/6IpoFXKpJ+L0MK3o530bATOj2hQZYWib0Q17TMyGgKnI8qqLCuUXVkWaJTKCsU/rLnz4ZipvKAAAAAASUVORK5CYII="); }
  main > .merchandise .swiper-button-next.is-offset {
    top: calc(50% - 28px); }
main > .merchandise .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  opacity: 1; }
main > .merchandise .swiper-pagination-bullet-active {
  background: #e5b337;
  color: #fff; }

main > .solution .header {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/solution/header-bg.jpg");
  height: image-height("solution/header-bg.jpg"); }
  main > .solution .header .container {
    display: flex;
    flex-direction: column;
    max-width: 568px;
    height: 100%;
    justify-content: center; }
    @media (max-width: 767px) {
      main > .solution .header .container {
        padding-top: 2em; } }
main > .solution .section1 .container {
  padding-bottom: 60px; }
main > .solution .section1 img {
  display: block;
  margin: 0 auto; }
main > .solution .section2 {
  background-color: #cbe6e8; }
  main > .solution .section2 h1 {
    margin-bottom: .5em; }
main > .solution .section3 {
  padding-bottom: 50px;
  background-color: #e3e3e3; }
  main > .solution .section3-add {
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: #00b0bd; }
  main > .solution .section3 > h1 {
    margin-bottom: .5em; }
  main > .solution .section3 h2 {
    margin-bottom: .5em;
    text-align: center;
    font-size: 20px; }
  main > .solution .section3 section {
    overflow: hidden;
    padding-top: 50px; }
    main > .solution .section3 section h1 {
      position: relative;
      margin-bottom: .5em;
      text-align: center;
      font-size: 26px; }
      main > .solution .section3 section h1::before {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        height: 1px;
        background-color: #333;
        content: ''; }
      main > .solution .section3 section h1 span {
        position: relative;
        padding-right: 25px;
        padding-left: 25px;
        background-color: #e3e3e3; }
  main > .solution .section3 .moreBtn {
    width: calc(100% - 30px); }
main > .solution .section4-introduces {
  display: flex;
  flex-wrap: wrap; }
main > .solution .section4 .container {
  padding-bottom: 50px; }
main > .solution .section4 h1 {
  margin-bottom: 1em; }
main > .solution .section4 li {
  width: calc(100% / 3);
  margin-bottom: 47px; }
  @media (max-width: 414px) {
    main > .solution .section4 li {
      width: 50%; } }
  main > .solution .section4 li:last-child {
    margin-bottom: 0; }
main > .solution .section4 a {
  display: block;
  text-align: center; }
main > .solution .section4 img {
  vertical-align: bottom; }
main > .solution .section4 figcaption {
  margin-top: 16px;
  color: #333;
  text-align: center;
  font-size: 20px; }
main > .solution .swiper-wrapper {
  align-items: center; }
main > .solution .swiper-slide {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
  align-items: center; }
main > .solution .swiper-button-prev {
  left: 15px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAyCAYAAABCtcuVAAAB8klEQVRYhbXYvXHjMBCG4Vc+x25AFbABXQNqAMg9zuVxznEBHuccO2cDiwZYgUIlUgNqwNlFuoCrG55+iCVAIJMAzjMgPi4BLshsp9NptN97vwKqh1zIgHwDFIOGSDHoEikCee/Xl8jskPfeA5+3+maDFHm/1z8LFEMAfuUiu90uigDbrBk550yIiLSLDOQFeDMgG0hcIyMiZwRg8owmIB/DPyZBqcgkyIg0ItLe6jBBuYgJmgOJQs65d8DnIqOQEfkQEYkhcOc5siIhBBMC8JiI1CGEzopcQUZkE0LYTkFgcOtKIqAzcs59A6uRcT/0tysJAXh0zq0MyGsIYZ+KQLx6z4JYoHYOxAK9aQkqDp2xm1uoKW0B5mjv6ZN3HP4Z2+T/BylmqdJXMZ8MKbbmzk7zojUhhDYZUqwCvoCnyLVdCKFOhhRb0s+sily/B2oROUbGjb6PnhQbqxqg6yYio+XJ8iq3JBJy9wyKWRIJ0IlInQwpZk3kHngVkZ8kSDFrIo/06/avTqZsiZf0R8elYXgtIl0SpJg1kQCtiDTJxxYFP4G1YWiTdeI7HA5dVVV/gN+RoXknPgB9dm5GethmOSzrgm/oq0Q5SLEt8Ewf7XKQYkfFrupeVurg/vvIez9MZFPs65bWvOb8u9iMzk0/Qi3/Auzl5Dr1TnsBAAAAAElFTkSuQmCC"); }
  main > .solution .swiper-button-prev.is-offset {
    top: calc(50% - 28px); }
main > .solution .swiper-button-next {
  right: 15px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAyCAYAAABCtcuVAAAB/UlEQVRYhb3XMU7jQBSA4Z/s1lyAE/gCcAEu8NxEFCv6oPQRB0Du0aZH27+ptqOjc0cacgEukI7KW3hiZRNn5o3H5kmR4vjFnyfz/GaCiNyLyDUDo2ka02vm89c5mCVmB+8nxWZHx5Nhx9Aeu/0OCKASkfI7IIDHMbEQNCoWg0bDZs65F6CeGrvYvxGRNRAr7Wd/Y100TWOCup/OObcANJK/FJF705XPQR57mgo7KYapsB99H26327eiKL6Am8B3b4qi+JrP5+8W6CJ00t/1MnKNZ1V9ieSEoTGxKJSAqao+ZUEeK4HHoZgZysWSII/dAlUqlgx57BpYp2CDoCHYYOgAq4DLQFqtqossyGMF8DuCLSwLXzBU9QN4AHahvGzoAAt2hlGgsiyjnaO3e6fEZrOpgLtI2t+fQwERuaKtuCKSqqpa5zywsbKGg64+pAVZOjnASlVf9wepTbUCYvvyHfDgK7EL63pknY8P2pF8Hp+wrLDW+ag90vvgjrFngMjqGoSM8wFDNycicknbJGPzAUeVFYr/WpDvxH8MyA745ZwzIQBdZzAu0QCfwMI5d1JZUUhEloBli1sDK+dccEnohXxlWZBX59wqFeggY97J/6IpoFXKpJ+L0MK3o530bATOj2hQZYWib0Q17TMyGgKnI8qqLCuUXVkWaJTKCsU/rLnz4ZipvKAAAAAASUVORK5CYII="); }
  main > .solution .swiper-button-next.is-offset {
    top: calc(50% - 28px); }
main > .solution .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  color: #000;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  opacity: 1; }
main > .solution .swiper-pagination-bullet-active {
  background: #e5b337;
  color: #fff; }

main > .case .header {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/case/header-bg.jpg");
  height: image-height("case/header-bg.jpg"); }
  main > .case .header .container {
    display: flex;
    flex-direction: column;
    max-width: 568px;
    height: 100%;
    justify-content: center; }
main > .case .nav {
  display: flex;
  margin-top: 3em;
  margin-bottom: 2em;
  justify-content: center;
  align-items: center; }
  main > .case .nav li + li {
    margin-left: 10px; }
  main > .case .nav input[type=radio] {
    display: none; }
    main > .case .nav input[type=radio]:checked + label {
      background-color: #00b0bd;
      color: #fff; }
  main > .case .nav label {
    display: block;
    border-radius: 25px;
    background-color: transparent;
    color: #00b0bd;
    text-align: center;
    line-height: 50px;
    width: 150px;
    border: 1px solid #00b0bd;
    cursor: pointer; }
main > .case .lists {
  display: flex;
  flex-direction: column;
  padding-bottom: 54px;
  align-items: center; }
  main > .case .lists-title {
    margin-bottom: .5em;
    color: #333;
    text-align: center;
    font-size: 36px; }
main > .case .list-item + .list-item {
  margin-top: 30px; }

main > .online .subtitle {
  color: #00b0bd;
  font-weight: bold; }
main > .online .header {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/online/header-bg.jpg");
  height: image-height("online/header-bg.jpg"); }
  main > .online .header .container {
    display: flex;
    flex-direction: column;
    max-width: 568px;
    height: 100%;
    justify-content: center; }
    @media (max-width: 767px) {
      main > .online .header .container {
        padding-top: 2em; } }
main > .online .section1 .container {
  padding-bottom: 50px; }
main > .online .section1 img {
  display: block;
  margin: .5em auto 1em; }
main > .online .section1 section + section {
  margin-top: 2em; }
main > .online .section1 ul {
  padding-left: 1.3em;
  list-style-type: disc; }
main > .online .section2 {
  background-color: #dbeaeb; }
  main > .online .section2 .container {
    padding-bottom: 50px; }
  main > .online .section2-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    main > .online .section2-table table {
      margin-top: 30px;
      font-size: 16px; }
    main > .online .section2-table th,
    main > .online .section2-table td {
      padding: 5px;
      border: 1px solid #fff; }
    main > .online .section2-table th {
      background-color: #00b0bd;
      color: #fff;
      text-align: center;
      font-weight: bold; }
      main > .online .section2-table th:nth-child(1) {
        min-width: 140px; }
      main > .online .section2-table th:nth-child(2) {
        min-width: 70px; }
      main > .online .section2-table th:nth-child(3) {
        min-width: 70px; }
      main > .online .section2-table th:nth-child(4) {
        min-width: 200px; }
    main > .online .section2-table tr:nth-child(odd) {
      background-color: #eed9a3; }
    main > .online .section2-table tr:nth-child(even) {
      background-color: #f3f3f3; }
    main > .online .section2-table ol,
    main > .online .section2-table li {
      list-style: decimal outside; }
    main > .online .section2-table ol {
      padding-left: 18px; }
main > .online .section3 > h1 {
  margin-bottom: 1em; }
main > .online .section3 > h2 {
  position: relative;
  display: flex;
  margin-bottom: 1em;
  color: #333;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  align-items: center; }
  main > .online .section3 > h2::before, main > .online .section3 > h2::after {
    height: 1px;
    background-color: #a8a8a8;
    content: '';
    flex-grow: 1; }
  main > .online .section3 > h2 span {
    padding-right: 10px;
    padding-left: 10px; }
main > .online .section4 {
  padding-bottom: 50px; }
  main > .online .section4 > h1 {
    margin-bottom: 1em; }
  main > .online .section4 p + p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold; }
  main > .online .section4 a {
    display: flex;
    margin: 0 auto;
    padding: 8px 5px;
    max-width: 480px;
    border: 1px solid #00b0bd;
    color: #00b0bd;
    text-align: center;
    line-height: 1.3;
    justify-content: center;
    align-items: center; }

main > .iso .header {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/iso/header-bg.jpg");
  height: image-height("iso/header-bg.jpg"); }
  main > .iso .header .container {
    display: flex;
    flex-direction: column;
    max-width: 568px;
    height: 100%;
    justify-content: center; }
    @media (max-width: 767px) {
      main > .iso .header .container {
        padding-top: 2em; } }
main > .iso .subtitle {
  color: #00b0bd;
  font-weight: bold;
  font-size: 22px; }
main > .iso .section1 .container {
  padding-bottom: 50px; }
  main > .iso .section1 .container > * {
    margin-bottom: 1em; }
main > .iso .section1 img {
  display: block;
  margin: 0 auto; }
main > .iso .section2 {
  background-color: #e9e9e9; }
  main > .iso .section2 .container {
    padding-bottom: 50px; }
  main > .iso .section2 img {
    display: block; }
  main > .iso .section2 figcaption {
    text-align: center; }
  main > .iso .section2 .subtitle {
    margin-top: 1em; }
    main > .iso .section2 .subtitle:first-of-type {
      margin-top: 1.5em; }

main > .eform .header {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/eform/header-bg.jpg");
  height: image-height("eform/header-bg.jpg"); }
  main > .eform .header .container {
    display: flex;
    flex-direction: column;
    max-width: 568px;
    height: 100%;
    justify-content: center; }
    @media (max-width: 767px) {
      main > .eform .header .container {
        padding-top: 2em; } }
main > .eform .sectionTitle {
  margin-bottom: 1em; }
main > .eform .subtitle {
  color: #00b0bd;
  font-weight: bold;
  font-size: 22px; }
main > .eform img {
  display: block; }
main > .eform .more {
  display: block;
  margin-top: .5em;
  width: 100px;
  height: 32px;
  border-radius: 2px;
  background-color: #00b0bd;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 32px; }
main > .eform section + section {
  margin-top: 2em; }
main > .eform .section1 .container {
  padding-bottom: 50px; }
main > .eform .section1 img {
  margin: 0 auto 1.5em; }
main > .eform .section1 .subtitle {
  position: relative; }
  main > .eform .section1 .subtitle.line::before {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: #a8a8a8;
    content: ''; }
  main > .eform .section1 .subtitle span {
    padding-right: .5em;
    background-color: #fff; }
main > .eform .section1 strong {
  color: #249f73; }
main > .eform .section2 {
  background-color: #cbe6e8; }
  main > .eform .section2 .container {
    padding-bottom: 50px; }
  main > .eform .section2 img {
    margin-bottom: 1em; }

main > .inventory .header {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/inventory/header-bg.jpg");
  height: image-height("inventory/header-bg.jpg"); }
  main > .inventory .header .container {
    display: flex;
    flex-direction: column;
    max-width: 568px;
    height: 100%;
    justify-content: center; }
    @media (max-width: 767px) {
      main > .inventory .header .container {
        padding-top: 2em; } }
main > .inventory article .container {
  padding-bottom: 50px; }
main > .inventory .sectionTitle {
  margin-bottom: 1em;
  color: #fff; }
main > .inventory .section1 {
  background-color: #756d51; }
main > .inventory .section2 {
  background-color: #2081b3; }
main > .inventory .section3 {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/inventory/section3-bg.jpg"); }
  main > .inventory .section3-btn {
    display: block;
    border-radius: 0;
    background-color: #f37f0e;
    color: #fff;
    text-align: center;
    line-height: 65px;
    max-width: 520px;
    margin: 33px auto 0;
    font-size: 23px; }
  main > .inventory .section3 .container {
    padding-top: 50px; }
  main > .inventory .section3 h1 {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px; }
  main > .inventory .section3 .swiper-wrapper {
    align-items: center; }
  main > .inventory .section3 .swiper-slide {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    align-items: center; }
  main > .inventory .section3 .swiper-button-prev, main > .inventory .section3 .swiper-button-next {
    margin-top: -4px; }
  main > .inventory .section3 .swiper-button-prev {
    left: 15px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAyCAYAAABCtcuVAAAB8klEQVRYhbXYvXHjMBCG4Vc+x25AFbABXQNqAMg9zuVxznEBHuccO2cDiwZYgUIlUgNqwNlFuoCrG55+iCVAIJMAzjMgPi4BLshsp9NptN97vwKqh1zIgHwDFIOGSDHoEikCee/Xl8jskPfeA5+3+maDFHm/1z8LFEMAfuUiu90uigDbrBk550yIiLSLDOQFeDMgG0hcIyMiZwRg8owmIB/DPyZBqcgkyIg0ItLe6jBBuYgJmgOJQs65d8DnIqOQEfkQEYkhcOc5siIhBBMC8JiI1CGEzopcQUZkE0LYTkFgcOtKIqAzcs59A6uRcT/0tysJAXh0zq0MyGsIYZ+KQLx6z4JYoHYOxAK9aQkqDp2xm1uoKW0B5mjv6ZN3HP4Z2+T/BylmqdJXMZ8MKbbmzk7zojUhhDYZUqwCvoCnyLVdCKFOhhRb0s+sily/B2oROUbGjb6PnhQbqxqg6yYio+XJ8iq3JBJy9wyKWRIJ0IlInQwpZk3kHngVkZ8kSDFrIo/06/avTqZsiZf0R8elYXgtIl0SpJg1kQCtiDTJxxYFP4G1YWiTdeI7HA5dVVV/gN+RoXknPgB9dm5GethmOSzrgm/oq0Q5SLEt8Ewf7XKQYkfFrupeVurg/vvIez9MZFPs65bWvOb8u9iMzk0/Qi3/Auzl5Dr1TnsBAAAAAElFTkSuQmCC"); }
    main > .inventory .section3 .swiper-button-prev.is-offset {
      top: calc(50% - 28px); }
  main > .inventory .section3 .swiper-button-next {
    right: 15px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAyCAYAAABCtcuVAAAB/UlEQVRYhb3XMU7jQBSA4Z/s1lyAE/gCcAEu8NxEFCv6oPQRB0Du0aZH27+ptqOjc0cacgEukI7KW3hiZRNn5o3H5kmR4vjFnyfz/GaCiNyLyDUDo2ka02vm89c5mCVmB+8nxWZHx5Nhx9Aeu/0OCKASkfI7IIDHMbEQNCoWg0bDZs65F6CeGrvYvxGRNRAr7Wd/Y100TWOCup/OObcANJK/FJF705XPQR57mgo7KYapsB99H26327eiKL6Am8B3b4qi+JrP5+8W6CJ00t/1MnKNZ1V9ieSEoTGxKJSAqao+ZUEeK4HHoZgZysWSII/dAlUqlgx57BpYp2CDoCHYYOgAq4DLQFqtqossyGMF8DuCLSwLXzBU9QN4AHahvGzoAAt2hlGgsiyjnaO3e6fEZrOpgLtI2t+fQwERuaKtuCKSqqpa5zywsbKGg64+pAVZOjnASlVf9wepTbUCYvvyHfDgK7EL63pknY8P2pF8Hp+wrLDW+ag90vvgjrFngMjqGoSM8wFDNycicknbJGPzAUeVFYr/WpDvxH8MyA745ZwzIQBdZzAu0QCfwMI5d1JZUUhEloBli1sDK+dccEnohXxlWZBX59wqFeggY97J/6IpoFXKpJ+L0MK3o530bATOj2hQZYWib0Q17TMyGgKnI8qqLCuUXVkWaJTKCsU/rLnz4ZipvKAAAAAASUVORK5CYII="); }
    main > .inventory .section3 .swiper-button-next.is-offset {
      top: calc(50% - 28px); }
main > .inventory .section4 {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../images/inventory/section4-bg.jpg"); }
  main > .inventory .section4 a {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 416px;
    height: 48px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 48px; }
    main > .inventory .section4 a:nth-of-type(1) {
      background-color: #00b7ac; }
    main > .inventory .section4 a:nth-of-type(2) {
      background-color: #0085b7; }
    main > .inventory .section4 a:nth-of-type(3) {
      background-color: #3eb02e; }
    main > .inventory .section4 a + a {
      margin-top: 20px; }
    main > .inventory .section4 a::after {
      height: image-height("../images/inventory/section4-icon.png");
      background-image: image-url("../images/inventory/section4-icon.png");
      width: image-width("../images/inventory/section4-icon.png");
      position: absolute;
      top: 50%;
      right: 18px;
      content: '';
      transform: translateY(-50%); }
