extends ../layout.pug

block includes
    link(rel='preload', href='images/WB00255301_3/header-bg.jpg', as='image')
    link(rel='stylesheet', href='css/WB00255301_3/style.css')
    script(src='js/WB00255301_3.min.js', defer)

block content
    include WB00255301_3.html