extends ../layout.pug

block includes
    link(rel='preload', href='images/WB00255301_case/header-bg.jpg', as='image')
    link(rel='stylesheet', href='css/WB00255301_case/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/3.2.3/jquery.dotdotdot.js", defer)
    script(src='js/WB00255301_case.min.js', defer)

block content
    include WB00255301_case.html