extends ../layout.pug

block includes
    link(rel='preload', href='images/seminar/header-bg.jpg', as="image")
    link(rel='stylesheet', href='css/seminar/seminar.css')
    script(src='assets/jquery-ui-1.12.1.custom/jquery-ui.min.js', defer)
    script(src='assets/lodash.min.js', defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js", defer)
    script(src='js/seminar.min.js', defer)

block content
    seminar(v-if='result', :content='result')