body, p {
	margin:0;
	padding:0;
}

body {
	background-image: url(images/bg1.gif);
	margin:0;
	padding:0;
}
p {
	font-family: "微軟正黑體", "新細明體"; 
	font-size: 13px;
	line-height: 20px;
	letter-spacing:1px;
	color: #5d5c5c;
	padding-bottom:8px;
}
.txt18{
	font-family: "微軟正黑體", "新細明體"; 
	font-size: 18px;
	line-height: 22px;
	letter-spacing:1px;
	color: #ff0000;
}
.txt13w {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}
.txt13a {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 22px;
	letter-spacing:1px;
	color: #1382b6;
}
.txt13g1 {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 22px;
	color: #458645;
}
.txt13R{
	font-family: "新細明體";
	font-size: 13px;
	line-height: 22px;
	letter-spacing:1px;
	color: #e3185c;
	font-weight: bold;
}
.txt13B{
	font-family: "新細明體";
	font-size: 13px;
	line-height: 22px;
	letter-spacing:1px;
	color: #0e90c2;
	font-weight: bold;
}
.txt13O{
	font-family: "新細明體";
	font-size: 13px;
	line-height: 22px;
	letter-spacing:1px;
	color: #f05b26;
	font-weight: bold;
}
.txt13G{
	font-family: "新細明體";
	font-size: 13px;
	line-height: 22px;
	letter-spacing:1px;
	color: #458645;
	font-weight: bold;
}
.txt12 {
	font-family: "新細明體";
	font-size: 12px;
	line-height: 1.5;
	letter-spacing:1px;
	color: #505050;
}
.txt15B {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 28px;
	letter-spacing:1px;
	font-weight: bold;
	color: #505050;
}
.txt15Bule {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 28px;
	letter-spacing:1px;
	font-weight: bold;
	color: #1A5BBD;
}
.txt15o {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 28px;
	letter-spacing:1px;
	font-weight: bold;
	color: #F02C0F;
}
.txt15r {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 28px;
	letter-spacing:1px;
	font-weight: bold;
	color: #E91237;
}
.txt15g {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 28px;
	letter-spacing:1px;
	font-weight: bold;
	color: #74b64a;
}

.txt15{
	font-family: "新細明體";
	font-size: 15px;
	line-height: 25px;
    letter-spacing:1px;
	color: #464646;
}
.topline {
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #bebebe;
}
.topline_a {
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #dcdbdb;
}
.lineLR {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #dcdbdb;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdbdb;
}
.lineLD {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #bebebe;
	border-left-color: #bebebe;
}
.lineLDo {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #ffcb83;
	border-left-color: #ffcb83;
}
.linedown {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bebebe;
}
.lineL {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #bebebe;
}
.lineLR {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #bebebe;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bebebe;
}
.lineLa {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #f6911d;
}
a:link {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 20px;
	color: #505050;
	text-decoration: none;
}
a:visited {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 20px;
	color: #505050;
	text-decoration: none;
}
a:hover {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 20px;
	color: #f05a28;
	text-decoration: none;
}
a:active {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 20px;
	color: #B6B5B5;
	text-decoration: none;
}
a.b:link {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 20px;
	color: #505050;
	text-decoration: underline;
}
a.b:visited {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 20px;
	color: #505050;
	text-decoration: underline;
}
a.b:hover {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 20px;
	color: #f05a28;
	text-decoration: underline;
}
a.b:active {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 20px;
	color: #B6B5B5;
	text-decoration: underline;
}
a.c:link {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 21px;
	color: #f05a22;
	text-decoration: underline;
}
a.c:visited {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 21px;
	color: #f05a22;
	text-decoration: underline;
}
a.c:hover {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 21px;
	color: #990000;
	text-decoration: none;
}
a.c:active {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 21px;
	color: #f05a22;
	text-decoration: underline;
}
a.d:link {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}
a.d:visited {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}
a.d:hover {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 18px;
	color: #FF6;
	text-decoration: underline;
}



a.e:link {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 21px;
	color: #f05a22;
	text-decoration: underline;
}
a.e:visited {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 21px;
	color: #f05a22;
	text-decoration: underline;
}
a.e:hover {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 21px;
	color: #990000;
	text-decoration: none;
}
a.e:active {
	font-family: "新細明體";
	font-size: 13px;
	line-height: 21px;
	color: #f05a22;
	text-decoration: underline;
}
a.f:link {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 25px;
	color: #464646;
	text-decoration: none;
}
a.f:visited {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 25px;
	color: #464646;
	text-decoration: none;
}
a.f:hover {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 25px;
	color: #990000;
	text-decoration: underline;
}
a.f:active {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 25px;
	color: #464646;
	text-decoration: none;
}
a.g:link {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 26px;
	color: #464646;
	text-decoration: underline;
}
a.g:hover {
	font-family: "新細明體";
	font-size: 15px;
	line-height: 26px;
	color: #24a75f;
	text-decoration: none;
}
