extends ../layout.pug

block includes
    link(rel='stylesheet', href='css/WB00295301.css')
    script(src='assets/lodash.min.js', defer)
    script(src='js/WB00295301.min.js', defer)

block content
    include WB00295301.html