<section id="banner">
    <div class="container">
        <h1><b class="color1">全面專業的</b> <br>
            <b class="color2">金屬製品行業</b>管理解決方案
        </h1>
        <p class="text">
            構建隨需應變的智能生產 <br>
            實時追蹤管控委外件庫存與品質
        </p>
    </div>
</section>
<section id="perplex">
    <div class="container">
        <h2>傳統金屬製品行業困擾</h2>
        <h4>當前金屬製品行業面臨的挑戰</h4>
        <div class="article-a clearfix">
            <img src="images/tz.png" alt="" class="f-l pc">
            <img src="images/mtz.png" alt="" class="mobile">
            <div class="f-r box-a pc">
                <p>一旦市場變動劇烈，對生產線的影響更是劇烈，以長鞭效應來看，前製程的波動又會大大影響到後製程，廠內、委外製程相互拉扯影響，為何會如此？因為產能資源是有限的，一旦產能被佔用，然後又因為市場客戶需求變動，而改變了產能的排程，如何讓生產製程管理平穩化就是金屬製品行業所面臨的普遍挑戰！</p>
            </div>
            <div class="box-a mobile">
                <p>一旦市場變動劇烈，對生產線的影響更是劇烈，以長鞭效應來看，前製程的波動又會大大影響到後製程，廠內、委外製程相互拉扯影響，為何會如此？因為產能資源是有限的，一旦產能被佔用，然後又因為市場客戶需求變動，而改變了產能的排程，如何讓生產製程管理平穩化就是金屬製品行業所面臨的普遍挑戰！</p>
            </div>
        </div>
        <h5>為了滿足客戶的需求: </h5>
        <ul class="pc">
            <li>
                <b>1</b>
                <p>工單何時開工？何時入庫？何處生產？ </p>
            </li>
            <li>
                <b>2</b>
                <p>有哪些採購料不足要開採購單的？ </p>
            </li>
            <li>
                <b>3</b>
                <p>以現有的物料以及有限產能，訂單的需求能否被滿足? </p>
            </li>
        </ul>
        <ul class="mobile">
            <li>
                <p><b>1</b>工單何時開工？何時入庫？何處生產？ </p>
            </li>
            <li>

                <p><b>2</b>有哪些採購料不足要開採購單的？ </p>
            </li>
            <li>

                <p><b>3</b>以現有的物料以及有限產能，訂單的需求能否被滿足? </p>
            </li>
        </ul>
        <img src="images/xc.png" alt="" class="pc" style="margin-left: 90px;margin-bottom: 30px;">
        <img src="images/mxc.png" alt="" class="mobile">
        <h4>金屬製品行業管理議題原因分析</h4>
        <img src="images/fx.png" class="imgf pc">
        <img src="images/mfx.png" class="imgf mobile">
        <h4>生產特性</h4>
        <ul class="pc">
            <li>
                <b>1</b>
                <p>生產製造使用原材料較單純，故製造過程中僅需考慮機台間的產能負荷。 </p>
            </li>
            <li>
                <b>2</b>
                <p>設備規劃：不同品項於不同設備(或模具)的群組關連，生產的順序有否考慮到交期及客戶的優先權？ </p>
            </li>
            <li>
                <b>3</b>
                <p>熱處理與電鍍製程、後加工大多交由委外廠商代為加工，所以委外的管理也是重點。 </p>
            </li>
            <li>
                <b>4</b>
                <p>需要追蹤成品所用的原料來源，故原料與成品需要爐號管理；進階則更需要材質證明及產品履歷追蹤。 </p>
            </li>
            <li>
                <b>5</b>
                <p>因成型、熱處理或電鍍製程處理後會有數量改變的情況，製造過程須採用雙單位，且重量(KG)與數量(PCS)的換算比率需可調整， <br>
                    以便取得精準的數量。 </p>
            </li>
            <li>
                <b>6</b>
                <p>移轉過程中採用固定載具，需做桶號管理或是記錄載具數量。</p>
            </li>
        </ul>
        <ul class="mobile">
            <li>

                <p><b>1</b>生產製造使用原材料較單純，故製造過程中僅需考慮機台間的產能負荷。 </p>
            </li>
            <li>

                <p><b>2</b>設備規劃：不同品項於不同設備(或模具)的群組關連，生產的順序有否考慮到交期及客戶的優先權？ </p>
            </li>
            <li>

                <p><b>3</b>熱處理與電鍍製程、後加工大多交由委外廠商代為加工，所以委外的管理也是重點。 </p>
            </li>
            <li>

                <p><b>4</b>需要追蹤成品所用的原料來源，故原料與成品需要爐號管理；進階則更需要材質證明及產品履歷追蹤。 </p>
            </li>
            <li>

                <p><b>5</b>因成型、熱處理或電鍍製程處理後會有數量改變的情況，製造過程須採用雙單位，且重量(KG)與數量(PCS)的換算比率需可調整，
                    以便取得精準的數量。 </p>
            </li>
            <li>
                <p><b>6</b>移轉過程中採用固定載具，需做桶號管理或是記錄載具數量。</p>
            </li>
        </ul>
        <p class="ftext">隨著企業擴張，過去採用人工處理單據已不合時宜，您需要透過合適的系統來協助企業降低人為的錯誤率，提高作業流程效率， <br>
            快速回應客戶需求。 </p>
    </div>
</section>
<section v-if="!isMobile" id="plan" class="pc">
    <div class="container">
        <h2>金屬製品行業解決方案</h2>
        <div class="hgroup">
            <h3>
                <span class="t1 f-l">客戶一次所託是我們終身的責任</span>
                <span class="t2 f-r">鼎新給您最完整的服務與支援</span>
            </h3>
        </div>
        <img src="images/plan1.jpg" alt="">
        <div class="hgroup">
            <h3>
                <span class="t1 f-l">鼎新金屬行業解決方案特色</span>
            </h3>
        </div>
        <div class="ULW clearfix">
            <ul>
                <li>
                    <img src="images/t1.png" alt="" class="f-l">
                    <h5 style="color: #ff0000;">快速回應客戶需求</h5>
                    <p>強化訂單至出貨間的追蹤管制．
                        快速回應客戶需求</p>
                </li>
                <li> <img src="images/t2.png" alt="" class="f-l">
                    <h5 style="color: #ff0000;">即時庫存資訊查詢</h5>
                    <p>領、退料與生產入庫管理，做到即時庫
                        存資訊查詢</p>
                </li>
                <li> <img src="images/t3.png" alt="" class="f-l">
                    <h5 style="color:#008a5d;">加快客戶詢價效率</h5>
                    <p>提供客戶過去加工單價紀錄，加快客
                        戶詢報價效率</p>
                </li>
                <li> <img src="images/t4.png" alt="" class="f-l">
                    <h5 style="color:#008a5d;">提升管理品質效能</h5>
                    <p>作業制度化效率化，加速決策時間，
                        提升管理品質</p>
                </li>
                <li> <img src="images/t5.png" alt="" class="f-l">
                    <h5 style="color: #2195ce;">即時掌握生產進度</h5>
                    <p>掌握生產、在製進度，提升管理效率
                        與機台稼動率</p>
                </li>
                <li> <img src="images/t6.png" alt="" class="f-l">
                    <h5 style="color: #2195ce;">應收應付帳款結算</h5>
                    <p>加速應收帳款、應付帳款結帳速度與
                        結帳準確率</p>
                </li>
            </ul>
        </div>

        <div class="hgroup">
            <h3>
                <span class="t1 f-l">鼎新完整且周延的服務項目</span>
            </h3>
        </div>
        <div class="ULH clearfix">
            <p class="f-l">依據企業管理數位化的需求提供行業解決方案
                從系統上線、顧問輔導、健診服務等各階段，
                提供周延且立即服務，協助企業提升作業管理
                效益，快速展現系統使用效率。</p>
            <img src="images/x2.png" alt="" class="f-r">
        </div>
    </div>
</section>
<section v-if="isMobile" id="plan" class="mobile">
    <div class="container">
        <h2>金屬製品行業解決方案</h2>
        <div class="hgroup">
            <h3>
                客戶一次所託是我們終身的責任
            </h3>
        </div>
        <img src="images/m-mb.png" alt="">
        <div class="hgroup" style="margin-top:10%;">
            <h3>
                鼎新金屬行業解決方案特色
            </h3>
        </div>
        <div class="ULW clearfix">
            <ul>
                <li>
                    <img src="images/t1.png" alt="">
                    <h5 style="color: #ff0000;">快速回應客戶需求</h5>
                    <p>強化訂單至出貨間的追蹤管制．
                        快速回應客戶需求</p>
                </li>
                <li> <img src="images/t2.png" alt="">
                    <h5 style="color: #ff0000;">即時庫存資訊查詢</h5>
                    <p>領、退料與生產入庫管理，做到即時庫
                        存資訊查詢</p>
                </li>
                <li> <img src="images/t3.png" alt="">
                    <h5 style="color:#008a5d;">加快客戶詢價效率</h5>
                    <p>提供客戶過去加工單價紀錄，加快客
                        戶詢報價效率</p>
                </li>
                <li> <img src="images/t4.png" alt="">
                    <h5 style="color:#008a5d;">提升管理品質效能</h5>
                    <p>作業制度化效率化，加速決策時間，
                        提升管理品質</p>
                </li>
                <li> <img src="images/t5.png" alt="">
                    <h5 style="color: #2195ce;">即時掌握生產進度</h5>
                    <p>掌握生產、在製進度，提升管理效率
                        與機台稼動率</p>
                </li>
                <li> <img src="images/t6.png" alt="">
                    <h5 style="color: #2195ce;">應收應付帳款結算</h5>
                    <p>加速應收帳款、應付帳款結帳速度與
                        結帳準確率</p>
                </li>
            </ul>
        </div>

        <div class="hgroup">
            <h3>
                鼎新完整且周延的服務項目
            </h3>
        </div>
        <div class="ULH clearfix">
            <p>依據企業管理數位化的需求提供行業解決方案
                從系統上線、顧問輔導、健診服務等各階段，
                提供周延且立即服務，協助企業提升作業管理
                效益，快速展現系統使用效率。</p>
            <img src="images/mx2.png" alt="">
        </div>
    </div>
</section>
<section v-if="!isMobile" id="benefit" class="pc">
    <div class="container">
        <h2>您可以看到的管理效益</h2>
        <img src="images/b1.png" alt="">
        <img src="images/b2.png" alt="">
    </div>
</section>
<section v-if="isMobile" id="benefit" class="mobile">
    <div class="container">
        <h2>您可以看到的管理效益</h2>
        <h4>企業管理議題為核心的系統佈建</h4>
        <img src="images/m1.png" alt="">
        <h4>提升明顯的管理效益</h4>
        <img src="images/m2.png" alt="">
    </div>
</section>
<contact v-bind:multiple="false" source=""></contact>