<!--banner-->
<section id="banner">
    <div class="container">
        <h1>
            營運監控雲平台 <br>
            <span>即時經營成果監控及改善</span>
        </h1>
        <p class="text">
            精準化．模版化．即期化．全局化
        </p>
    </div>
</section>
<!--困境-->
<section id="dilemma">
    <div class="container">
        <h2>企業建置營運指標監控遭遇的困境</h2>
        <p>企業績效需要透過【指標】來衡量經營成效，但建置【指標管理】往往遇到困境</p>
        <img src="images/dilemma.png" alt="" class="pc">
        <img src="images/mdilemma1.png" alt="" class="m-mobile">
        <div class="m-mobile" style="margin-bottom: 50px">
            <p>01.不知道要用哪些指標</p>
            <p>02.要的指標計算不出來</p>
            <p>03.計算指標數值耗時費</p>
            <p>04.算出來的指標數值不正確</p>
            <p>05.指標數值不理想，容許排除因素</p>
            <p>06.指標異常影響因素</p>
            <p>07.指標改善成效追縱</p>
            <p>08.如何透過指標管理實現經營目標</p>
        </div>
    </div>
</section>
<!--效益-->
<section id="benefit">
    <div class="container">
        <h2>每個企業都能利用營運監控平台來監控數據並提高經營效益</h2>
        <p>鼎捷營運監控平臺幫助企業快速通過對指標的監管，<br>
            協助企業全盤掌握營運狀況並找到關鍵改善點，為提高經濟效益指明方向</p>
        <ul class="pc">
            <li>
                <a href="#panel" class="js-nav"><img src="images/benefit1.png" alt="">
                </a>
                <h2 class="boldh2">
                    指標取數精準化
                </h2>
                <p>確保指標取數公正性、一致性及公式計算正確性</p>
            </li>
            <li>
                <a href="#run" class="js-nav"><img src="images/benefit2.png" alt="">
                </a>
                <h2 class="boldh2">
                    營運管理模版化
                </h2>
                <p>預設７個營運面版，全盤掌握企業的營運績效</p>
            </li>
            <li>
                <a href="#multiport" class="js-nav"><img src="images/benefit3.png" alt=""></a>
                <h2 class="boldh2">
                    行動改善即期化
                </h2>
                <p>數據即時計算，反應當期績效，掌握改善時效性</p>
            </li>
            <li>
                <a href="#discussion" class="js-nav"><img src="images/benefit4.png" alt=""></a>
                <h2 class="boldh2">
                    績效整體優化
                </h2>
                <p>面版呈現相互影響的指標群，達到績效整體優化</p>
            </li>
        </ul>
        <ul class="m-mobile">
            <li>
                <a href="#panel" class="js-nav"><img src="images/mbenefit1.png" alt=""></a>

                <h2 class="boldh2">
                    指標取數精準化
                </h2>
                <p>確保指標取數公正性、一致性及公式計算正確性</p>

            </li>
            <li>
                <a href="#run" class="js-nav"> <img src="images/mbenefit2.png" alt=""></a>

                <h2 class="boldh2">
                    營運管理模版化
                </h2>
                <p>預設７個營運面版，全盤掌握企業的營運績效</p>
            </li>
            <li>
                <a href="#multiport" class="js-nav"><img src="images/mbenefit3.png" alt=""></a>
                <h2 class="boldh2">
                    行動改善即期化
                </h2>
                <p>數據即時計算，反應當期績效，掌握改善時效性</p>
            </li>
            <li>
                <a href="#discussion" class="js-nav"><img src="images/mbenefit4.png" alt=""></a>
                <h2 class="boldh2">
                    績效整體優化
                </h2>
                <p>面版呈現相互影響的指標群，達到績效整體優化</p>
            </li>
        </ul>

    </div>
</section>
<!--面板-->
<section id="panel">
    <div class="container">
        <h2>經營績效面版</h2>
        <p>掌握經營成果及變化趨勢·掌握戰略執行的成效和速度</p>
        <div class="tabs">
            <ul class="titles">
                <li class="on">
                    <p>經營績效面版</p>
                </li>
                <li>
                    <p>即時分析趨勢變化</p>
                </li>
                <li>
                    <p>挖掘支撐關聯指標</p>
                </li>
            </ul>
            <div class="tab_img pc">
                <div>
                    <img src="images/p1.png" alt="">
                </div>
                <div style="display: none;">
                    <img src="images/p2.png" alt="">
                </div>
                <div style="display: none;">
                    <img src="images/p3.png" alt="">
                </div>
            </div>
            <div class="tab_img m-mobile mh">
                <div>
                    <img src="images/mp1.png" alt="">
                </div>
                <div style="display: none;">
                    <img src="images/mp2.png" alt="">
                </div>
                <div style="display: none;">
                    <img src="images/mp3.png" alt="">
                </div>
            </div>
        </div>

    </div>
</section>
<!--6大管理-->
<section id="run">
    <div class="container">
        <h2>六大職能管理面版</h2>
        <p>清晰瞭解每日重要工作任務的執行狀況，掌控當月至今的職能關鍵KPI趨勢</p>
        <img src="images/run1.png" alt="" class="pc">
        <img src="images/mrun1.png" alt="" class="m-mobile">
        <div class="m-mobile">
            <ul>
                <li>
                    <h4>銷售管理：</h4>
                    <p>分析和預測銷售額，提高業績，確保完成預定銷售目標。</p>
                </li>
                <li>
                    <h4>採購管理：</h4>
                    <p>分析需求訂單進行採購，有效提高準交率，確保物料。</p>
                </li>
                <li>
                    <h4>倉庫管理：</h4>
                    <p>精細化管理庫存、訂單，充分利用倉庫，有效提高利潤率。</p>
                </li>
                <li>
                    <h4>財務管理：</h4>
                    <p>綜合分析營收、支出等財務數據，制定預算、預測業績。</p>
                </li>
                <li>
                    <h4>製造管理：</h4>
                    <p>製造現場完成情況、交期緊迫與交期掌控的相關需求並有效提升高價值設備的利用率。</p>
                </li>
                <li>
                    <h4>生產管理：</h4>
                    <p>收集生產現場各種資訊，進行數據整理與分析，協助正確的管理決策。</p>
                </li>
            </ul>
        </div>
        <div class="buttonM">
            <div class="btn_m">
                <a href="#contact" class="js-nav">立即諮詢試用</a>
            </div>
            <div class="btn_m">
                <a href="#contact" class="js-nav">想要了解更多</a>
            </div>
        </div>
    </div>
</section>
<!--多端支持-->
<section id="multiport">
    <div class="container">
        <h2>多終端支持，隨時隨地掌握數據</h2>
        <ul class="pc">
            <li>
                <img src="images/pcicon.png" alt="">
                <div class="txtp">
                    <p class="pbold">電腦Web端</p>
                    <p>適合進行數據分析，製作和管理報告</p>
                </div>
            </li>
            <li>
                <img src="images/micon.png" alt="">

                <div class="txtp">
                    <p class="pbold">手機移動端</p>
                    <p>適合進行隨時隨地查看報告，掌握即時數據</p>
                </div>
            </li>
        </ul>
        <ul class="m-mobile">
            <li>
                <img src="images/mpcicon.png" alt="">
                <div class="txtp">
                    <p class="pbold">電腦Web端</p>
                    <p>適合進行數據分析，製作和管理報告</p>
                </div>
            </li>
            <li>
                <img src="images/mmicon.png" alt="">

                <div class="txtp">
                    <p class="pbold">手機移動端</p>
                    <p>適合進行隨時隨地查看報告，掌握即時數據</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--议题-->
<section id="discussion">
    <div class="container clearfix">
        <div class="fl pc">
            <img src="images/discussion1.png" alt="">
        </div>
        <div class="fr pc">
            <h2>企業管理議題，佈建指標樹</h2>
            <p>指標樹、掌成效、管理整體優化</p>
            <p>架模型、管議題、管理盲點全現</p>
            <p>定因果、管源頭、管理事半功倍</p>
            <div class="buttonM">
                <div class="btn_m">
                    <a href="#contact" class="js-nav">想要了解更多</a>
                </div>
            </div>
        </div>
        <div class="m-mobile">
            <h2>企業管理議題，佈建指標樹</h2>
            <p>指標樹、掌成效、管理整體優化</p>
            <p>架模型、管議題、管理盲點全現</p>
            <p>定因果、管源頭、管理事半功倍</p>
            <div class="buttonM">
                <div class="btn_m">
                    <a href="#contact" class="js-nav">想要了解更多</a>
                </div>
            </div>
        </div>

    </div>
</section>

<contact v-bind:multiple="false" source="WB002970"></contact>