extends ../layout.pug

block includes
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="stylesheet", href="assets/swiper.css")
    script(src="assets/swiper.js", defer)
    script(src="assets/vue-awesome-swiper.js", defer)
    link(rel='stylesheet', href='css/WB00259501.css')
    script(src='js/WB00259501.min.js', defer)

block content
    include WB00259501.html