extends ../layout.pug

block includes
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='assets/jquery-ui-1.12.1.custom/jquery-ui.min.js', defer)
    link(rel='stylesheet', href='css/WB00259501_2.css')
    script(src='js/WB00259501_2.min.js', defer)

block content
    include WB00259501_2.html