header {
    background-image: url('../images/header-bg.jpg');
}
.header-illust {
    background-image: url('../images/online/header-img.png');
}
@media (max-width: 768px) {
    header {
        background-image: none;
    }
}