<div class="header">
    <div class="container">
        <h1 class="mainTitle">預算編列是年度大事</h1>
        <h2>訂定目標能否達成<br>端看<strong>預算能否落實</strong></h2>
    </div>
</div>

<article class="section1 container">
    <h1 class="sectionTitle">為何需要建置資訊系統?</h1>
    <p>鼎新輔導眾多企業資訊系統上線成功，發現企業對資訊系統的建置與更換之中，存在著各種考量因素，誠如下圖所示，系統老舊不堪使用為最大宗，而因各部門作業困擾產生系統建置需求者也不在少數，其中尤以人員重工作業、生產製造整合、政府法規因應...等相關困擾為最大比例，並列入IT建置首要改善重點</p>
    <div id="section1">
        <!-- vue component -->
    </div>
</article>

<article class="section2">
    <div class="container">
        <h1 class="sectionTitle">資訊系統化期望達到什麼目標？</h1>
        <div class="section2-content">
            <div class="section2-item fadeIn" onclick>
                <p class="section2-item-user">系統使用者</p>
                <p class="section2-item-issue">系統主要是我在操作<br>導入後我可以有哪些效益？</p>
                <div class="section2-item-hover">
                    <ul>
                        <li>流程順暢</li>
                        <li>報表自動產出</li>
                        <li>資訊即時了</li>
                        <li>庫存準確</li>
                    </ul>
                </div>
            </div>
            <p class="section2-center">vs.</p>
            <div class="section2-item fadeIn" onclick>
                <p class="section2-item-user">公司營運者</p>
                <p class="section2-item-issue">系統化的錢是我在出<br>出了這筆錢對於營收有什麼確切的幫助？</p>
                <div class="section2-item-hover">
                    <ul>
                        <li>營收獲利率<i> ？ </i>%</li>
                        <li>準時交付能力&emsp;訂單準時交付率<i> ？ </i>%</li>
                        <li>速交貨能力&emsp;訂單交貨周期<i> ？ </i>天</li>
                        <li>存貨管理能力&emsp;存貨周轉天數<i> ？ </i>天</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>

<article class="section3 container">
    <h1 class="sectionTitle">每個部門會遇到的問題都不同？對於系統化的需求也有所差別</h1>
    <h2>針對各項職能，你是不是也有遭遇以下困難...........<br>系統可以為你帶來更多助益...........</h2>
    <div id="section3">
        <!-- vue component -->
    </div>
    <a href="#contact" class="section3-btn js-nav">索取報價</a>
</article>

<article class="section4">
    <div class="container">
        <h1 class="sectionTitle">資訊系統化的費用怎麼計算？<br>未來長期還要支付哪些費用？</h1>
        <div class="section4-content">
            <div class="section4-item">
                <div class="section4-item-top">系統軟體費用</div>
                <div class="section4-item-bottom">
                    <div class="col">
                        使用者人數：5人<br>
                        包含軟體授權費用<br>
                        自購軟硬體費用<br>
                        程式修改調整費用<br>
                        配銷、財務、生管共14套模組
                    </div>
                    <div class="col">
                        <p>約<strong>880,000</strong>元</p>
                    </div>
                </div>
            </div>
            <div class="section4-item">
                <div class="section4-item-top">系統維護費用</div>
                <div class="section4-item-bottom">
                    <div class="col">
                        每年<br>
                        軟硬體系統維護費用
                    </div>
                    <div class="col">
                        <p>約<strong>175,500</strong>元</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>