[v-cloak] {
    display: none;
}
main {
    padding-top: 50px;
    min-width: 360px;
    font-size: 18px;
    line-height: 1.6;
    @media (min-width: $tablet-width + 1) {
        padding-top: 0;
    }
    @media (min-width: 1025px) {
        padding-top: 38px;
    }
    .container {
        margin: 0 auto;
        padding: 0 20px;
        max-width: $content-width;
        @media (min-width: $content-width) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .mainTitle {
        font-weight: bold;
        font-size: 30px;
    }
    .sectionTitle {
        padding-top: 50px;
        font-size: 26px;
    }
}
