main .index .banner {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1920px;
    &.clickable {
        cursor: pointer;
    }
    &-slide {
        height: image-height('index/hero-bg1.jpg');
        background-position: 50% 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    &-title {
        margin-bottom: .5em;
        width: 100%;
        color: #ff0;
        letter-spacing: getLetterSpacing(25);
        font-weight: bold;
        font-size: 34px;
        line-height: 1.3;
        @at-root {
            main .index .banner-slide.slide3 .banner-title {
                font-size: 48px;
            }
        }
    }
    &-subtitle {
        margin-bottom: .5em;
        width: 100%;
        color: #ff0;
        letter-spacing: getLetterSpacing(25);
        font-weight: bold;
    }
    &-desc {
        width: 100%;
        color: #fff;
        letter-spacing: getLetterSpacing(25);
        font-weight: bold;
        line-height: 1.3;
        @at-root {
            main .index .banner-slide.slide3 .banner-desc {
                font-size: 22px;
            }
        }
    }
    &-controls {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
    }
    &-button-next,
    &-button-prev {
        position: absolute;
        top: 50%;
        width: 44px;
        height: 77px;
        cursor: pointer;
        transform: translateY(-50%);
    }
    &-button-next {
        right: 5px;
        background: image-url('index/banner-btn-next.png') 100% 50%/contain no-repeat;
    }
    &-button-prev {
        left: 5px;
        background: image-url('index/banner-btn-prev.png') 0 50%/contain no-repeat;
    }
    &-pagination {
        position: absolute;
        bottom: 13px;
        left: 50%;
        display: flex;
        transform: translateX(-50%);
        align-items: center;
        &-bullet {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #aeaeae;
            cursor: pointer;
            & + .banner-pagination-bullet {
                margin-left: 13px;
            }
            &-active {
                background-color: #fff;
            }
        }
    }
    &.disabled {
        .swiper-wrapper {
            transform: translate3d(0px, 0, 0) !important;
        }
        .banner-pagination {
            display: none;
        }
    }
}