//- footer
#dgwFooter
    .link01
        a(href='https://www.digiwin.com/tw/portal/page/index/id/1202.html', target='_blank') 隱私權聲明
        span │
        a(href='http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=5060436d3c36402256583a1d1d1d1d5f2443a363189j48&jobsource=checkc', target='_blank') 人才招募
        span │
        a(href='https://www.facebook.com/DSCmain', target='_blank') 粉絲團
        span │
        a(href='https://www.digiwin.com/tw/contact/eform.html', target='_blank') 聯絡我們
    .link02
        ul
            li
                img(src='https://www.digiwin.com/tw/dsc/Library/images/digiwinSoft.png', width='77', height='18', align='absmiddle')
                span │
                span.text01
                    a(href='/') 鼎新電腦
                    |  ‧ 
                    a(href='http://www.digiwin.com', rel='nofollow nofollow', target='_blank') 鼎捷軟件
                    |  ‧ 
                    a(href='http://vn.digiwin.biz', rel='nofollow nofollow', target='_blank') 鼎捷軟件(越南)
                    |  ‧ 
                    a(href='http://vn.digiwin.biz/en/index.html', target='_blank') 鼎捷軟件(馬來西亞)
                    |  ‧ 鼎華系統 ‧ 
                    a(href='http://www.zhilinktech.com/', target='_new') 智互聯(深圳)科技
    p
        | Copyright ©  鼎新電腦股份有限公司. Copyright ©  Data Systems Consulting Co., Ltd. All rights reserved.
