#top
    .content
        a(href='https://www.digiwin.com/tw/', target='_blank')
            img.logo(src='https://www.digiwin.com/tw/dsc/Library/images/logo.png', alt='鼎新官網', width='90', height='29')
