<div id="indBanner" class="section">
    <div class="content vAlignContent">
        <h1>
            管好帳、管好貨、管現場
        </h1>
        <p class="pageDesc">
            但人就是這麼多...怎麼管？
        </p>
        <div class="btns">
            <a href v-on:click.prevent="scrollTo('#contact')">立即諮詢</a>
            <a href=" http://bit.ly/30TfgST" target="_blank">下載解決方案</a>
        </div>
    </div>
</div>
<div id="problem" class="section">
    <div class="content">
        <h2>
            經營中小企業，你有沒有發生這些問題？
        </h2>
        <p class="sectionDesc-center">
            無論是製造業還是買賣業，中小企業總是有著各自的管理面向需要關注，<br />
            從帳務到工廠管理，從貿易到通路經營，<br />
            還有各項政府法規與稅制要因應，<br />
            這些問題恐怕只是冰山一角！
        </p>
        <img src="https://www.digiwin.com/tw/dsc/solution/WB002839/images/index/img_problems.png" alt="經營中小企業常見困擾" />
        <div class="linkGroup">
            <a class="link link-outline" href="https://www.digiwin.com/tw/dsc/solution/WB002839/manufacture.html">前往製造業<br />
                (OEM、ODM、OBM)</a> <a class="link link-outline" href="https://www.digiwin.com/tw/dsc/solution/WB002839/merchandise.html">前往買賣業<br />
                (內外銷、品牌代理、買賣維修)</a>
        </div>
    </div>
</div>
<div id="basic" class="section">
    <div class="content">
        <h2>
            基礎管理制度
        </h2>
        <p class="sectionDesc-center">
            強化企業內部流程，才有足夠的能量面對市場的需要及挑戰<br />
            提供客戶專業的服務，需要穩健而順暢的企業流程做為後勤支援
        </p>
        <p class="sectionDesc-center">
            <strong>建立基本的管理制度：從市場開發 → 提供服務或商品 → 收款 →
                售後服務</strong>
        </p>
        <div class="outline">
            <img class="imgCenter" src="https://www.digiwin.com/tw/dsc/solution/WB002839/images/index/img_basci.png" alt="建立基本的管理制度：從市場開發 → 提供服務或商品 → 收款 → 售後服務" />
        </div>
    </div>
</div>
<div id="finance" class="section">
    <div class="content clearfix">
        <h2>
            財務融資
        </h2>
        <div class="outline clearfix">
            <div class="floatLeft">
                <p class="quote">
                    財政部官員認為，記帳士評鑑主要是看營業稅申報件數等稅務相關資料，較無財務相關指標；金管會銀行局也認為，銀行融資給企業，主要看企業的營運前景，及授件5P指標，不易由記帳士好壞認定企業前景。<span>(來源：經濟日報)</span>
                </p>
                <p>
                    因此，如企業能自行建置系統並透過系統快速產出401、403與新版資產負債表，新版綜合損益表，將能為企業降低委外編列財報的成本，並大幅提升財報透明度，順利向銀行取得低利融資，為企業注入資金活水。
                </p>
            </div>
            <div class="floatRight">
                <img src="https://www.digiwin.com/tw/dsc/solution/WB002839/images/index/img_finance.jpg" alt="鼎新電腦資訊系統支持重點。財報延續及比較，系統產出財報完全支持新制格式。" />
                <p>
                    鼎新電腦資訊系統支持重點。財報延續及比較，系統產出財報完全支持新制格式。
                </p>
            </div>
        </div>
        <a class="otherLink" href="http://www.smeg.org.tw/" target="_blank"><i class="fa fa-arrow-circle-right font_gray"></i> 友善連結：中小企業信用保證基金</a>
    </div>
</div>
<div id="invoice" class="section">
    <div class="content clearfix">
        <h2>
            電子發票已經開始實施！
        </h2>
        <p class="sectionDesc">
            電子發票絕不僅僅是把發票上傳到財政部電子發票平台如此簡單，當發票開立時，您的有些客戶接受電子發票，有些客戶接受紙本發票，或是有些客戶有指定的第三方加值服務平台，這麼多種的發票平台開立和交付形式，如果開錯、漏開、漏傳將可能面對法規罰則與客戶抱怨。而發票開立後，如何確保所有電子發票正確交付給對方，且皆準時送達財政部電子發票平台？最後來到帳務核對與營業稅申報階段，該怎麼縮短簡化對帳時程？<br />
            <br />
            鼎新電腦一體化整合方案，協助企業從開立每張電子發票到上傳、請款、對帳所有的困擾，用較短時程、較少人力、自動化的監控，完美協助您日常的電子發票作業。
        </p>
        <img src="https://www.digiwin.com/tw/dsc/solution/WB002839/images/index/img_invoice.png" alt="電子發票已經開始實施！" class="imgCenter" /><a href="https://www.digiwin.com/tw/dsc/solution/WB002742/WB00274201.html" class="link link-outline link-block" target="_blank">了解更多</a>
    </div>
</div>
<article id="law" class="section">
    <h1>研討會資訊</h1>
    <local-swiper ref="awesomeSwiperA" :options="swiperOptionA">
        <local-slide v-for="(slide, idx) in slides">
            <article class="content">
                <div class="col">
                    <img :src="'images/index/law-illust' + (idx+1) + '.jpg'" alt="">
                </div>
                <div class="col">
                    <h2>{{slide.title}}</h2>
                    <p class="law-content">{{slide.content}}</p>
                    <a :href="slide.url" class="law-btn" target="_blank">了解更多課程內容</a>
                </div>
            </article>
        </local-slide>
        <div class="swiper-pagination" slot="pagination"></div>
    </local-swiper>
</article>
<div id="industry" class="section">
    <div class="content">
        <h2>
            每個產業，我們都是專家
        </h2>
        <p class="sectionDesc-center">
            累積30多年產業輔導經驗，50,000 多家企業成功案例<br />
            轉化成行業解決方案，提供您全程價值服務與支援
        </p>
        <industry></industry>
    </div>
</div>

<contact v-bind:multiple="false" source=""></contact>