main .articles {
    overflow: hidden;
    section {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 740px;
        background-position: 50% -40px;
        background-repeat: no-repeat;
        opacity: 0;
        transition: transform 1.2s, opacity 2s;
        @media (min-width: $content-width) {
            flex-direction: row;
            max-width: none;
            height: 380px;
            background-position: calc(50% - 590px) 0; /* 590 = 圖片寬度/2 + 220 */
            justify-content: center;
            @at-root {
                main .articles section:nth-of-type(odd) {
                    transform: translateX(-100%);
                }
                main .articles section:nth-of-type(even) {
                    background-position-x: calc(50% + 590px); /* 590 = 圖片寬度/2 + 220 */
                    transform: translateX(100%);
                }
            }
        }
        &.active {
            opacity: 1;
            transform: translateX(0);
        }
        & + section {
            margin-top: 10px;
        }
        header {
            height: 300px;
            @media (min-width: $content-width) {
                width: 410px;
                height: auto;
            }
            @media (min-width: $content-width) {
                @at-root {
                    main .articles section:nth-of-type(even) header {
                        order: 1;
                    }
                }
            }
            .container {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                @media (min-width: $content-width) {
                    @at-root {
                        main .articles section:nth-of-type(odd) header .container {
                            padding-right: 120px;
                        }
                        main .articles section:nth-of-type(even) header .container {
                            padding-left: 104px;
                        }
                    }
                }
            }
            h1 {
                color: #f6ff00;
                font-weight: bold;
                font-size: 26px;
                line-height: 1;
                @media (min-width: $content-width) {
                    font-size: 30px;
                }
            }
            p {
                margin-top: 1em;
                color: #fff;
                text-align: justify;
                line-height: 26px;
            }
        }
    }
    .list {
        padding-top: 20px;
        padding-bottom: 60px;
        background-color: #eee;
        @media (min-width: $content-width) {
            padding-top: 35px;
            padding-bottom: 35px;
            width: 790px;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            @media (min-width: $content-width) {
                margin: -10px -15px;
                height: 100%;
                align-content: center;
            }
        }
        li {
            width: 100%;
            @media (min-width: $content-width) {
                padding: 10px 15px;
                width: 50%;
            }
            & + li {
                margin-top: 10px;
                @media (min-width: $content-width) {
                    margin-top: 0;
                }
            }
        }
        a {
            display: flex;
            @at-root {
                html.no-mobile main .articles .list a:hover .list-title {
                    text-decoration: underline;
                }
            }
        }
        &-img {
            flex-shrink: 0;
        }
        &-text {
            padding-left: 5px;
            br {
                display: none;
                @media (min-width: $content-width) {
                    display: block;
                }
            }
        }
        &-subtitle {
            margin-bottom: .5em;
            font-size: 14px;
            line-height: 18px;
            @media (min-width: $content-width) {
                font-size: 16px;
                line-height: 20px;
            }
            &:empty {
                display: none;
            }
        }
        &-title {
            color: #d40000;
            line-height: 24px;
        }
    }
}
