<!-- loading -->
<div id="loading">
    <p><i></i>資料提交中，請稍後</p>
</div>

<!-- thx page -->
<div id="thx">
    <div id="thxContent">
        <div class="close">X</div>
        <p class="title">資料己送出</p>
        <p class="thxparg"></p>
        <p class="suprtCall">
            <span>如需要立即的支援與服務，</span>
            <span>請直撥免付費專線 0800-888-162，謝謝！</span>
        </p>
        <p class="thxSourLoad1">
            <a id="SourLoadLink" href="" target="_blank">資料下載</a>
        </p>
        <p id="goIndex">
            <a href="javascript:;">繼續瀏覽網站</a>
        </p>
    </div>
</div>