<main-header>
    <template slot="content">
        <storm v-if="!isMediumWidth"></storm>
        <div class="content">
            <div class="content-text">
                <h2>數位化轉型價值起點</h2>
                <h1><img src="images/mag201909/header-title.svg" alt="數據賦能"></h1>
                <p>
                    數位化技術加持，<br>
                    數據&流程混合驅動企業數字變革。<br>
                    從數據積累到數據紅利，
                </p>
                <strong>賦能數位化轉型新風口已經到來！</strong>
            </div>
            <div class="content-nav">
                <a href="#section1" class="btn js-nav">數位轉型</a>
                <a href="#section2" class="btn js-nav">精選文章</a>
                <a href="#section3>header" class="btn js-nav">封面故事</a>
                <a href="#section3-2" class="btn js-nav">專題報導</a>
                <a href="#section3-3" class="btn js-nav">應用價值</a>
                <a href="#section3-4" class="btn js-nav">特別企劃</a>
                <a href="#section3-5" class="btn js-nav">企業典範</a>
                <a href="#section3-6" class="btn js-nav">生活人文</a>
            </div>
        </div>
    </template>
</main-header>

<article id="section1" class="section1">
    <hgroup>
        <h2>《企業通》雜誌2019全新出刊</h2>
        <h1>從領導者視角 看見數位轉型</h1>
    </hgroup>
    <carousel1 v-bind:content="result.carousel1"></carousel1>
</article>

<article id="section2" class="section2">
    <div class="container">
        <h1>精選文章</h1>
        <carousel2 v-bind:content="result.carousel2"></carousel2>
        <toolbar></toolbar>
    </div>
</article>

<article id="section3" class="section3">
    <header>
        <div class="container">
            <div class="img">
                <img src="images/mag201909/cover.png" alt="">
            </div>
            <div class="text">
                <h1>通企業之能<br>從深度閱讀《企業通》開始</h1>
                <p>1993年創刊至今，<br>志在掌握趨勢與發掘企業精進管理和轉型突圍成功故事。</p>
                <p>2019年以數據賦能為題，<br>貫穿智能製造、工業互聯網、新零售等最新議題！</p>
            </div>
            <div class="link">
                <a href="/tw/enewspaper.html" class="btn" target="_blank">立即訂閱</a>
            </div>
        </div>
    </header>
    <articles v-bind:content="result.articles"></articles>
</article>

<div class="ad">
    <a href="https://acho.tw/acho/f/C80Sk" target="_blank">
        <picture>
            <source media="(min-width: 641px)" srcset="images/mag201909/ad.jpg">
            <img src="images/mag201909/ad-s.jpg" alt="">
        </picture>
    </a>
</div>

<div class="footer">
    <toolbar></toolbar>
</div>

<robot></robot>