extends ../layout.pug

block includes
    link(rel='stylesheet', href='css/WB002811_common.css')
    link(rel="stylesheet", href="css/WB00281101_production.css")

block content
    include WB00281101_production.html