<div id="WB002811" class="WB002811_quality">
    <div id="indBanner" class="section vAlignMiddle">
        <div class="content vAlignContent">
            <h1>維持品質從預防異常開始</h1>
            <p class="pageDesc">品質是交通業管理最重視的一環，企業通常採用的品質改善手法不外乎 8D,QC7,6 sigma…，但如何追蹤品質改善對策執行進度與成效？如何管理改善對策相關文件？如能透過事前預防準備有效監控產品品質，便能確保品質及產品認證，並降低品質異常所造成的失敗成本。</p>
        </div>
    </div>
    
    <div id="jobProblem" class="section">
        <div class="content">
            <div class="group">
                <div class="outline active">
                    <span class="changeBtn">認證審查</span>
                </div>
                <div class="outline">
                    <span class="changeBtn">品質檢驗</span>
                </div>
                <div class="outline">
                    <span class="changeBtn">履歷溯源</span>
                </div>
            </div>
            <div class="jobGroup">
                <div class="jobProblem active clearfix">
                    <h2>認證審查超繁瑣，快速申請通過的密訣是什麼？</h2>
                    <div class="txt txt01">
                        <div class="outline">
                            <div class="nameLayer">
                                <img src="images/icon_people02.svg" alt="品管的困擾">
                                <p>品管</p>
                            </div>
                            <div class="txtLayer clearfix">
                                <p>這次新品要在歐美市場銷售，要儘快認證審查申請通過！</p>
                                <p>各國認證送審格式都不一樣，同一個產品審查資料都要重覆再整理…真是耗費人力！</p>
                            </div>
                            <div class="mask"></div>
                            <div class="handTop">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="txt txt02">
                        <div class="outline">
                            <div class="nameLayer">
                                <img src="images/icon_people01.svg" alt="老闆的困擾">
                                <p>老闆</p>
                            </div>
                            <div class="txtLayer clearfix">
                                <p>無法快速通過認證申請，延遲產品上市時程，造成商機流失，營收大受影響！</p>
                            </div>
                            <div class="mask"></div>
                            <div class="handTop">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jobProblem clearfix">
                    <h2>品檢記錄那麼多，資料怎麼管理？</h2>
                    <div class="txt txt01">
                        <div class="outline">
                            <div class="nameLayer">
                                <img src="images/icon_people02.svg" alt="品管的困擾">
                                <p>品管</p>
                            </div>
                            <div class="txtLayer clearfix">
                                <p>為了符合TS16949的品質規範，每一料件都有一堆品質檢驗紀錄報告要做！</p>
                                <p>品檢工作一堆做不完，還有很多檢驗記錄没整理， 管制圖表出不來...</p>
                            </div>
                            <div class="mask"></div>
                            <div class="handTop">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="txt txt02">
                        <div class="outline">
                            <div class="nameLayer">
                                <img src="images/icon_people01.svg" alt="老闆的困擾">
                                <p>老闆</p>
                            </div>
                            <div class="txtLayer clearfix">
                                <p>没有完善的品質管理機制，無法有效的控管產品品質 ，影響產品口碑客戶流失！</p>
                            </div>
                            <div class="mask"></div>
                            <div class="handTop">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jobProblem jobProblem03 clearfix">
                    <h2>產品不良引起客訴，如何追溯不良原因？</h2>
                    <div class="txt txt01">
                        <div class="outline">
                            <div class="nameLayer">
                                <img src="images/icon_people03.svg" alt="生管的困擾">
                                <p>生管</p>
                            </div>
                            <div class="txtLayer clearfix">
                                <p>客戶反應品質不良要退貨！這下要找出問題得要從大量留存的生產紀錄找起，又要花人力、花時間整理相關文件...</p>
                            </div>
                            <div class="mask"></div>
                            <div class="handTop">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="txt txt02">
                        <div class="outline">
                            <div class="nameLayer">
                                <img src="images/icon_people02.svg" alt="品管的困擾">
                                <p>品管</p>
                            </div>
                            <div class="txtLayer clearfix">
                                <p>產品的生產履歷記錄資料那麼多，無法在客戶要求的期限內提出改善報告！影響客戶滿意度！</p>
                            </div>
                            <div class="mask"></div>
                            <div class="handTop">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="mainContent" class="section">
        <div class="content">
            <h2>品質對策管理，其實您可以這樣作！</h2>
            <p class="sectionDesc">透過事前預防準備有效監控產品品質，便可確保品質及產品認證，並降低品質異常所造成的失敗成本。</p>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            <div class="issueGroup">
                <div class="issue clearfix">
                    <h3>提升
                        <strong>認證文件彙整</strong>能力</h3>
                    <div class="txtGroup">
                        <h4>專治：</h4>
                        <ul>
                            <li>文件皆使用人工紙本及excel方式記錄，繁瑣整理不易，無法快速彙整認證文件。</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <h4>方案介紹</h4>
                        <div>
                            <a href="images/quality/img_fig01.jpg" rel="shadowbox[figGroup]" title="產品專案資訊透明化">
                                <img src="images/quality/img_fig01_s.jpg" alt="產品專案資訊透明化">
                                <p>▲ 產品專案資訊透明化</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/quality/img_fig02.jpg" rel="shadowbox[figGroup]" title="ABCD表里程碑檢查">
                                <img src="images/quality/img_fig02_s.jpg" alt="ABCD表里程碑檢查">
                                <p>▲ ABCD表里程碑檢查</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="issue clearfix">
                    <h3>提升
                        <strong>品質控管</strong>能力</h3>
                    <div class="txtGroup">
                        <h4>專治：</h4>
                        <ul>
                            <li>每天要檢驗的品項那麼多，很怕會拿錯品號...</li>
                            <li>那麼多的檢測記錄很耗費時間整理，有時管制圖還會是錯的...</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <h4>方案介紹</h4>
                        <div>
                            <a href="images/quality/img_fig03.jpg" rel="shadowbox[figGroup]" title="好工具讓您發現問題的方向">
                                <img src="images/quality/img_fig03_s.jpg" alt="好工具讓您發現問題的方向">
                                <p>▲ 好工具讓您發現問題的方向</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/quality/img_fig04.jpg" rel="shadowbox[figGroup]" title="別再人工製作報表">
                                <img src="images/quality/img_fig04_s.jpg" alt="別再人工製作報表">
                                <p>▲ 別再人工製作報表</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="issue clearfix">
                    <h3>提升
                        <strong>快速回應</strong>能力</h3>
                    <div class="txtGroup">
                        <h4>專治：</h4>
                        <ul>
                            <li>影響到產品品質的因素這麼多，每項都靠人工紀錄。</li>
                            <li>生產記錄及品質相關資訊都是人工記錄，所以無法快速追溯生產履歷資料。</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <h4>方案介紹</h4>
                        <div>
                            <a href="images/quality/img_fig05.jpg" rel="shadowbox[figGroup]" title="逆向回溯，找出問題！">
                                <img src="images/quality/img_fig05_s.jpg" alt="逆向回溯，找出問題！">
                                <p>▲ 逆向回溯，找出問題！</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/quality/img_fig06.jpg" rel="shadowbox[figGroup]" title="順向回溯，追查影響範圍！">
                                <img src="images/quality/img_fig06_s.jpg" alt="順向回溯，追查影響範圍！">
                                <p>▲ 順向回溯，追查影響範圍！</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="issue end clearfix">
                    <h3>提升
                        <strong>模具管理</strong>能力</h3>
                    <div class="txtGroup">
                        <h4>專治：</h4>
                        <ul>
                            <li>上機才發現模具有問題，要生產了才發現機台有問題！</li>
                            <li>模具使用狀況不清楚，要用時才發現有狀況。</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <h4>方案介紹</h4>
                        <div>
                            <a href="images/quality/img_fig07.jpg" rel="shadowbox[figGroup]" title="模具使用紀錄查詢">
                                <img src="images/quality/img_fig07_s.jpg" alt="模具使用紀錄查詢">
                                <p>▲ 模具使用紀錄查詢</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/quality/img_fig08.jpg" rel="shadowbox[figGroup]" title="修模發包模式">
                                <img src="images/quality/img_fig08_s.jpg" alt="修模發包模式">
                                <p>▲ 修模發包模式</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>