extends ../layout.pug

block includes
    link(rel='stylesheet', href='css/WB002811_common.css')
    link(rel='stylesheet', href='css/WB00281101_research.css')
    script.
        $(document).ready(function () {
            $("#mainContent .group .list").click(function () {
                var $this = $(this).index();
                var _scrollTop = $(".issueGroup .issue")
                    .eq($this)
                    .offset().top;
                $("html, body").animate({ scrollTop: _scrollTop + "px" });
            });
        });

block content
    include WB00281101_research.html