<div id="WB002811" class="WB002811_case">
    <div id="indBanner" class="section vAlignMiddle">
        <div class="content vAlignContent">
            <h1>行業深耕，獨到專精</h1>
            <p class="pageDesc">鼎新電腦累積30多年產業輔導驗，50,000多家企業成功案例，提供完整行業解決方案；因應產業趨勢、法令制度的變化，提供最佳服務與支援！</p>
        </div>
    </div>

    <div id="mainCase" class="section">
        <div class="content">
            <div class="part01 part clearfix">
                <div class="txtLayer">
                    <h2>一個值得與您分享的案例</h2>
                    <h3>記銘工業</h3>
                    <p>彰化後視鏡大廠記銘工業，在不增加庫存前提下，縮短訂單交期從26天到15天，同年營收成長8.7%，傲人的成績之下，他們仍持續在改善。同業都在問，記銘改變了什麼？取得訂單的關鍵又是什麼？</p>
                </div>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th>程序/時機</th>
                        <th>過去</th>
                        <th>現在</th>
                    </tr>
                    <tr>
                        <td>接單</td>
                        <td>交期為固定N天，不考量現場的產能負荷，當然不易如期。</td>
                        <td>產能資訊透通、負荷能見度提高，並透過小產銷會議
                            <strong>回覆合理交期。</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>排程</td>
                        <td>不考量產能負荷，展出的生產計劃可行性低且現場資訊不透明，排的與做的是二回事。</td>
                        <td>考量產能負荷
                            <strong>快速產出產能排程表</strong>，提高生產計劃可行性且
                            <strong>現場資訊即時回饋供排程參考</strong>。</td>
                    </tr>
                    <tr>
                        <td>備料</td>
                        <td>料件未依特性進行進分類，依據經驗備料，需要的料沒到貨沒辦法做，且單據時效總有落差。</td>
                        <td>依特性與交期重新定義
                            <strong>類別及庫存參數，採購與備料並預警，一切在掌握中</strong>，且物料進出即時PDA收發料。</td>
                    </tr>
                    <tr>
                        <td>現場</td>
                        <td>哪張工單齊套料，哪張先做月產能5000萬，混亂中追趕。</td>
                        <td>
                            <strong>依排產派工進行</strong>，月產能拉高至7500萬時，仍
                            <strong>井然有序</strong>。</td>
                    </tr>
                    <tr>
                        <td>出貨</td>
                        <td>出貨人工比對，出錯率相對高。</td>
                        <td>透過PDA裝櫃比對產品
                            <strong>出貨正確性高</strong>，減少客訴發生機率。</td>
                    </tr>
                </table>
            </div>
            <div class="part02 part clearfix">
                <div class="txtLayer">
                    <h3>找出問題，才能解決問題！</h3>
                    <p class="desc">黃董事長分享：「情報不先穩定下來就無法回饋，所以要先把情報買進來。鼎新是情報系統專家，這次輔導前鼎新先進行營運現況診斷，找出記銘有接單不平準、採購料及生產件無法搭配、料帳不一致造成庫存異常等問題。」這些問題導致記銘無法滿足客戶交期流失訂單，內部也因出貨錯誤、彌補交期延誤、品質不良等問題衍生衝突。</p>
                </div>
                <img src="images/case/img_mainCase.jpg" alt="後視鏡大廠記銘工業">
            </div>
            <h3 id="videoYT">消失的11天！【記銘工業】如何達到縮短交期與產能提升？</h3>
            <div class="videoYT">
                <iframe src="https://www.youtube.com/embed/rwq7fpvVdzY?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="part03 part clearfix">
                <div class="txtLayer">
                    <div class="outline">
                        <h3>接單的關鍵還有哪些？</h3>
                        <ul>
                            <li>如何消除豐田式生產系統(TPS)7種浪費？</li>
                            <li>模具一次就合格，有可能嗎？</li>
                            <li>自働化系統如何幫您制定策略？</li>
                        </ul>
                        <a href="/solution/WB002811/WB00281101_case.html#contact" class="pageLink-bgColor">
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 以上皆是，請給我更多的資料！</a>
                    </div>
                </div>
                <img src="images/case/bg_orderKey.jpg" alt="接單的關鍵" style="max-width: none;">
            </div>
        </div>
    </div>

    <div id="case" class="section">
        <div class="content">
            <h2>
                更多交通業輔導案例
            </h2>
            <div class="caseGroup clearfix">
                <div class="list">
                    <img src="images/case/img_caseList01.jpg" alt="記銘工業" />
                    <div class="outline clearfix">
                        <span class="type">後視鏡製造</span>
                        <h3 class="name">
                            <a href="http://www.digiwin.com/caseListDetail_7211.html" target="_blank">記銘工業</a>
                        </h3>
                        <p class="desc">
                            客人明天要出貨，我們可以馬上回答他可不可以，並準確跟客戶講哪天可以交貨，這是公司近幾年營收能成長10%~15%的主因....
                        </p>
                        <a href="http://www.digiwin.com/caseListDetail_7211.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList02.jpg" alt="漢育工業" />
                    <div class="outline clearfix">
                        <span class="type">汽車零件電動窗</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/1523.html" target="_blank">漢育工業</a>
                        </h3>
                        <p class="desc">
                            廖總經理提到：「只要有系統可以協助人員管理，就要適時的導入，傻瓜的事交給電腦，人員才有時間精進及管理改善。」
                        </p>
                        <a href="https://www.digiwin.com/tw/case/1523.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList03.jpg" alt="詠勝昌" />
                    <div class="outline clearfix">
                        <span class="type">汽車零組件</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/1525.html" target="_blank">詠勝昌</a>
                        </h3>
                        <p class="desc">
                            各單位主管能直接登入BI系統取得分析資訊；國外則由副總親自對總裁報告分析內容及系統操作方法，讓總裁能利用BI系統快速了解台灣經營狀況。
                        </p>
                        <a href="https://www.digiwin.com/tw/case/1525.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList04.jpg" alt="亞生特電業" />
                    <div class="outline clearfix">
                        <span class="type">汽機車組立配線</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/567.html" target="_blank">亞生特電業</a>
                        </h3>
                        <p class="desc">
                            一個專案向前規範與了解，多半起源於『需求』，不論是管理高層的需求、產品的進步，或是任務完成的需求，透過專案運作勢必能得到一波成長。
                        </p>
                        <a href="https://www.digiwin.com/tw/case/567.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList05.jpg" alt="峰安車業" />
                    <div class="outline clearfix">
                        <span class="type">汽車渦輪增壓器</span>
                        <h3 class="name">
                            <a href="http://www.digiwin.com/caseListDetail_7135.html" target="_blank">峰安車業</a>
                        </h3>
                        <p class="desc">
                            財務邱小姐說：「鼎新從轉換時程擬訂，人員訓練到階段產出報告書，協助我們順暢接軌，不需重新開帳，快速完成ROC與EAS新舊會計項目對應。」
                        </p>
                        <a href="http://www.digiwin.com/caseListDetail_7135.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList06.jpg" alt="台歐企業" />
                    <div class="outline clearfix">
                        <span class="type">汽機車零配件</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/927.html" target="_blank">台歐企業</a>
                        </h3>
                        <p class="desc">
                            因新事業部有連續性委外生產，考量生產製造的過程中，在製品庫存狀況、製造成本波動、委外廠商與台歐人員作業流程串接...
                        </p>
                        <a href="https://www.digiwin.com/tw/case/927.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList07.jpg" alt="印田實業" />
                    <div class="outline clearfix">
                        <span class="type">汽車零件</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/1527.html" target="_blank">印田實業</a>
                        </h3>
                        <p class="desc">
                            因舊系統不方便，導致HR在處理薪資時總有算不完的帳。導入了系統後，每日作業除了輸入請假、加班資料、浮動薪資外，後續的作業幾乎自動化。
                        </p>
                        <a href="https://www.digiwin.com/tw/case/1527.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList08.jpg" alt="智譽企業" />
                    <div class="outline clearfix">
                        <span class="type">汽車鈑金</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/1528.html" target="_blank">智譽企業</a>
                        </h3>
                        <p class="desc">
                            全面性採用IP-Guard管理員工電腦使用狀況，防止內部資訊外流，達到事前預防、事中提示、禁止、事後追蹤與事件分析等四大危機處理...
                        </p>
                        <a href="https://www.digiwin.com/tw/case/1528.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList09.jpg" alt="越南第一精密" />
                    <div class="outline clearfix">
                        <span class="type">汽機車零件</span>
                        <h3 class="name">
                            <a href="http://www.digiwin.com/caseListDetail_6808.html" target="_blank">越南第一精密</a>
                        </h3>
                        <p class="desc">
                            過去生產部門主管每天要到現場去監督進度，人工管理與調整。在控管上，也因資訊的不即時，導致每當需要查詢即時生產狀況時，要花很多的時間...
                        </p>
                        <a href="http://www.digiwin.com/caseListDetail_6808.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList10.jpg" alt="百盈實業" />
                    <div class="outline clearfix">
                        <span class="type">車燈</span>
                        <h3 class="name">
                            <a href="http://www.digiwin.com/caseListDetail_6428.html" target="_blank">百盈實業</a>
                        </h3>
                        <p class="desc">
                            特助葉小姐表示，擁有的好的資訊系統仍須加強同仁們積極的心思，化被動為主動使得這套資訊系統能運用的更淋瀝盡致...
                        </p>
                        <a href="http://www.digiwin.com/caseListDetail_6428.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList11.jpg" alt="穩勝交通器材" />
                    <div class="outline clearfix">
                        <span class="type">後視鏡製造</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/1530.html" target="_blank">穩勝交通器材</a>
                        </h3>
                        <p class="desc">
                            穩勝於2005年在越南同奈成立，主要供應給越南HONDA、PIAGGIO等OEM以及外銷東南亞市場。主要業務為汽機車後視鏡研發、製造3D模具設計
                        </p>
                        <a href="https://www.digiwin.com/tw/case/1530.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>