<div id="WB002811" class="WB002811_index">
    <div id="indBanner" class="section">
        <div class="indBanner-inner">
            <a href="WB00281101_research.html">
                <h1>搶攻AM市場，交期怎麼縮短？</h1>
                <p class="pageDesc">客戶以前下單給你二十天出貨，現在只給你十天，消失了十天如何交貨？</p>
            </a>
        </div>
    </div>
    
    <div id="foreword" class="section">
        <div class="content">
            <h2>各家大廠都想爭奪AM市場這塊大餅，您準備好了嗎？</h2>
            <p class="sectionDesc-center">有家彰化的老客戶，後視鏡產品銷售偏及歐洲、中南美洲、美國及大陸等約44個國家，
                <br>市場開拓能力強勁，研發部門每年開發超過50個新車種，並且持續倍數成長中客戶告訴我們AM市場就是...
                <br>
                <strong class="highLight">品質+價格+交期=取得訂單關鍵</strong>
            </p>
    
            <!-- slider -->
            <div class="swiper-container">
                <div class="newsGroup swiper-wrapper">
                    <div class="list swiper-slide">
                        <div class="outline">
                            <h4>
                                <a href="https://money.udn.com/money/story/5612/3775129" target="_blank">勝霸汽車零配件 搶攻全球AM市場</a>
                            </h4>
                            <p>勝霸實業董事長謝成輝表示，公司主要供應日系車及韓系車的零部件，憑藉著強大的資料庫，商品雖不是最便宜，但可供應的零配件範圍絕對最廣，今年主要展出為全球AM市場的全方位解決方案。</p>
                            <p class="date">2019-04-24 經濟日報</p>
                        </div>
                    </div>
                    <div class="list swiper-slide">
                        <div class="outline">
                            <h4>
                                <a href="https://www.cna.com.tw/news/afe/201908280218.aspx" target="_blank">耿鼎看好北美AM鈑金件成長 深耕新興市場</a>
                            </h4>
                            <p>汽車鈑金件廠耿鼎持續看好北美AM鈑金件成長力道，強化北美和歐洲客戶合作，持續布局新興國家售後維修市場（AM）市場。</p>
                            <p class="date">2019-08-28 中央通訊社</p>
                        </div>
                    </div>
                    <div class="list swiper-slide">
                        <div class="outline">
                            <h4>
                                <a href="https://money.udn.com/money/story/5612/4214912" target="_blank">旺季 東陽AM年增27%締新猷</a>
                            </h4>
                            <p>汽車塑膠件東陽已經感受到AM（售後維修市場）旺季的到來，AM銷售11月營收達15.77億元，創下歷史新高，年增率達27%。</p>
                            <p class="date">2019-12-09 經濟日報</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
    
        </div>
    </div>
    
    <div class="getOrder clearfix">
        <h3 class="getOrder-title">搶單就像打戰，這些狀況只會愈來愈多！</h3>
        <ul class="getOrder-list">
            <li>客戶要求更高品質、更短交期</li>
            <li>更多、更複雜的客製化</li>
            <li>更嚴苛的成本競爭</li>
            <li>更高的存貨呆滯風險</li>
            <li>研發能力跟不上市場的需求......</li>
        </ul>
        <a href="WB00281101_research.html" class="pageLink-bgColor">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
    </div>
    
    <div id="quality" class="section">
        <div class="content">
            <h2>從接單就開始進行品質管理</h2>
            <p class="sectionDesc-center">某公司副總接獲客訴，得知產品出貨後造成客戶重大損失，客戶要求三天內必須提出改善報告，
                <br>大家都知道要先釐清問題出在哪裡？但要怎麼找出問題才是大難題？</p>
            <div class="jobProblem clearfix">
                <div class="txt txt01">
                    <div class="outline">
                        <div class="nameLayer">
                            <img src="images/icon_people02.svg" alt="業務的困擾">
                            <p>業務</p>
                        </div>
                        <div class="jobProblem-txtLayer-mb">
                            <p>8D report 、FMEA...這些文件都是紙本管理，無法快速查找品質相關所有文件...</p>
                            <p>客戶對公司不信任，以後可能不會再下單了...</p>
                        </div>
                        <div class="txtLayer clearfix">
                            <p>8D report 、FMEA...這些文件都是紙本管理，無法快速查找品質相關所有文件...</p>
                            <p>客戶對公司不信任，以後可能不會再下單了...</p>
                        </div>
                        <div class="mask"></div>
                        <div class="handTop">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="txt txt02">
                    <div class="outline">
                        <div class="nameLayer">
                            <img src="images/icon_people03.svg" alt="品保的困擾">
                            <p>品保</p>
                        </div>
                        <div class="jobProblem-txtLayer-mb">
                            <p>生產及品質相關資料都是紙本記錄，無法快速追溯生產履歷資料。</p>
                            <p>品質檢測都用人工記錄，繁瑣又容易錯誤，而且需要耗費時間做管制圖表及檢驗報告。</p>
                            <p>品檢規範皆紙本文件，與品號無連結，QC無法快速調閱品檢規範。</p>
                        </div>
                        <div class="txtLayer clearfix">
                            <p>生產及品質相關資料都是紙本記錄，無法快速追溯生產履歷資料。</p>
                            <p>品質檢測都用人工記錄，繁瑣又容易錯誤，而且需要耗費時間做管制圖表及檢驗報告。</p>
                            <p>品檢規範皆紙本文件，與品號無連結，QC無法快速調閱品檢規範。</p>
                        </div>
                        <div class="mask"></div>
                        <div class="handTop">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <a class="pageBtn-normal" href="WB00281101_quality.html">
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 維持品質從預防異常開始，您可以這樣作！</a>
        </div>
    </div>
    
    <!-- 研討會資訊 -->
    <div class="seminarInfo section">
        <h2>研討會資訊</h2>
        <div class="seminarInfo-content content">
            <img class="seminarInfo-illu" src="images/index/seminarInfo-illust4.png" alt="">
            <div class="seminarInfo-text">
                <h3>數位化轉型遇見行業寒冬-交通零組件企業如何順勢有為</h3>
                <p>從2019年CES大展可看出全球汽車產業正面臨根本性的重大轉變。從商業角度而言，發展因應環保與科技趨勢的電動與自駕科技需投入大量的資本，為了這些高額投資，也驅動交通產業轉型，並重新思考可能的新商業模式，才能在百年內最大的轉型浪潮中維持競爭力。</p>
                <a class="seminarInfo-btn pageLink-bgColor" href="/tw/dsc/activity/MFT/WB002963/WB00296301.html" target="_blank">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    了解更多課程內容
                </a>
            </div>
        </div>
        <div class="seminarInfo-content content">
            <img class="seminarInfo-illu" src="images/index/seminarInfo-illust.jpg" alt="">
            <div class="seminarInfo-text">
                <h3>以品質優勢創造未來利基 IATF 16949轉版挑戰與因應之道</h3>
                <p>
                    如何通過驗證？取得證書後，該如何落實品質管理系統？
                    <br> 本次研討會特邀曾帶領企業榮獲國家品質獎，且富有數十間國際汽車電子大廠稽核主導經驗的BSI英國標準協會講師，剖析這一年來，企業進行新版 IATF 16949驗證常見問題，以及通過驗證之後，企業各部門環節的因應重點，探討如何透過資訊化的輔助落實研發及製造程序，讓搶攻車用市場的企業能順利通過品質驗證更能透過品質管理優化推動營運成長，掌握未來車業破億商機！
                </p>
                <a class="seminarInfo-btn pageLink-bgColor" href="https://www.digiwin.com/tw/dsc/activity/WB002870/WB00287001.htm" target="_blank">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    了解更多課程內容
                </a>
            </div>
        </div>
        <div class="seminarInfo-content content">
            <img class="seminarInfo-illu" src="images/index/seminarInfo-illust2.jpg" alt="">
            <div class="seminarInfo-text">
                <h3>《典範企業體驗之旅》公開後視鏡大廠記銘工業致勝關鍵</h3>
                <p>全球化市場，訂單走向少量多樣，有時候甚至一個都得接！？ 企業應如何接招？產線怎麼安排才能順暢？您是否也曾遇過以下困擾？</p>
                <ul>
                    <li>●接單時間集中：產線安排不過來，訂單準交率低，客戶抱怨聲四起</li>
                    <li>●依經驗人工作業：常導致延遲或錯誤，花更多時間及成本彌補錯誤</li>
                    <li>●現場數據不即時：上下工程無法掌握彼此生產狀況，內部衝突不斷</li>
                    <li>●帳料不符：總是搞不清楚還剩多少料，老是因為缺料而延遲或停工</li>
                </ul>
                <a class="seminarInfo-btn pageLink-bgColor" href="https://www.digiwin.com/tw/dsc/activity/WB002799/WB00279901.htm" target="_blank">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    了解更多課程內容
                </a>
            </div>
        </div>
        <div class="seminarInfo-content content">
            <img class="seminarInfo-illu" src="images/index/seminarInfo-illust3.jpg" alt="">
            <div class="seminarInfo-text">
                <h3>迎戰互聯網+ 衝擊，引爆交通產業革命</h3>
                <p>全球車輛產業面臨重大變革，智慧科技將引領未來產業先機，2018年國際消費性電子展(CES)即以「AI x 自駕車」為主題，市場逐步走向無人化及電動化，自駕車與新能源將成為未來產業發展重點，本研討會邀請工研院IEK石育賢經理及台灣區車輛工業同業公會吳智魁處長，由全球車輛產業趨勢出發，進一步探討台灣產業現況與未來；希望協助台灣車輛及零組件產業夥伴鑒往知來，以台灣車輛與資通訊產業豐富產製經驗為助力，描繪完整智慧製造應用藍圖，搶先佈局車輛產業未來十年商機。</p>
                <a class="seminarInfo-btn pageLink-bgColor" href="https://www.digiwin.com/tw/dsc/activity/WB002870/WB00287001.htm" target="_blank">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    了解更多課程內容
                </a>
            </div>
        </div>
    </div>
    
    <div id="case" class="section">
        <div class="content">
            <h2>輔導案例</h2>
            <div class="caseGroup clearfix">
                <div class="list">
                    <img src="images/case/img_caseList01.jpg" alt="記銘工業">
                    <div class="outline clearfix">
                        <span class="type">後視鏡製造</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/626.html" target="_blank">記銘工業</a>
                        </h3>
                        <p class="desc">客人明天要出貨，我們可以馬上回答他可不可以，並準確跟客戶講哪天可以交貨，這是公司近幾年營收能成長10%~15%的主因....</p>
                        <a href="https://www.digiwin.com/tw/case/626.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList02.jpg" alt="漢育工業">
                    <div class="outline clearfix">
                        <span class="type">汽車零件電動窗</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/1502.html" target="_blank">漢育工業</a>
                        </h3>
                        <p class="desc">廖總經理提到：「只要有系統可以協助人員管理，就要適時的導入，傻瓜的事交給電腦，人員才有時間精進及管理改善。」</p>
                        <a href="https://www.digiwin.com/tw/case/1502.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList03.jpg" alt="詠勝昌">
                    <div class="outline clearfix">
                        <span class="type">汽車零組件</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/1525.html" target="_blank">詠勝昌</a>
                        </h3>
                        <p class="desc">各單位主管能直接登入BI系統取得分析資訊；國外則由副總親自對總裁報告分析內容及系統操作方法，讓總裁能利用BI系統快速了解台灣經營狀況。</p>
                        <a href="https://www.digiwin.com/tw/case/1525.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
                <div class="list">
                    <img src="images/case/img_caseList04.jpg" alt="亞生特電業">
                    <div class="outline clearfix">
                        <span class="type">汽機車組立配線</span>
                        <h3 class="name">
                            <a href="https://www.digiwin.com/tw/case/567.html" target="_blank">亞生特電業</a>
                        </h3>
                        <p class="desc">一個專案向前規範與了解，多半起源於『需求』，不論是管理高層的需求、產品的進步，或是任務完成的需求，透過專案運作勢必能得到一波成長。</p>
                        <a href="https://www.digiwin.com/tw/case/567.html" class="pageLink-bgColor" target="_blank">瀏覽閱讀</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="solution" class="section">
        <div class="content">
            <h2>汽車零件產業完整解決方案</h2>
            <p class="sectionDesc-center">以速度創造競爭優勢，取得市場先機；用彈性打造智能現場，獲取更多訂單！
                <br>從預防異常維持品質，訂單接二連三；由降低浪費掌控成本，提升訂單利潤！</p>
            <img src="images/index/img_solution.svg" alt="以快為師，翻轉企業運營效益">
        </div>
    </div>
</div>