<div id="WB002811" class="WB002811_cost">
    <div id="indBanner" class="section vAlignMiddle">
        <div class="content vAlignContent">
            <h1>掌控成本從降低浪費做起</h1>
            <p class="pageDesc">備料與庫存成本關乎交通業能否降低成本的重要關鍵項目，備多是庫存，備少會停工，共用物料如何備料才不會發生缺料狀況？另外生產進度延遲，影響訂單出貨，還有外包廠的損耗數量、良品數無法有效記錄，都是造成成本增加的原因...產業提升獲利就從細節競爭力開始
                !
            </p>
        </div>
    </div>

    <div id="jobProblem" class="section">
        <div class="content">
            <div class="group">
                <div class="outline active">
                    <span class="changeBtn">存貨管理</span>
                </div>
                <div class="outline">
                    <span class="changeBtn">成本精算</span>
                </div>
            </div>
            <div class="jobGroup">
                <div class="jobProblem jobProblem01 active clearfix">
                    <div class="txt txt01">
                        <div class="outline">
                            <div class="nameLayer">
                                <img src="images/icon_people03.svg" alt="生管的困擾">
                                <p>生管</p>
                            </div>
                            <div class="txtLayer clearfix">
                                <p>買多買少都是問題，庫存備了一堆用不到的料，但要用的料卻沒有備到。</p>
                            </div>
                            <div class="mask"></div>
                            <div class="handTop">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="txt txt02">
                        <div class="outline">
                            <div class="nameLayer">
                                <img src="images/icon_people02.svg" alt="現場的困擾">
                                <p>現場</p>
                            </div>
                            <div class="txtLayer clearfix">
                                <p>每次要領料時都領不到料，現場停工待料，生產效率不高 。</p>
                            </div>
                            <div class="mask"></div>
                            <div class="handTop">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jobProblem clearfix">
                    <div class="txt txt01">
                        <div class="outline">
                            <div class="nameLayer">
                                <img src="images/icon_people02.svg" alt="現場的困擾">
                                <p>現場</p>
                            </div>
                            <div class="txtLayer clearfix">
                                <p>生產線總是到了下班時才憑記憶回想今天做了哪些事...</p>
                                <p>現場沒有即時報工工具，無法即時取得報工資訊。</p>
                            </div>
                            <div class="mask"></div>
                            <div class="handTop">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="txt txt02">
                        <div class="outline">
                            <div class="nameLayer">
                                <img src="images/icon_people04.svg" alt="成會的困擾">
                                <p>成會</p>
                            </div>
                            <div class="txtLayer clearfix">
                                <p>批次成本差異飄來飄去，到底哪一批才合理？看不出來具體差異到底在哪裡…</p>
                            </div>
                            <div class="mask"></div>
                            <div class="handTop">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="mainContent" class="section">
        <div class="content">
            <h2>精算成本，其實您可以這樣作！</h2>
            <p class="sectionDesc">加速成本精算，提高報價競爭力，並且掌握產業需求趨勢，降低存貨資金積壓，強化異常監控，避免資源浪費。</p>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            <div class="issueGroup">
                <div class="issue clearfix">
                    <h3>提升
                        <strong>成本精算</strong>能力</h3>
                    <div class="txtGroup">
                        <h4>專治：</h4>
                        <ul>
                            <li>現場沒有能自動收集(或即時回饋)工時的工具，所以工時無法在第一時間被正確的收集。</li>
                            <li>無法詳細記錄每個外包廠的損耗數量、良品數。</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <h4>方案介紹</h4>
                        <div>
                            <a href="images/cost/img_fig01.jpg" rel="shadowbox[figGroup]" title="產品成本核算">
                                <img src="images/cost/img_fig01_s.jpg" alt="產品成本核算">
                                <p>▲ 產品成本核算</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/cost/img_fig02.jpg" rel="shadowbox[figGroup]" title="材料金額來源">
                                <img src="images/cost/img_fig02_s.jpg" alt="材料金額來源">
                                <p>▲ 材料金額來源</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="issue clearfix">
                    <h3>
                        <strong>產品成本分析</strong>能力</h3>
                    <div class="txtGroup">
                        <h4>專治：</h4>
                        <ul>
                            <li>產品成本無法精算，以為出貨量大公司就有賺錢，熟不知成本高利潤低。</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <h4>方案介紹</h4>
                        <div>
                            <a href="images/cost/img_fig03.jpg" rel="shadowbox[figGroup]" title="料工費(銷貨成本趨勢分析)">
                                <img src="images/cost/img_fig03_s.jpg" alt="料工費(銷貨成本趨勢分析)">
                                <p>▲ 料工費(銷貨成本趨勢分析)</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/cost/img_fig04.jpg" rel="shadowbox[figGroup]" title="銷售毛利分析">
                                <img src="images/cost/img_fig04_s.jpg" alt="銷售毛利分析">
                                <p>▲ 銷售毛利分析</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="issue clearfix">
                    <h3>
                        <strong>備料控管</strong>能力</h3>
                    <div class="txtGroup">
                        <h4>專治：</h4>
                        <ul>
                            <li>無法提供歷史銷售記錄，建議客戶作下單平準依據，造成無法依預測備料。</li>
                            <li>如何管控現場的耗用與生產不足備料提醒</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <h4>方案介紹</h4>
                        <div>
                            <a href="images/cost/img_fig05.jpg" rel="shadowbox[figGroup]" title="備料計劃-建立銷售預測資料">
                                <img src="images/cost/img_fig05_s.jpg" alt="備料計劃-建立銷售預測資料">
                                <p>▲ 備料計劃-建立銷售預測資料</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/cost/img_fig06.jpg" rel="shadowbox[figGroup]" title="備料計劃-檢視庫存呆滯料">
                                <img src="images/cost/img_fig06_s.jpg" alt="備料計劃-檢視庫存呆滯料">
                                <p>▲ 備料計劃-檢視庫存呆滯料</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="issue end clearfix">
                    <h3>
                        <strong>監控提醒</strong>能力</h3>
                    <div class="txtGroup">
                        <h4>專治：</h4>
                        <ul>
                            <li>現場耗用管控</li>
                            <li>生產不足備料提醒</li>
                            <li>成長中企業制度變多變繁雜，需要流程標準化。</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <h4>方案介紹</h4>
                        <div>
                            <a href="images/cost/img_fig07.jpg" rel="shadowbox[figGroup]" title="採購及付款循環">
                                <img src="images/cost/img_fig07_s.jpg" alt="採購及付款循環">
                                <p>▲ 採購及付款循環</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/cost/img_fig08.jpg" rel="shadowbox[figGroup]" title="生產循環">
                                <img src="images/cost/img_fig08_s.jpg" alt="生產循環">
                                <p>▲ 生產循環</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>