<div id="WB002811" class="WB002811_research">
    <div id="indBanner" class="section vAlignMiddle">
        <div class="content vAlignContent">
            <h1>研發單位如何支援業務的市場預測？</h1>
            <p class="pageDesc">新產品開發計劃一次就排定20個月？是神話還是空話？
                <br>當貿易商給的預示量不準時，您還是要有自己的預測能力比較保險？</p>
        </div>
    </div>

    <div id="foreword" class="section">
        <div class="content">
            <h2>如何作精準的市場預測永遠是個難題？</h2>
            <p class="sectionDesc-center">經營者永遠都在問：「新車市場那麼多，哪台車的銷售量會比較好，那個零件值得投入開發嗎？」
                <br>您的困擾我們都了解！</p>
            <div class="jobProblem clearfix">
                <div class="txt txt01">
                    <div class="outline">
                        <div class="nameLayer">
                            <img src="images/icon_people01.svg" alt="老闆的困擾">
                            <p>老闆</p>
                        </div>
                        <div class="txtLayer clearfix">
                            <p>預示錯誤，錯失市場、賺了庫存、賠了獲利！如果系統能提供資料佐證預測正確，產品能即時上市，開發成本不浪費，那就太好了！</p>
                        </div>
                        <div class="mask"></div>
                        <div class="handTop">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="txt txt02">
                    <div class="outline">
                        <div class="nameLayer">
                            <img src="images/icon_people03.svg" alt="業務主管的困擾">
                            <p>業務主管</p>
                        </div>
                        <div class="txtLayer clearfix">
                            <p>如何確保每次提出的開發需求是對的？看著統計出來的資料却沒有信心！</p>
                        </div>
                        <div class="mask"></div>
                        <div class="handTop">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="txt txt03">
                    <div class="outline">
                        <div class="nameLayer">
                            <img src="images/icon_people02.svg" alt="研發PM的困擾">
                            <p>研發PM</p>
                        </div>
                        <div class="txtLayer clearfix">
                            <p>開發進度資訊不通透，無法清楚掌握新品上市進度與狀況，如果有問題都無法提前預警！</p>
                        </div>
                        <div class="mask"></div>
                        <div class="handTop">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mainContent" class="section">
        <div class="content">
            <h2>因應AM市場複雜多變的接單環境，您可以這樣作！</h2>
            <div class="group clearfix">
                <div class="list">
                    <img src="images/research/icon_quickLink01.svg" alt="提升商機預示能力">
                    <p>提升
                        <br>商機預示能力</p>
                </div>
                <div class="list">
                    <img src="images/research/icon_quickLink02.svg" alt="提升估價速度與利潤精算能力">
                    <p>提升估價速度與
                        <br>利潤精算能力</p>
                </div>
                <div class="list">
                    <img src="images/research/icon_quickLink03.svg" alt="提升専案控管能力">
                    <p>提升
                        <br>専案控管能力</p>
                </div>
                <div class="list">
                    <img src="images/research/icon_quickLink04.svg" alt="提升圖文管理能力">
                    <p>提升
                        <br>圖文管理能力</p>
                </div>
                <div class="list">
                    <img src="images/research/icon_quickLink05.svg" alt="提升業務回覆能力">
                    <p>提升
                        <br>業務回覆能力</p>
                </div>
            </div>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
            <div class="issueGroup">
                <div class="issue clearfix">
                    <div class="txtGroup">
                        <h3>作好商機管理，提升
                            <strong>商機預示</strong>能力</h3>
                        <p>銷售團隊可透過能見度分析、可實現分析、銷售分析的數據輔助，達成營業目標。客戶與經銷商資料建入資料管管理，聯繫歷程、人脈管理、產品報價輕鬆完成！</p>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/research/img_fig01.jpg" rel="shadowbox[figGroup]" title="預測行銷分析">
                                <img src="images/research/img_fig01_s.jpg" alt="預測行銷分析">
                                <p>▲ 預測行銷分析</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/research/img_fig02.jpg" rel="shadowbox[figGroup]" title="量身定義銷售模板，掌握銷售進度">
                                <img src="images/research/img_fig02_s.jpg" alt="量身定義銷售模板，掌握銷售進度">
                                <p>▲ 量身定義銷售模板，掌握銷售進度</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="issue clearfix">
                    <div class="txtGroup">
                        <h3>提升
                            <strong>估價速度</strong>與
                            <strong>利潤精算</strong>能力</h3>
                        <p>詢報價資訊統一管理，便能提升報價速度與正確性。同時面對市場變化作製程調整，同步更新報價成本結構，可提升訂單簽約率。把客戶詢報價成交統計及分析管理，還能提升客戶關係滿意度。</p>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/research/img_fig03.jpg" rel="shadowbox[figGroup]" title="詢報價機制">
                                <img src="images/research/img_fig03_s.jpg" alt="詢報價機制">
                                <p>▲ 詢報價機制</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/research/img_fig04.jpg" rel="shadowbox[figGroup]" title="塑品估價成本範例">
                                <img src="images/research/img_fig04_s.jpg" alt="塑品估價成本範例">
                                <p>▲ 塑品估價成本範例</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="issue clearfix">
                    <div class="txtGroup">
                        <h3>提升
                            <strong>専案控管</strong>能力</h3>
                        <p>傳統的專案管理方式，容易有這些缺點：</p>
                        <ul>
                            <li>不易管控產出的文件或資訊</li>
                            <li>每個人被指派的工作也不易追蹤管理</li>
                            <li>主管難掌握有多少專案正在進行？進度如何？</li>
                            <li>專案各階段的工作項目產出控管困難</li>
                            <li>專案人力及績效無法有效管控</li>
                            <li>新人很難或很久才能承接專案</li>
                            <li>各審查階段之輸入/輸出未明確定義</li>
                            <li>現有的做法或系統功能有限，無法真正落實專案管理。</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/research/img_fig05.jpg" rel="shadowbox[figGroup]" title="專案控管">
                                <img src="images/research/img_fig05_s.jpg" alt="專案控管">
                                <p>▲ 專案控管</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/research/img_fig06.jpg" rel="shadowbox[figGroup]" title="自動帶入重要資訊">
                                <img src="images/research/img_fig06_s.jpg" alt="自動帶入重要資訊">
                                <p>▲ 自動帶入重要資訊</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="issue clearfix">
                    <div class="txtGroup">
                        <h3>提升
                            <strong>圖文管理</strong>能力</h3>
                        <p>圖文一旦分散、智財便難以累積！一般企業在管理圖文資料常面臨以下問題：</p>
                        <ul>
                            <li>資料、工程文件、圖檔散落各處，卻不知道那份才是正確。</li>
                            <li>文件申請、審核、發行…作業，版本容易錯亂，造成生產廢料。</li>
                            <li>重要文件圖檔機密性與權限難管理</li>
                            <li>技術資源分享不易</li>
                            <li>表單一堆，欄位內容常無法重覆使用。</li>
                            <li>公司智慧資產難以累積</li>
                        </ul>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/research/img_fig07.jpg" rel="shadowbox[figGroup]" title="產品管理">
                                <img src="images/research/img_fig07_s.jpg" alt="產品管理">
                                <p>▲ 產品管理</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/research/img_fig08.jpg" rel="shadowbox[figGroup]" title="預測行銷分析">
                                <img src="images/research/img_fig08_s.jpg" alt="BOM管理">
                                <p>▲ BOM管理</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="issue end clearfix">
                    <div class="txtGroup">
                        <h3>提升
                            <strong>業務回覆</strong>能力</h3>
                        <p>交期回覆、急插單、產銷協調在在考驗業務的能力！生產資訊不通透，客戶詢問交期時，需等生管逐一詢問現況才可估出交期，而使用Excel人工排程不好嗎？FCST與實際訂單的沖銷，人工搭配EXCEL方式計算耗時且無法精確計算哪些料會變成呆滯料，哪些料還需增加採購，更別說差抽單的影響了，因此提升生產排程規劃速度才是當務之急！</p>
                    </div>
                    <div class="imgGroup clearfix">
                        <div>
                            <a href="images/research/img_fig09.jpg" rel="shadowbox[figGroup]" title="查詢訂單達交狀況">
                                <img src="images/research/img_fig09_s.jpg" alt="查詢訂單達交狀況">
                                <p>▲ 查詢訂單達交狀況</p>
                            </a>
                        </div>
                        <div>
                            <a href="images/research/img_fig10.jpg" rel="shadowbox[figGroup]" title="業務插單模擬分析">
                                <img src="images/research/img_fig10_s.jpg" alt="業務插單模擬分析">
                                <p>▲ 業務插單模擬分析</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>