<div id="WB002811" class="WB002811_factory">
    <div id="indBanner" class="section vAlignMiddle">
        <div class="content vAlignContent">
            <h1>每一個事件的成功，都是有跡可循的
                <br>面對嚴苛的交期競爭！記銘工業如何逐步作到</h1>
            <p class="pageDesc">客戶的一句話，牽動產線千變萬化；應變的速度如果不夠快，接單就會失去競爭；記銘工業是如何成功整合
                <strong>產銷計劃、收料入庫、備料組裝、生產報工及裝櫃出貨</strong>五大關鍵程序，達成交期縮短、準時達交的任務，營收持續創新高？</p>
        </div>
    </div>

    <div id="stage" class="section">
        <div class="content">
            <img src="images/factory/img_factory.png" alt="產銷計劃、收料入庫、備料組裝、生產報工及裝櫃出貨五大關鍵程序">
            <div id="title1" class="outline">
                <p class="title">【物控課】
                    <br>
                    <strong>收貨入庫</strong>
                </p>
            </div>
            <div id="title2" class="outline">
                <p class="title">【車鏡課】
                    <br>
                    <strong>備料組裝</strong>
                </p>
            </div>
            <div id="title3" class="outline">
                <p class="title">【產計課】
                    <br>
                    <strong>產銷計畫</strong>
                </p>
            </div>
            <div id="title4" class="outline">
                <p class="title">【管理者】
                    <br>
                    <strong>智能管理</strong>
                </p>
            </div>
            <div id="title5" class="outline">
                <p class="title">【塑膠課】
                    <br>
                    <strong>生產報工</strong>
                </p>
            </div>
            <div id="title6" class="outline">
                <p class="title">【理貨課】
                    <br>
                    <strong>裝櫃出貨</strong>
                </p>
            </div>
        </div>
        <div id="stageDetail" class="vAlignMiddle">
            <div class="content vAlignContent">
                <div class="btnClose">X</div>
                <div id="stage1" class="stageDetail clearfix">
                    <h2>【物控課】收貨入庫</h2>
                    <hr>
                    <div class="stageTxt">
                        <img src="images/factory/img_people01.png" alt="">
                        <ul>
                            <li>提昇現場資訊及時回饋能力</li>
                            <li>降低進料、品檢、入庫、發料過程銜接等待時間</li>
                            <li>提昇工單準時開/完工能力</li>
                        </ul>
                    </div>
                    <div class="ytvideo">
                        <h3>記銘成功訣竅-
                            <strong>以生產拉動智能備料，提昇物流速度</strong>
                        </h3>
                        <div class="videoContent">
                            <iframe id="video01" width="560" height="315" src="https://www.youtube.com/embed/DU1mqp2so6s?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div id="stage2" class="stageDetail clearfix vAlignContent">
                    <h2>【車鏡課】備料組裝</h2>
                    <hr>
                    <div class="stageTxt">
                        <img src="images/factory/img_people02.png" alt="">
                        <ul>
                            <li>提昇現場資訊及時回饋能力</li>
                            <li>減少資訊錯誤傳遞</li>
                            <li>降低前後製程銜接等待時間</li>
                            <li>提昇生產效率及縮短生產天數</li>
                        </ul>
                    </div>
                    <div class="ytvideo">
                        <h3>記銘成功訣竅-
                            <strong>以人機加速報工效率，打造智能現場</strong>
                        </h3>
                        <div class="videoContent">
                            <iframe id="video02" width="560" height="315" src="https://www.youtube.com/embed/25qdb9V3h1A?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div id="stage3" class="stageDetail clearfix vAlignContent">
                    <h2>【產計課】產銷計畫</h2>
                    <hr>
                    <div class="stageTxt">
                        <img src="images/factory/img_people03.png" alt="">
                        <ul>
                            <li>提昇產能利用效率</li>
                            <li>加速排產應變能力</li>
                            <li>提昇訂單交期回覆能力</li>
                            <li>提昇訂單準時交付能力</li>
                        </ul>
                    </div>
                    <div class="ytvideo">
                        <h3>記銘成功訣竅-
                            <strong>以排程打通產銷二脈，用速度決勝負</strong>
                        </h3>
                        <div class="videoContent">
                            <iframe id="video03" width="560" height="315" src="https://www.youtube.com/embed/lBUUhHV4riY?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div id="stage4" class="stageDetail clearfix vAlignContent">
                    <h2>【管理者】智能管理</h2>
                    <hr>
                    <div class="stageTxt">
                        <img src="images/factory/img_people04.png" alt="">
                        <ul>
                            <li>提昇異常預警能力</li>
                            <li>加速異常處理時效</li>
                            <li>提昇整體生產效率</li>
                            <li>縮短訂單交付天數</li>
                        </ul>
                    </div>
                    <div class="ytvideo">
                        <h3>記銘成功訣竅-
                            <strong>將主動提醒融入日常管控，逐步實踐智慧工廠管理</strong>
                        </h3>
                        <div class="videoContent">
                            <iframe id="video04" width="560" height="315" src="https://www.youtube.com/embed/rwq7fpvVdzY?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div id="stage5" class="stageDetail clearfix vAlignContent">
                    <h2>【塑膠課】生產報工</h2>
                    <hr>
                    <div class="stageTxt">
                        <img src="images/factory/img_people05.png" alt="">
                        <ul>
                            <li>提昇現場資訊及時回饋能力</li>
                            <li>提昇機台排產應變能力</li>
                            <li>降低前後製程銜接等待時間</li>
                            <li>提昇生產效率及縮短生產天數</li>
                        </ul>
                    </div>
                    <div class="ytvideo">
                        <h3>記銘成功訣竅-
                            <strong>以齊套調度機台生產，提昇有效稼動</strong>
                        </h3>
                        <div class="videoContent">
                            <iframe id="video05" width="560" height="315" src="https://www.youtube.com/embed/YxiifyJ_vtk?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div id="stage6" class="stageDetail clearfix vAlignContent">
                    <h2>【理貨課】裝櫃出貨</h2>
                    <hr>
                    <div class="stageTxt">
                        <img src="images/factory/img_people06.png" alt="">
                        <ul>
                            <li>提昇現場資訊及時回饋能力</li>
                            <li>提昇訂單齊套出貨能力</li>
                            <li>提昇出貨及時正確能力</li>
                            <li>降低出錯貨公司營業損失</li>
                        </ul>
                    </div>
                    <div class="ytvideo">
                        <h3>記銘成功訣竅-
                            <strong>以裝櫃通報指導出貨，確保交貨精確</strong>
                        </h3>
                        <div class="videoContent">
                            <iframe id="video06" width="560" height="315" src="https://www.youtube.com/embed/3pVmLRMBwIk?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="video" class="section">
        <div class="content">
            <h2>資訊化時代來臨，智慧工廠將是未來趨勢</h2>
            <p class="sectionDesc-center">彈性接單、快速出貨，將是企業未來制勝關鍵！</p>
            <div class="videoGroup clearfix">
                <div class="videoList">
                    <a href="https://youtu.be/vIwGiWro_Ws" target="_blank">
                        <img src="images/factory/img_video01.jpg" alt="向下紮根公司基礎，向上規劃智造藍圖，上下一心實現智慧工廠願景">
                        <h3>向下紮根公司基礎，向上規劃智造藍圖，上下一心實現智慧工廠願景</h3>
                    </a>
                </div>
                <div class="videoList">
                    <a href="https://youtu.be/rwq7fpvVdzY" target="_blank">
                        <img src="images/factory/img_video02.jpg" alt="建立產銷協調機制，產能可視排程更順暢">
                        <h3>建立產銷協調機制，產能可視排程更順暢</h3>
                    </a>
                </div>
                <div class="videoList">
                    <a href="https://youtu.be/Ur0mfBvXH6k" target="_blank">
                        <img src="images/factory/img_video03.jpg" alt="改變徹底翻轉記銘，使現場更加井然有序，再創營收新高">
                        <h3>改變徹底翻轉記銘，使現場更加井然有序，再創營收新高</h3>
                    </a>
                </div>
                <div class="videoList">
                    <a href="http://www.digiwin.com/caseListDetail_7211.html" target="_blank">
                        <img src="images/factory/img_video04.jpg" alt="【經典案例】記銘工業穩健向前，逐步實現智能化工">
                        <h3>【經典案例】記銘工業穩健向前，逐步實現智能化工廠</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="fourKey" class="section">
        <div class="content">
            <h2>智慧工廠不僅止於減少人工作業</h2>
            <p class="sectionDesc-center">掌握四大關鍵，建立自働化工廠，方能出奇制勝</p>
            <img src="images/factory/img_fourKey.svg" alt="掌握四大關鍵，建立自働化工廠">
        </div>
    </div>
</div>