extends ../layout.pug

block includes
    link(rel='stylesheet', href='css/WB002811_common.css')
    link(rel='stylesheet', href='css/WB00281101_cost.css')

block content
    include WB00281101_cost.html