@charset "UTF-8";
main *, main *:before, main *:after {
    box-sizing: content-box;
}

main.brand a {
    color: inherit;
}

main.brand table {
    border-collapse: collapse;
    border-spacing: 0;
}

main.brand .col-2 {
    width: 50%;
}

main.brand .col-3 {
    width: 33.33333%;
}

main.brand .col-4 {
    width: 25%;
}

main.brand .col-5 {
    width: 20%;
}

main.brand .section {
    position: relative;
    width: 100%;
    min-width: 1200px;
    padding: 70px 0;
    font-family: Arial, "微軟正黑體";
    font-size: 18px;
    line-height: 1.5;
}

main.brand .section * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main.brand .section h2 {
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
}

main.brand .section h3 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2;
}

main.brand .section .title-line {
    overflow: hidden;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

main.brand .section .title-line span {
    display: inline-block;
    position: relative;
}

main.brand .section .title-line span:before, main.brand .section .title-line span:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 1000%;
    border-bottom: 1px solid #aeaeae;
}

main.brand .section .title-line span:before {
    left: 100%;
    margin-left: 10px;
}

main.brand .section .title-line span:after {
    right: 100%;
    margin-right: 10px;
}

main.brand .section p {
    margin: 0;
    text-align: justify;
}

main.brand .content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

main.brand .vAlignMiddle {
    text-align: center;
    font-size: 0;
}

main.brand .vAlignMiddle:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

main.brand .vAlignMiddle .vAlignContent {
    display: inline-block;
    vertical-align: middle;
}

main.brand .circle {
    margin: 0 auto;
    border-radius: 50%;
}

main.brand .floatLeft {
    float: left;
}

main.brand .floatRight {
    float: right;
}

main.brand .imgCenter {
    display: block;
    margin: 0 auto;
}

main.brand p.imgNote {
    font-size: 19px;
    text-align: center;
}

main.brand p.sectionDesc, main.brand p.sectionDesc-center {
    margin: 0 auto 30px;
    padding: 0 140px;
    font-size: 20px;
    line-height: 1.5;
}

main.brand p.sectionDesc-center {
    text-align: center;
}

main.brand .link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

main.brand .link-normal {
    background-color: #53cfd9;
    color: #fff;
}

main.brand .link-normal:hover {
    background-color: #2dc0cc;
}

main.brand .link-outline {
    background-color: transparent;
    border: 1px solid #53cfd9;
    color: #53cfd9;
}

main.brand .link-outline:hover {
    background-color: #53cfd9;
    color: #fff;
}

main.brand .link-block {
    display: block;
    margin: 0 auto;
}

main.brand .linkGroup {
    text-align: center;
}

main.brand .highLight {
    color: #ffff00;
}

main.brand .pageName {
    width: 1200px;
    line-height: 48px;
    margin: 0 auto;
    font-family: Arial, "微軟正黑體";
}

main.brand #indBanner {
    height: 500px;
    margin-bottom: 60px;
    padding: 0;
    color: #fff;
}

main.brand #indBanner h1 {
    margin-bottom: 4px;
    font-size: 44px;
    line-height: 1.2;
    text-align: left;
	color: #fff;
}

main.brand #indBanner .pageDesc {
    width: 700px;
    font-size: 20px;
    line-height: 1.5;
}

main.brand #indBanner {
    background: url("https://www.digiwin.com/tw/dsc/solution/WB002850/images/brand/bg_banner.jpg") no-repeat center center;
}

main.brand #indBanner strong {
    color: #ffff99;
    font-weight: normal;
}

main.brand #jobProblem .jobProblem {
    color: #fff;
}

main.brand #jobProblem .jobProblem:hover .handTop {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

main.brand #jobProblem .txt {
    float: left;
    overflow: hidden;
    width: 33.33333%;
    margin-bottom: 30px;
    padding: 0 15px;
    cursor: pointer;
}

main.brand #jobProblem .txt .outline {
    overflow: hidden;
    position: relative;
    padding: 30px 0;
    background-color: #53cfd9;
    border-radius: 2px;
}

main.brand #jobProblem .txt .nameLayer {
    position: relative;
    text-align: center;
    z-index: 2;
}

main.brand #jobProblem .txt .nameLayer p {
    margin-top: 8px;
    font-size: 24px;
    font-weight: bold;
    text-align: inherit;
}

main.brand #jobProblem .txt .txtLayer {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

main.brand #jobProblem .txt .txtLayer p {
    float: left;
    padding: 0 20px;
}

main.brand #jobProblem .txt .handTop {
    position: absolute;
    top: 95%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 24px;
    -webkit-animation: handTop 1.5s infinite;
    animation: handTop 1.5s infinite;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes handTop {
    0% {
        top: 95%;
    }
    50% {
        top: 87%;
    }
    100% {
        top: 95%;
    }
}

@keyframes handTop {
    0% {
        top: 95%;
    }
    50% {
        top: 87%;
    }
    100% {
        top: 95%;
    }
}

main.brand #jobProblem .txt .mask {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

main.brand #jobProblem .txt01 .mask,
main.brand #jobProblem .txt02 .mask,
main.brand #jobProblem .txt03 .mask {
    background-color: rgba(214, 90, 0, 0.9);
}

main.brand #jobProblem .txt04 .mask,
main.brand #jobProblem .txt05 .mask,
main.brand #jobProblem .txt06 .mask {
    background-color: rgba(68, 73, 0, 0.9);
}

main.brand #jobProblem .txt01 .outline {
    background-color: #ffac70;
}

main.brand #jobProblem .txt01 .txtLayer {
    color: #ffbb8a;
}

main.brand #jobProblem .txt02 .outline {
    background-color: #ff8f3d;
}

main.brand #jobProblem .txt02 .txtLayer {
    color: #ff9e57;
}

main.brand #jobProblem .txt03 .outline {
    background-color: #ff720a;
}

main.brand #jobProblem .txt03 .txtLayer {
    color: #ff8024;
}

main.brand #jobProblem .txt04 .outline {
    background-color: #bcc900;
}

main.brand #jobProblem .txt04 .txtLayer {
    color: #c5d300;
}

main.brand #jobProblem .txt05 .outline {
    background-color: #a4af00;
}

main.brand #jobProblem .txt05 .txtLayer {
    color: #aeb900;
}

main.brand #jobProblem .txt06 .outline {
    background-color: #747c00;
}

main.brand #jobProblem .txt06 .txtLayer {
    color: #7e8600;
}

main.brand #mainContent {
    background-color: #f5f5f5;
}

main.brand #mainContent .fa {
    display: block;
    font-size: 50px;
    color: #ccc;
    text-align: center;
    cursor: pointer;
}

main.brand #mainContent .group {
    margin: 50px 0;

}

main.brand #mainContent .group .list {
    float: left;
    width: 33.33333%;
    text-align: center;
    cursor: pointer;
}

main.brand #mainContent .group .list img {
    width: 120px;
    height: 120px;
    background-color: #53cfd9;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

main.brand #mainContent .group .list p {
    position: relative;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}

main.brand #mainContent .group .list p:before {
    content: "";
    display: block;
    position: absolute;
    top: 110%;
    left: 50%;
    width: 0;
    height: 3px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #2dc0cc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

main.brand #mainContent .group .list:hover img {
    background-color: #2dc0cc;
}

main.brand #mainContent .group .list:hover p {
    color: #2dc0cc;
}

main.brand #mainContent .group .list:hover p:before {
    width: 30%;
}

main.brand #mainContent .issue {
    display: table;
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}

main.brand #mainContent .issue.end, main.brand #mainContent .issue:last-child {
    border-bottom: none;
}

main.brand #mainContent .issue h3 {
    margin: 0;
}

main.brand #mainContent .issue h4 {
    position: relative;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
}

main.brand #mainContent .issue h4:after {
    display: block;
    content: "";
    width: 40px;
    margin-top: 20px;
    border-bottom: 2px solid #53cfd9;
}

main.brand #mainContent .issue .txtGroup {
    display: table-cell;
    position: relative;
    width: 500px;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}

main.brand #mainContent .issue .imgStyle {
    display: table-cell;
}
