@charset "UTF-8";
html,
body {
  height: 100%;
  width: 100%;
  background: #0c0500;
  font-family: "Arial", "微軟正黑體";
}
h2{
  font-size: 40px;
  line-height: 1.6;
}
h3{
  font-size: 26px;
  line-height: 1.6;
}
p {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}
a{
  text-decoration: none;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.tx1,.tx2{
  color: #fff;
  text-align: left;
}
.pc{
  display: block;
}
.mobile{
  display: none;
}
.content {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  color: #fff;
  font-family: "微軟正黑體";
}

/* .content h2 {
  height: 86px;
  line-height: 86px;
  font-size: 36px;
  color: #7bc9ff;
  border-top: 1px solid #7bc9ff;
  border-bottom: 1px solid #7bc9ff;
  font-weight: bold;
  text-align: center;
} */
.vAlignMiddle {
  text-align: center;
  font-size: 0;
}

.vAlignMiddle:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.vAlignMiddle .vAlignContent {
  display: inline-block;
  /* vertical-align: middle; */
}

/*选单开始*/
#mainNav {
  display: none;
  position: absolute;
  top: 35px;
  width: 100%;
  max-width: 1920px;
  min-width: 1200px;
  height: 85px;
  background: #e0e0e0;
  text-align: center;
  z-index: 99999;
}

#mainNav.fixed {
  position: fixed;
  top: 0;
}

#mainNav ul {
  display: inline-block;
}

#mainNav ul li {
  float: left;
  width: 324px;
  height: 75px;
  padding: 5px 0;
  cursor: pointer;
  -webkit-transition: background-color .75s;
  transition: background-color .75s;
}

#mainNav ul li a {
  display: block;
  position: relative;
  height: 100%;
  padding-left: 30px;
  border-left: 1px solid #999;
  font-size: 22px;
  line-height: 70px;
  color: #000;
}

#mainNav ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -25px 0 0 -66px;
  background: url("../images/icon_nav01.png") no-repeat center center;
}
#mainNav ul .list04 a:before{
  margin-left: -90px;
}

#mainNav ul li.large {
  width: 240px;
}

#mainNav ul li.large a:before {
  margin-left: -70px;
}

/* #mainNav ul li.last a {
  border-right: 1px solid #999;
} */

#mainNav ul li.lateStyle a {
  color: #000;
}

#mainNav ul li.lateStyle:hover {
  background-color: #e0e0e0;
  cursor: default;
}

#mainNav ul li.highlight {
  background-color: #0889ca;
}

#mainNav ul li.highlight a {
  color: #fff;
}

#mainNav ul li.list02 a:before {
  background-image: url("../images/icon_nav02.png");
}

#mainNav ul li.list03 a:before {
  background-image: url("../images/icon_nav03.png");
}

#mainNav ul li.list04 a:before {
  background-image: url("../images/icon_nav04.png");
}


/*  */

#mainNav ul li:hover, #mainNav ul li.current {
  background-color: #0889ca;
}
#mainNav ul li.current a{
  color: #fff;
}
#mainNav ul li.current a::before{

}
#mainNav ul li a:hover{
  color: #fff;
}
#mainNav ul li.list01 a:hover::before,
#mainNav ul .list01.current a::before{
  background-image: url("../images/icon_nav01_h.png");
}
#mainNav ul li.list02 a:hover::before,
#mainNav ul .list02.current a::before{
  background-image: url("../images/icon_nav02_h.png");
}
#mainNav ul li.list03 a:hover::before,
#mainNav ul .list03.current a::before{
  background-image: url("../images/icon_nav03_h.png");
}

#mainNav ul li.list04 a:hover::before,
#mainNav ul .list04.current a::before {
  background-image: url("../images/icon_nav04_h.png");
}


.share {
  float: left;
  width: 209px;
  padding-left: 22px;
  margin-top: 15px;
  border-left: 1px solid #f7dbc6;
}

.share p,
.reTop p {
  font-size: 16px;
  line-height: 25px;
  color: #232121;
}

.shareIcon span {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: url(../images/web/iconShar.png) no-repeat;
  cursor: pointer;
}

.shareIcon a:hover span {
  background: url(../images/web/iconShaHo.png) no-repeat;
}

.shareIcon a:nth-of-type(1) span {
  background-position: left center;
}

.shareIcon a:nth-of-type(2) span {
  background-position: -50px center;
}

.shareIcon a:nth-of-type(3) span {
  background-position: -100px center;
}

.shareIcon a:nth-of-type(4) span {
  background-position: -153px center;
}

.reTop {
  float: left;
  width: 95px;
  height: 65px;
  margin-top: 15px;
  border-left: 1px solid #f7dbc6;
  border-right: 1px solid #f7dbc6;
  cursor: pointer;
}

.reTop span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 40px;
  height: 40px;
  background: url("../images/web/iconTop.png") no-repeat center;
}

.mainNav .share,
.mainNav .reTop {
  display: block;
}

/*选单结束*/
/*banner样式开始*/
#banner {
  background: url("../images/headerbg.jpg") no-repeat center top;
  background-size: cover;
}

.section-1 {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 0;
  text-align: center;
  font-family: "微軟正黑體";
}
.h_margin{
  margin-top: 230px;
  margin-bottom: 80px;
}
.pContent {
  display: block;
  width: 720px;
  height: 135px;
  background-color:rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;

}
.pContent p{
  font-size: 18px;
  color: #fff;
  text-shadow: 0 0 13px #000;
  padding: 28px 0;
}
.arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -39px;
  width: 79px;
  height: 40px;
  background: url("../images/arrow.png") no-repeat center;
  cursor: pointer;
}



/*banner样式结束*/
main{
  background: url(../images/WBbg_pc.png) no-repeat center top;
  background-size: cover;
}
#s_bg{
  position: relative;
  height: auto;
  width: 100%;
  font-size: 0;
  text-align: center;
  overflow: hidden;
}
.section1 {
  width: 100%;
  max-width: 1920px;
  min-width: 1200px;
  text-align: center;
}
#recent{
  overflow: hidden;
}
#recent h2,#agenda h2,#live_t h2,#period h2,#reward h2{
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
#recent h2 span,#agenda h2 span,#live_t h2 span,
#period h2 span,#reward h2 span{
  display: block;
  position: relative;
  text-align: center;
}
#recent h2 span::before,#recent h2 span::after,
#agenda h2 span::before,#agenda h2 span::after,
#live_t h2 span::before,#live_t h2 span::after
{
  content: '';
  position: absolute;
  top: 50%;
  background: #fff;
  width: 480px;
  height: 1px;
}
#recent h2 span::before,#agenda h2 span::before,
#live_t h2 span::before,#period h2 span::before,#reward h2 span::before{
  left: 0;
}
#recent h2 span::after,#agenda h2 span::after,
#live_t h2 span::after,#period h2 span::after,#reward h2 span::after
{
  right: 0;
}

.r_sw_w{
  width: 1200px;
  height: 378px;
  overflow: hidden;
}
#recent .swiper-button-prev:after,#teaIntr .swiper-button-prev:after,
.device .swiper-button-prev:after{
  content: url("../images/arrow_left.png");
}
#recent .swiper-button-next:after,#teaIntr .swiper-button-next:after,
.device .swiper-button-next:after,#period .swiper-button-next:after{
  content: url("../images/arrow_right.png");
}
/*  */
#recent .swiper-button-next,
#recent .swiper-container-rtl .swiper-button-prev ,
#teaIntr .swiper-button-next,
#teaIntr .swiper-container-rtl .swiper-button-prev,
.device .swiper-button-next,
.device .swiper-container-rtl .swiper-button-prev,
#period .swiper-button-next,
#period .swiper-container-rtl .swiper-button-prev
{
  right: 0;
  left: auto;
  background: none;
}
#recent .swiper-button-prev,
#recent .swiper-container-rtl .swiper-button-next,
#teaIntr .swiper-button-prev,
#teaIntr .swiper-container-rtl .swiper-button-next,
.device .swiper-button-prev,
.device .swiper-container-rtl .swiper-button-next,
#period .swiper-button-prev,
#period .swiper-container-rtl .swiper-button-next
{
  left: 0;
  right: auto;
  background: none;
}

#recent .swiper-container-horizontal>.swiper-pagination-bullets,
#recent  .swiper-pagination-custom,
#recent  .swiper-pagination-fraction,
#teaIntr .swiper-container-horizontal>.swiper-pagination-bullets,
#teaIntr .swiper-pagination-custom,
#teaIntr .swiper-pagination-fraction,
.device .swiper-container-horizontal>.swiper-pagination-bullets,
.device .swiper-pagination-custom,
.device .swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  width: 100%;
}
#recent .swiper-pagination-bullet,
#teaIntr .swiper-pagination-bullet,
.device .swiper-pagination-bullet{
  width:12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  opacity: 1;
}
#recent .swiper-pagination-bullet-active,
#teaIntr .swiper-pagination-bullet-active,
.device .swiper-pagination-bullet-active{
  opacity: 1;
  background: #ffe400;
}

.r_video{
  margin-top: 75px;
  margin-bottom: 50px;
  overflow: hidden;
}
.r_video .fl{
  width: 700px;
  height: 395px;
  background: #c8c8c8;
}

.r_video .tx1{
  padding-top: 30px;
  padding-bottom: 30px;
}
.r_video h3{
  color: #e4ff03;
  padding-top: 15px;
  font-weight: 600;
  text-align: left;
}



/*讲师阵容样式开始*/
#teaIntr .swiper-wrapper{
  width: 1080px;
  height: auto;
  margin-bottom: 50px !important;
}
/* #teaIntr .swiper-slide{
  width: 20%;
}
#teaIntr .swiper-slide:nth-child(2n){
  width: 20%;
}
#teaIntr .swiper-slide:nth-child(3n){
  width: 20%;
} */
#teaIntr .swiper-button-prev,
#teaIntr .swiper-container-rtl .swiper-button-next,
#teaIntr .swiper-button-next,
#teaIntr .swiper-container-rtl .swiper-button-prev{
  top:100px;
}
#teaIntr .ename{
  color: #00d2ff;
  font-size: 22px;
  font-weight: 600;

}

#teaIntr .ejob{
  color: #00d2ff;
  font-size: 15px;
}

/*讲师详细介绍开始*/
.device {
  width: 1010px;
  height: 490px;
  position: relative;
  background: #0b82a6;
  margin: 58px auto 58px;
}
.teawrap {
  position: relative;
  width: 970px;
  height: 410px;
  padding-top: 50px;
  overflow: hidden;
}

.teaimg{
  margin-left: 100px;
}
.teatxt{
  width:540px;
  margin-right: 100px;
  text-align:left;
}
.ph4{
  color: #ffe400;
  font-size: 36px;
  font-weight: bold;
}
.ph5{
  color: #ffe400;
  font-size: 18px;
}
.p_txt{
  text-align: justify;
}
.wrap a {
  position: absolute;
 z-index: 9999;
}


.wrap {
 position: relative;
 display: none;
}

.close {
  position: absolute;
  top: -16px;
  right: -19px;
  width: 41px;
  height: 41px;
  background: url(../images/close.png) no-repeat;
}

/*讲师详细介绍结束*/
/*讲师阵容样式结束*/
/*活动场次开始*/
.c_bg{
  position: relative;
  width: 100%;
  height: 50px;
  background: #6fc9f6;
  overflow: hidden;
}
.f_z{
  display: block;
  line-height: 50px;
  font-size: 22px;
  font-weight: bold;
  color: #04162c;
  text-align: left;
  padding-left: 15px;
  overflow: hidden;
}
.f_z span{
  font-size: 30px;
}
.group{
  position: relative;
  overflow: hidden;
}
.live_p{
  margin-top: 18px;
}
.live_p li{
  float: left;
  width: 50%;
  height: 180px;
  margin-bottom: 40px;
}
.live_p li .fl{
  width: 17%;
}
.live_tit{
  display: block;
  background: #067476;
  height: 24px;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 5px;
}
.l_1{
  width: 55px;
  line-height: 24px;
  color: #fff;
}
.l_2{
  width: 100px;
  line-height: 24px;
  color: #fff;
}
.list_f{
  width: 80%;
  margin-left: 15px;
}
.h_tit{
  color:#f0ff00;
  font-size: 20px;
  text-align: left;
}
.t_p{
  color: #fff;
  text-align: left;
}
.time_p{
  color: #14ff00;
  text-align: left;
}
.signups,.signupsd{
  display: flex;
  margin-top: 10px;
  /* justify-content: center; */
}
.signup {
  display: block;
  border: 1px solid #00faff;
  border-radius: 1px;
  font-size: 18px;
  color: #00faff;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.signup a{
  line-height: 30px;
}
.signup:first-child{
  margin-right: 10px;
  border: 1px solid #f5e328;
  color: #f5e328;

}
.c_bg_c{
  background: #72f9f1;
}
.c_bg_d{
  background: #72f99b;
}

#reward h2 span::before,#reward h2 span::after
{
  content: '';
  position: absolute;
  top: 50%;
  background: #fff;
  width: 460px;
  height: 1px;
}
.ipdaImg{
  width: 100%;
  overflow: hidden;
}
.ftxt{
  text-align: left;
}
.ftxt span{
  font-weight: bold;
  font-size: 26px;
  color: #e4ff03;
}
.mtxt{
  padding-top:10px;
  padding-bottom: 90px;
  text-align: left;
}
.Img1{
  margin-right: 120px;
}
.signupsd{
  margin-top: 40px;
  margin-bottom: 35px;
  justify-content: center;
}
.signupd{
  display: block;
  text-align: center;
  width: 500px;
  height: 90px;
  line-height: 90px;
  color: #034f93;
  font-size: 50px;
  font-weight: bolder;
  background: #e4ff03;
  border-radius: 10px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a+a{
  margin-left: 40px;
}
#period h2{
  padding-top: 80px;
}
#period h2 br{
  display: none;
}
#period h2 span::before,#period h2 span::after
{
  content: '';
  position: absolute;
  top: 50%;
  background: #fff;
  width: 260px;
  height: 1px;
}
#period .swiper-container{
  margin-bottom: 50px;
}
#period .swiper-button-prev:after{
  content: url("../images/review-arrow-l.png");
}
#period .swiper-button-next:after{
  content: url("../images/review-arrow-r.png");
}




@media screen and (max-width: 768px) and (min-width: 320px){
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body,
  html {
    position: relative;
  }
  .pc{
    display: none;
  }
  .mobile{
    display: block;
  }
  .content {
    width: 100%;
  }
  #TOP-MENU {
    position: relative;
    z-index: 2;
  }
  /*选单开始*/
  #mainNav {
    top: 50px;
    max-width: 100%;
    min-width: 100%;
    height: 50px;
  }
  #mainNav.fixed {
    top: auto;
    bottom: 0;
  }
  #mainNav ul {
    width: 100%;
  }
  #mainNav ul li {
    width: 25%;
    min-width: 40px;
    height: 50px;
    padding: 0;
  }
  #mainNav ul li a {
    padding-left: 0;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
  }
  #mainNav ul li a:before {
    display: none;
    margin: -20px 0 0 -20px;
  }
  /* #mainNav ul li.large {
    width: 25%;
    min-width: 80px;
  } */
  #mainNav ul li.large a:before {
    margin-left: -70px;
  }
  #mainNav ul li.last {
    width: 25%;
    min-width: 40px;
  }
  #mainNav ul li.last a {
    border-right: none;
    text-indent: -99999px;
  }
  #mainNav ul li.last a:before {
    display: block;
  }
  #mainNav ul li.lateStyle a {
    color: #aaa;
  }
  #mainNav ul li.highlight {
    background-color: #0889ca;
  }
  #mainNav ul li.highlight a {
    color: #fff;
  }
  #mainNav ul li.list01 a {
    border-left: none;
  }
  #mainNav ul li.list04 a:before {
    background-image: url("../images/icon_nav04.png");
    margin-left: -20px;
  }
  #mainNav ul li:hover {
    background-color: #fff;
  }
  #mainNav ul li a:hover {
    color: #000;
  }
  #mainNav ul li.current {
    background-color: #0889ca;
  }
  #mainNav ul li.current a{
    color: #fff;
  }
  /*选单结束*/
  /*移动版banner开始*/
  #banner {
    width: 100%;
    height: 483px;
     /*margin-top: -50px;*/
    background: url("../images/headerbg_m.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    
  }
  .vAlignMiddle {
    text-align: center;
    font-size: 0;
  }
  
  .vAlignMiddle:before {
    content: "";
    height: 100%;
    display: block;
    vertical-align: middle;
  }
  
  .vAlignMiddle .vAlignContent {
    display: block;
    /* vertical-align: middle; */
  }

  .h_margin{
    max-width: 100%;
    margin-top: -345px;
    margin-bottom: 10%;
  }
  .pContent {
    width: 90%;
    height: 120px;
  }
  .pContent p{
    font-size: 16px;
    padding: 10px 15px;
    text-align: justify;
  }
  .pContent p br{
    display: none;
  }
  .arrow{
    display: none;
  }

  main{
    background: #01294b;
    background-size: cover;
  }

  #recent h2,#agenda h2,#live_t h2,#period h2,#reward h2{
    color: #fff;
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #recent h2 span,#agenda h2 span,#live_t h2 span,#period h2 span,#reward h2 span{
    display: block;
    position: relative;
    text-align: center;
  }
  #recent h2 span::before,#recent h2 span::after,
  #agenda h2 span::before,#agenda h2 span::after,
  #live_t h2 span::before,#live_t h2 span::after
  {
    content: '';
    position: absolute;
    top: 50%;
    background: #fff;
    width: 25%;
    height: 1px;
  }
  #recent h2 span::before,#agenda h2 span::before,
  #live_t h2 span::before,#period h2 span::before,#reward h2 span::before{
    left: 0;
  }
  #recent h2 span::after,#agenda h2 span::after,
  #live_t h2 span::after,#period h2 span::after,#reward h2 span::after
  {
    right: 0;
  }
  .r_sw_w {
    width: 100%;
  }
  .r_sw_w  .swiper-slide img {
    width: 80%;
    height: 80%;
  }
  .r_video {
    width: 100%;
    height: auto;
  }
  .r_video .fl {
    float: none;
  }
  .r_video .fl{
    width: 100%;
    height: 338px;
    overflow: hidden;
  }
  iframe{
    width: 100%;
    height: 338px;
  }
  .r_video .fr {
    float: none;
  }
  .r_video .fr img {
    width: 90%;
    margin-top: 5%;
  }
  .r_video .tx1 br ,.r_video .tx2 br{
    display: none;
  }
  .r_video .tx1 ,.r_video .tx2{
    text-align: justify;
    padding: 20px;
  }
  .r_video h3{
    font-size: 22px;
    padding: 0 20px;
  }

  #teaIntr .swiper-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 0 !important;
  }
  #teaIntr .swiper-slide img{
    width: 90%;
  }

  .device {
    width: 90%;
    height: auto;
    position: relative;
    background: #0b82a6;
    margin: 2% auto 5%;

  }
  .teawrap {
    position: relative;
    width: 80%;
    height: auto;
    padding-top: 10px;
    overflow: hidden;
  }

  .teaimg{
    display: none;
  }
  .teatxt{
    float: none;
    width:100%;
    margin-right: 0;
    text-align:justify;
  }

  .ph4{
    color: #ffe400;
    font-size: 30px;
    font-weight: bold;
  }
  .ph5{
    color: #ffe400;
    font-size: 18px;
  }
  .p_txt{
    text-align: justify;
    padding-bottom: 8%;
  }
  .close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background: url(../images/close_m.png) no-repeat;
  }
  /*活动场次开始*/
  .c_bg {
   margin-bottom: 20px;
  }
  .live_p{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  .live_p li {
    float: none;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    overflow: hidden;
  }
  .live_p li .fl{
    width: 20%;
  }
  .list_f{
    width: 70%;
    padding-left: 16px;
  }
  .h_tit {
    font-size: 18px;
  }
  #reward h2 span::before,#reward h2 span::after
  {
    content: '';
    position: absolute;
    top: 50%;
    background: #fff;
    width: 15%;
    height: 1px;
  }
  .ipadImg{
    padding: 0 5%;
    text-align: justify;
  }
  .mtxt{
    padding-bottom: 5%;
  }
  .Img1{
    margin-bottom: 15%;
  }
  .px1 br{
    display: none;
  }
  .px1{
    text-align: justify;
    padding: 0 10%;
  }
  .signupd{
    width: 90%;
  }
  /*活动场次结束*/
  #period h2 br{
    display: block;
  }
  #period h2 span::before,#period h2 span::after
  {
    content: '';
    position: absolute;
    top: 50%;
    background: #fff;
    width: 10%;
    height: 1px;
  }
  #period .swiper-container{
    margin-bottom: 50px;
  }
  #period .swiper-slide img{
    max-width: 100%;
  }
  /*固定选单开始*/
  .mainNav {
    height: 50px;
  }
  .mainNav .share,
  .mainNav .reTop {
    display: none;
  }
  .mainNav ul {
    float: none;
    width: 100%;
    margin: 0;
  }
  .mainNav ul li:nth-of-type(6) {
    display: none;
  }
  .mainNav ul li:nth-of-type(5) {
    width: 20%;
    border: none;
    background: none;
  }
  .mainNav ul li:nth-of-type(5) a {
    color: #232121;
    background: none;
  }
  .mainNav ul li:nth-of-type(5) a:hover {
    background: none;
  }
  .mainNav ul > li {
    width: 20%;
    height: 50px;
    border: none;
    border-right: 1px solid #f7dbc6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
  }
  .mainNav ul > li a {
    display: block;
    color: #232121;
    font-size: 16px;
    line-height: 50px;
    text-indent: 0;
  }
  .mainNav ul > lia.now {
    color: #de0d08;
  }
  .mainNav ul > li:nth-of-type(4) {
    width: 20%;
  }
  /*固定选单结束*/
  /*我要报名开始*/
  #register {
    display: none;
    position: fixed;
    right: 7px;
    right-bottom: 55px;
    right-width: 32px;
    right-padding: 8px 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -o-border-radius-cursor: pointer;
    -o-border-radius-z-index: 9999;
    -o-border-radius--webkit-box-sizing: content-box;
    -o-border-radius-color: #fff;
    -o-border-radius-text-align: center;
    -o-border-radius-background-color: #f96865;
  }
  /*我要报名结束*/
  /*返回顶部开始*/
  #returnTop {
    display: none;
    position: fixed;
    right: 7px;
    width: 49px;
    height: 49px;
    bottom: 50px;
    background: #f96865;
    background-border-radius: 6px;
    -webkit-border-radius: 6px;
    -webkit-border-radius--moz-border-radius: 6px;
    -webkit-border-radius--o-border-radius: 6px;
    -webkit-border-radius--o-border-radius-z-index: 9999;
  }
  #returnTop span {
    position: absolute;
    left: 13px;
    top: 5px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom: 15px solid #fff;
  }
  /*返回顶部结束*/
  #dgwFooter {
    margin-bottom: 50px;
  }
}

/*@media screen and (max-width: 620px) and (min-width: 346px) {*/
/*  .pc{*/
/*    display: none;*/
/*  }*/
/*  .mobile{*/
/*    */
/*    display: block;*/
/*  }*/
/*  .section3 .sec3Wrap:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 72px;*/
/*    left: 6%;*/
/*    width: 4px;*/
/*    height: 89%;*/
/*    background-color: #fff;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 345px) and (min-width: 320px) {*/
/*  .pc{*/
/*    display: none;*/
/*  }*/
/*  .mobile{*/
/*    */
/*    display: block;*/
/*  }*/
/*  #mainNav ul li a {*/
/*    padding-left: 0;*/
/*    font-size: 16px;*/
/*  }*/
/*  .section3 .sec3Wrap:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 72px;*/
/*    left: 6.3%;*/
/*    width: 4px;*/
/*    height: 89%;*/
/*    background-color: #fff;*/
/*  }*/
/*  #teaIntr li p {*/
/*    font-size: 14px;*/
/*  }*/
/*  .activ a p {*/
/*    font-size: 14px;*/
/*  }*/
/*  .city span {*/
/*    margin-left: 10px;*/
/*  }*/
/*  .content h2 {*/
/*    font-size: 20px;*/
/*    letter-spacing: 0;*/
/*  }*/
/*}*/
