<!--banner-->
<section id="banner">
    <div class="container">
        <h1>
            數智工廠戰情室
        </h1>
        <p class="text">
            實現工廠管理透明化，提升營運效率
        </p>
    </div>
</section>
<!--數據管理-->
<section id="power">
    <div class="container">
        <h2>數據管理軟實力 展現智能製造競爭力</h2>
        <h4>整合多平臺數據，透過工廠看板即時展現人、機、料動態， <br>
            透過數據視覺化、透明化，建立監控預警機制，讓企業數據管理有跡可循。
        </h4>
        <img src="images/power1.png" alt="" class="pc">
        <img src="images/power1_m.png" alt="" class="m-mobile">
    </div>
</section>
<!--模型-->
<section id="model">
    <div class="container">
        <h2>沉澱行業輔導經驗與知識 形成管理模型</h2>
        <h4>IT+OT數據全面整合，確保數據來源即時有效。沉澱行業（汽配、機械加工、金屬加工、塑膠、電子半導體等等）經驗， <br>
            內置應用數據模型，使用者可直接組建管理所需看板。
        </h4>
        <img src="images/model1.png" alt="" class="pc">
        <img src="images/model1_m.png" alt="" class="m-mobile">
    </div>
</section>
<!--需求-->
<section id="needs">
    <div class="container">
        <h2>滿足各層級數位化管理需求</h2>
        <h4>從工廠、加工區與產線不同層級管理需求，進行人機料法環資訊即時採集與分析， <br>
            快速掌握製造現場脈動。
        </h4>
        <ul class="Visualization pc">
            <li><img src="images/needsv1.png" alt=""></li>
            <li><img src="images/needsv2.png" alt=""></li>
            <li><img src="images/needsv3.png" alt=""></li>
        </ul>
        <div class="swiper-container m-mobile">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/mneedsv1.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/mneedsv2.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/mneedsv3.png" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <h3 class="pc">---------------------------------------提升與強化製造現場管理能力---------------------------------------</h3>
        <h3 class="m-mobile">
            提升與強化製造現場管理能力
        </h3>
        <ul class="digitalize pc">
            <li>
                <img src="images/needsd1.png" alt="">
                <p class="wtxt">掌握生產實際產能、設備生產效率、監控設備運行狀態及能耗與環境狀態。</p>
            </li>
            <li>
                <img src="images/needsd2.png" alt="">
                <p class="wtxt1">提煉30多年行業輔導經驗，提供各行業專屬管理戰情室模板，快速掌握工廠管理重點與方向。</p>
            </li>
            <li>
                <img src="images/needsd3.png" alt="">
                <p class="wtxt">提供應用單元庫，可基於管理目的與需求，快速
                    配置應用單元，輕鬆轉換戰情室管理主題與場景。</p>
            </li>
        </ul>
        <div class="swiper-container m-mobile">
            <div class="swiper-wrapper ml">
                <div class="swiper-slide m2">
                    <img src="images/mneedsd1.png" alt="">
                </div>
                <div class="swiper-slide m2">
                    <img src="images/mneedsd2.png" alt="">
                </div>
                <div class="swiper-slide m2">
                    <img src="images/mneedsd3.png" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<!--管理特色-->
<section id="item">
    <div class="container">
        <h2>管理特色</h2>
        <ul>
            <li>
                <img src="images/zx.png" alt="">
                <p class="boldH color1">
                    資訊即時<br>
                    可視透明
                </p>
                <p class="ptxt">直觀視覺化圖表呈現，快速且易於數據分析與判斷</p>
            </li>
            <li>
                <img src="images/mj.png" alt="">
                <p class="boldH color2">
                    敏捷動態 <br>
                    快速響應
                </p>
                <p class="ptxt">支持全載具應用，隨時隨地掌握生產現場狀況</p>
            </li>
            <li>
                <img src="images/gl.png" alt="">
                <p class="boldH color3">
                    管理無邊界<br>
                    高效運營
                </p>
                <p class="ptxt">可即時切換個加工區生產運作情形，掌握全局</p>
            </li>
            <li>
                <img src="images/ks.png" alt="">
                <p class="boldH color4">
                    快速應變<br>
                    支撐決策
                </p>
                <p class="ptxt">人員、設備、環境現場資訊即時且透明，監控異常狀況</p>
            </li>
            <li>
                <img src="images/sd.png" alt="">
                <p class="boldH color5">
                    深度分析<br>
                    釐清問題
                </p>
                <p class="ptxt">透過歷史數據交叉分析比對，釐清關鍵問題</p>
            </li>
        </ul>
    </div>
</section>
<!--案例-->
<section id="case">
    <div class="container">
        <h2>打造工廠戰情室-讓生產製造數位化與可視化</h2>
        <ul class="pc">
            <li>
                <div>
                    <div class="fadeout">
                        <img src="images/case1.png" alt="">
                        <p class="boldH">客戶期望</p>
                        <img src="images/row.png" alt="" class="eimg">
                    </div>
                    <div class="fadein">
                        <p>客戶期望：<br>如何採集設備數據，使現場更透明化，可快速識別哪一些環節產生浪費，針對浪費進行改善，以及採集質量數據給相關部門，如此有利於管理能力提升！</p>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="fadeout">
                        <img src="images/case2.png" alt="">

                        <p class="boldH">實際效益</p>
                        <img src="images/row.png" alt="" class="eimg">
                    </div>
                </div>
                <div class="fadein">
                    <p>實際效益：<br>智戰情可視化看板，相當於生產調度的決策中心，包含訂單交付與執行狀況、品質交驗合格率與不合格率、能源耗損與環境狀態等，大大提高生產計畫與生產調度效能。</p>
                </div>
            </li>
        </ul>
        <ul class="m-mobile">
            <li>
                <div>
                    <div class="fadeout">
                        <img src="images/mcase1.png" alt="">
                        <p class="boldH">客戶期望</p>
                        <img src="images/mrow.png" alt="" class="eimg">
                    </div>
                    <div class="fadein">
                        <p>客戶期望：<br>如何採集設備數據，使現場更透明化，可快速識別哪一些環節產生浪費，針對浪費進行改善，以及採集質量數據給相關部門，如此有利於管理能力提升！</p>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div class="fadeout">
                        <img src="images/mcase2.png" alt="">

                        <p class="boldH">實際效益</p>
                        <img src="images/mrow.png" alt="" class="eimg">
                    </div>
                </div>
                <div class="fadein">
                    <p>實際效益：<br>智戰情可視化看板，相當於生產調度的決策中心，包含訂單交付與執行狀況、品質交驗合格率與不合格率、能源耗損與環境狀態等，大大提高生產計畫與生產調度效能。</p>
                </div>
            </li>
        </ul>
    </div>
</section>

<contact v-bind:multiple="false" source="WB002969"></contact>