main .banner {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1920px;
    &.clickable {
        cursor: pointer;
    }
    &-slide {
        padding-top: 80px;
        height: 451px;
        background-position: 100% 0;
        @media (min-width: $tablet-width + 1) {
            padding-top: 0;
            height: 501px;
            background-position: 50% 0;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        @media (min-width: $tablet-width + 1) {
            justify-content: center;
        }
    }
    &-title {
        margin-bottom: .5em;
        color: #000;
        font-weight: bold;
        font-size: 46px;
        line-height: 50px;
    }
    &-desc {
        color: #000;
        font-size: 24px;
        line-height: 36px;
    }
    &-controls {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        @media (min-width: $content-width) {
            width: $content-width;
        }
    }
    &-button-next,
    &-button-prev {
        position: absolute;
        top: 50%;
        width: 44px;
        height: 77px;
        cursor: pointer;
        transform: translateY(-50%);
    }
    &-button-next {
        right: 5px;
        background: image-url('case1/banner-btn-next.png') 100% 50%/contain no-repeat;
    }
    &-button-prev {
        left: 5px;
        background: image-url('case1/banner-btn-prev.png') 0 50%/contain no-repeat;
    }
    &-pagination {
        position: absolute;
        bottom: 13px;
        left: 50%;
        display: flex;
        transform: translateX(-50%);
        align-items: center;
        @media (min-width: $tablet-width + 1) {
            right: 46px;
            left: auto;
            transform: translateX(0);
        }
        &-bullet {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #aeaeae;
            cursor: pointer;
            & + .banner-pagination-bullet {
                margin-left: 13px;
            }
            &-active {
                background-color: #fff;
            }
        }
    }
    &.disabled {
        .swiper-wrapper {
            transform: translate3d(0px, 0, 0) !important;
        }
        .banner-pagination {
            display: none;
        }
    }
}
